{% from "govuk/components/radios/macro.njk" import govukRadios %}


{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  {{ govukRadios({
    idPrefix: "falling-when",
    name: "falling-when",
    fieldset: {
      legend: {
        text: "When did you last fall?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['falling-when'].error,
    items: [
      {
        value: "last-week",
        text: "Last week",
        checked: true if data["falling-when"] === "last-week"
      },
      {
        value: "last-month",
        text: "Last month",
        checked: true if data["falling-when"] === "last-month"
      },
      {
        value: "one-three-months",
        text: "1 to 3 months ago",
        checked: true if data["falling-when"] === "one-three-months"
      }, 
      {
        value: "less-than-six",
        text: "Less than 6 months ago",
        checked: true if data["falling-when"] === "less-than-six"
      }, 
      {
        value: "more-than-six",
        text: "More than 6 months ago",
        checked: true if data["falling-when"] === "more-than-six"
      }, 
      {
        value: "more-than-twelve",
        text: "More than 12 months ago",
        checked: true if data["falling-when"] === "more-than-twelve"
      }
    ]
  }) }}

 
{% endblock %}