{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Moving around indoors during the day</span>
    <h1 class="govuk-heading-l">
       You told us you have difficulty when you move around indoors
    </h1>
  
  {{ govukCheckboxes
    ({
      idPrefix: "moving-indoors-day",
      name: "moving-indoors-day",
      fieldset: {
        legend: {
          text: "What do you find difficult when moving around indoors?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: data.validation['moving-indoors-day'].error,
      items: [{
        value: "moving-physical",
        text: "Yes, I have physical difficulty moving around indoors",
        checked: true if data["moving-indoors-day"] and data["moving-indoors-day"].includes("moving-physical")
      },
      {
        value: "moving-motivation",
        text: "Yes, I need encouragement or prompting to move around indoors",
        checked: true if data["moving-indoors-day"] and data["moving-indoors-day"].includes("moving-motivation")
      },
      {
        value: "moving-physical",
        text: "Yes, I have physical difficulty moving around indoors",
        checked: true if data["moving-indoors-day"] and data["moving-indoors-day"].includes("moving-physical")
      },
      {
        value: "moving-motivation",
        text: "Yes, I need encouragement or prompting to move around indoors",
        checked: true if data["moving-indoors-day"] and data["moving-indoors-day"].includes("moving-motivation")
      },
      {
        value: "moving-physical",
        text: "Yes, I have physical difficulty moving around indoors",
        checked: true if data["moving-indoors-day"] and data["moving-indoors-day"].includes("moving-physical")
      },
      {
        value: "moving-motivation",
        text: "Yes, I need encouragement or prompting to move around indoors",
        checked: true if data["moving-indoors-day"] and data["moving-indoors-day"].includes("moving-motivation")
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "None of these apply to me",
        behaviour: "exclusive",
        checked: true if data["moving-indoors-day"] and data["moving-indoors-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}