{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "v5.9.0-layouts/prototypeLayout.njk" %}

{% block form %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("helping-someone", "they")
  %}

  {% set allErrors  = ' govuk-input--error ' if data.validation['moved-from-scotland-date'].error.href === '#moved-from-scotland-date' %}
  {% set dayError   = ' govuk-input--error ' if data.validation['moved-from-scotland-date'].error.href === '#moved-from-scotland-date-day' %}
  {% set monthError = ' govuk-input--error ' if data.validation['moved-from-scotland-date'].error.href === '#moved-from-scotland-date-month' %}
  {% set yearError  = ' govuk-input--error ' if data.validation['moved-from-scotland-date'].error.href === '#moved-from-scotland-date-year' %}

  {% set previousResidenceScotlandHtml %}
    {{ govukDateInput({
      id: "moved-from-scotland-date",
      namePrefix: "moved-from-scotland-date",
      classes: "govuk-!-margin-bottom-2",
      fieldset: {
        legend: {
          classes: "govuk-body",
          text: "When did " + person + " move from Scotland?"
        }
      },
      hint: {
        text: "For example, 13 1 2025"
      },
      errorMessage: data.validation['moved-from-scotland-date'].error,
      items: [
        {
          classes: 'govuk-input--width-2' + allErrors + dayError,
          name: 'day',
          value: data['moved-from-scotland-date-day']
        },
        {
          classes: 'govuk-input--width-2' + allErrors + monthError,
          name: 'month',
          value: data['moved-from-scotland-date-month']
        },
        {
          classes: 'govuk-input--width-4' + allErrors + yearError,
          name: 'year',
          value: data['moved-from-scotland-date-year']
        }
      ]
    }) }}
  {% endset -%}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">Have you moved from Scotland to {{ data['residence-country'] | capitalize }} since 21 October 2024?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">Have they moved from Scotland to {{ data['residence-country'] | capitalize }} since 21 October 2024?</h1>
    {% endif %}
  </legend>

  {{ govukRadios({
    idPrefix: "previous-residence-scotland",
    name: "previous-residence-scotland",
    errorMessage: data.validation['previous-residence-scotland'].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["previous-residence-scotland"] === "yes", 
        conditional: {
            html: previousResidenceScotlandHtml
          }
      },
      {
        value: "no",
        text: "No",
        checked: true if data["previous-residence-scotland"] === "no"
      }
    ]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}