{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}
  <h1 class="govuk-heading-l">Accessibility statement for Apply for Attendance Allowance</h1>
  <p class="govuk-body">This accessibility statement applies to the <a href="https://apply-for-attendance-allowance.dwp.gov.uk/atal-apply-ui/verification-code" class="govuk-link">Apply for Attendance Allowance service</a>.</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Using this service</h2>
  <p class="govuk-body">This service is run by the Department for Work and Pensions (DWP).
    We want as many people as possible to be able to use this service. For example, that means you should be able to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>change colours, contrast levels and fonts using browser or device settings</li>
    <li>zoom in up to 400% without the text spilling off the screen</li>
    <li>navigate all of the service using a keyboard or speech recognition software</li>
    <li>listen to most of the service using a screen reader </li>
  </ul>
  <p class="govuk-body">We’ve also made the service text as simple as possible to understand.</p>
  <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk" class="govuk-link">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Feedback and contact information</h2>
  <p class="govuk-body">If you find any problems that are not listed on this page, or think we're not meeting accessibility requirements, you can:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://secure.dwp.gov.uk/contact-dwp-about-accessibility/contact-form?lang=en" target=”_blank” class="govuk-link">Report an accessibility problem to DWP</a> (opens in a new tab)</li>
    <li><a href="https://www.gov.uk/attendance-allowance/how-to-claim" class="govuk-link">Contact the Attendance Allowance service</a></li>
  </ul>
  <p class="govuk-body">As part of providing this service, we may need to send you messages or documents.</p>
  <p class="govuk-body">We’ll ask you how you want us to send messages or documents to you,
  but <a href="https://www.gov.uk/attendance-allowance/how-to-claim" class="govuk-link">contact us</a> if you need them in a different format. For example, large print, audio recording or braille.</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Enforcement procedure</h2>
  <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies
  (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>
  <p class="govuk-body">If you're not happy with how we respond to your complaint, contact the:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li><a href="https://www.equalityadvisoryservice.com" class="govuk-link">Equality Advisory and Support Service (EASS)</a> if you live in England, Scotland or Wales</li>
    <li><a href="https://www.equalityni.org/contactus" class="govuk-link">Equality Commission for Northern Ireland (ECNI)</a> if you live in Northern Ireland</li>
  </ul>

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Technical information about this service’s accessibility</h2>
  <p class="govuk-body">DWP is committed to making its website accessible, in accordance with the Public Sector Bodies
  (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

  <h3 class="govuk-heading-s">Compliance status</h3>
  <p class="govuk-body">This service is fully compliant with the <a href="https://www.w3.org/TR/WCAG22/" class="govuk-link">
  Web Content Accessibility Guidelines version 2.2</a> AA standard.</p>

  <h2 class="govuk-heading-m govuk-!-margin-top-7">Preparation of this accessibility statement</h2>
  <p class="govuk-body">This statement was prepared on 16 February 2024. It was last reviewed on 12 July 2024.</p>
  <p class="govuk-body">This service was last tested on 24 January 2024 against the WCAG 2.2 AA using both automated and manual testing. The tests were carried out by DWP.</p>

{% endblock %}

{% block formButton %}
{% endblock %}