{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set personMyTheir = data['who-is-applying']
  | replace("myself", "my")
  | replace("someone-else", "their")
  %}

  {% set personIThey = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "They")
  %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Getting settled</span>
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">What difficulty do you have getting settled in bed during the night?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">What difficulty do they have getting settled in bed during the night?</h1>
    {% endif %}
  </legend>

  {{ govukCheckboxes
    ({
      idPrefix: "bed-position-night",
      name: "bed-position-night",
      hint: {
        text: 'Select all that apply.'
      },
      errorMessage: data.validation['bed-position-night'].error,
      items: [{
        value: "bed-covers",
        text: "Getting " + personMyTheir + " bed covers back on the bed if they fall off",
        checked: true if data["bed-position-night"] and data["bed-position-night"].includes("bed-covers")
      },
      {
        value: "propped-up",
        text: "Getting propped up in bed",
        checked: true if data["bed-position-night"] and data["bed-position-night"].includes("propped-up")
      },
      {
        value: "something-else-bed",
        text: "Something else",
        checked: true if data["bed-position-night"] and data["bed-position-night"].includes("something-else-bed"),
        conditional: {
          html: conditionalSomethingElseBedNightHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "none",
        text: " " + personIThey + " do not have difficulty getting settled in bed during the night",
        behaviour: "exclusive",
        checked: true if data["bed-position-night"] and data["bed-position-night"].includes("none")
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseBedNightHtml %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {{ govukCharacterCount({
    rows: "4",
    maxlength: 200,
    isPageHeading: true,
    label: {
      text: "Tell us what difficulty " + person + " have getting settled in bed"
    },
    id: "something-else-explain-bed-night",
    name: "something-else-explain-bed-night",
    errorMessage: data.validation['something-else-explain-bed-night'].error,
    value: data['something-else-explain-bed-night']
    })
  }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}