{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">Have you been outside the UK more than 12 months in the last 3 years?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">Have they been outside the UK more than 12 months in the last 3 years?</h1>
    {% endif %}
  </legend>

  {{ govukRadios({
    idPrefix: "country-outside-uk-duration",
    name: "country-outside-uk-duration",
    errorMessage: data.validation['country-outside-uk-duration'].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["country-outside-uk-duration"] === "yes"
      },
      {
        value: "no",
        text: "No",
        checked: true if data["country-outside-uk-duration"] === "no"
      }
    ]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}