{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}



{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Dressing or undressing during the day</span>
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">How do you manage to get dressed or undressed?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">How do they manage to get dressed or undressed?</h1>
    {% endif %}
  </legend>

  {% set personIThey = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "They")
  %}

  {% set personMeThem = data['who-is-applying']
  | replace("myself", "me")
  | replace("someone-else", "them")
  %}

  {% set personMyTheir = data['who-is-applying']
  | replace("myself", "my")
  | replace("someone-else", "their")
  %}

  {{ govukCheckboxes
    ({
      idPrefix: "dress-day-why",
      name: "dress-day-why",
      hint: {
        text: 'Select all that apply.'
      },
      errorMessage: data.validation['dress-day-why'].error,
      items: [{
        value: "breathless",
        text: " " + personIThey + " get breathless",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("breathless")
      },
      {
        value: "restricted-movement",
        text: " " + personIThey + " have restricted movement due to pain",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("restricted-movement")
      },
      {
        value: "long-time-dress",
        text: "It takes " + personMeThem + " a long time to get dressed or undressed",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("long-time-dress")
      },
      {
        value: "remind-get-dressed",
        text: "Someone has to remind " + personMeThem + " to get dressed or undressed",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("remind-get-dressed")
      },
      {
        value: "help-dress",
        text: "Someone has to physically help " + personMeThem + " to get dressed or undressed",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("help-dress")
      },
      {
        value: "cannot-dress",
        text: " " + personIThey + " cannot put on or take off clothes or footwear on " + personMyTheir + " own",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("cannot-dress")
      },
      {
        value: "dress-day-why-something-else",
        text: "Something else",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("dress-day-why-something-else"),
        conditional: {
          html: conditionalSomethingElseDressDayWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseDressDayWhy %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {{ govukCharacterCount({
    rows: "4",
    maxlength: 200,
    isPageHeading: false,
    label: {
      text: "Tell us how " + person + " manage to get dressed or undressed"
    },
    id: "something-else-dress-day-why-explain",
    name: "something-else-dress-day-why-explain",
    errorMessage: data.validation['something-else-dress-day-why-explain'].error,
    value: data['something-else-dress-day-why-explain']
    })
  }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}