{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}



{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Taking medication or receiving treatment during the day</span>
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">How do you manage to take your medication or get treatment?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">How do they manage to take their medication or get treatment?</h1>
    {% endif %}
  </legend>

  {% set personIThey = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "They")
  %}

  {% set personITheySentence = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "they")
  %}

  {% set personMeThem = data['who-is-applying']
  | replace("myself", "me")
  | replace("someone-else", "them")
  %}

  {% set personMyTheir = data['who-is-applying']
  | replace("myself", "my")
  | replace("someone-else", "their")
  %}

  {{ govukCheckboxes
    ({
      idPrefix: "medication-treatment-day-why",
      name: "medication-treatment-day-why",
      hint: {
        text: 'Select all that apply.'
      },
      errorMessage: data.validation['medication-treatment-day-why'].error,
      items: [{
        value: "long-time",
        text: " " + personIThey + " do not have help but " + personITheySentence + " struggle and it takes " + personMeThem + " a long time",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("long-time")
      },
      {
        value: "someone-prepare",
        text: "Someone has to prepare " + personMyTheir + " medication or treatment for " + personMeThem + "",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("someone-prepare")
      },
      {
        value: "remind-encourage",
        text: "Someone has to remind or encourage " + personMeThem + " to take " + personMyTheir + " medication or treatment",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("remind-encourage")
      },
      {
        value: "help",
        text: "Someone has to physically help " + personMeThem + " take " + personMyTheir + " medication or treatment",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("help")
      },
      {
        value: "medication-treatment-day-why-something-else",
        text: "Something else",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("medication-treatment-day-why-something-else"),
        conditional: {
          html: conditionalSomethingElseMedicationTreatmentWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseMedicationTreatmentWhy %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set personYourTheir = data['who-is-applying']
  | replace("myself", "your")
  | replace("someone-else", "their")
  %}

  {{ govukCharacterCount({
    rows: "4",
    maxlength: 200,
    isPageHeading: false,
    label: {
      text: "Tell us how " + person + " manage to take " + personYourTheir + " medication or get treatment"
    },
    id: "something-else-medication-treatment-day-why-explain",
    name: "something-else-medication-treatment-day-why-explain",
    errorMessage: data.validation['something-else-medication-treatment-day-why-explain'].error,
    value: data['something-else-medication-treatment-day-why-explain']
    })
  }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}