{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}

{% block form %}

  {% if data['who-is-applying'] == 'myself' %}
    {% set meName = data['who-is-applying'] | replace("myself", "me") %}
    {% set youName = data['who-is-applying'] | replace("myself", "you") %}
  {% elif data['applying-someone-else'] == 'individual' %}
    {% set meName = data['applying-someone-else'] | replace("individual", "me") %}
    {% set youName = data['applying-someone-else'] | replace("individual", "you") %}
  {% else %}
    {% set meName = data['first-name'] | capitalize %}
    {% set youName = data['first-name'] | capitalize %}
  {% endif %}




  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading">Who should we contact first if we have questions?</h1>
  </legend>

  <p class="govuk-body">We will only call if we have questions about this application.</p>

  {{ govukRadios({
    idPrefix: "preference-contact",
    name: "preference-contact",
    errorMessage: data.validation['preference-contact'].error,
    items: [
      {
        value: "prefer-claimant",
        text: "Call " + meName + " first",
        checked: true if data["preference-contact"] === "prefer-claimant"
      },
      {
        value: "prefer-helper",
        text: "Call me first",
        checked: true if data["preference-contact"] === "prefer-helper"
      } if data['add-contact-details'] == 'helper-number',
      {
        value: "prefer-someone-else",
        text: "Call the other person first",
        checked: true if data["preference-contact"] === "prefer-someone-else"
      } if data['add-contact-details'] == 'someone-else',
      {
        divider: "or"
      },
      {
        value: "no-preference",
        text: "I do not mind",
        hint: {
          text: "If you do not give a preference, we will try to call " + youName + " first."
        },
        checked: true if data["preference-contact"] === "no-preference"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}