{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set personYourTheir = data['who-is-applying']
  | replace("myself", "your")
  | replace("someone-else", "their")
  %}

  {% set personIThey = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "They")
  %}

   {% set personMyTheir = data['who-is-applying']
  | replace("myself", "my")
  | replace("someone-else", "their")
  %}

  <span class="govuk-caption-l">Kidney conditions</span>

  {{ govukRadios({
    idPrefix: "renal-dialysis-where",
    name: "renal-dialysis-where",
    fieldset: {
      legend: {
        text: "Where do " + person + " have " + personYourTheir + " dialysis?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['renal-dialysis-where'].error,
    hint: {
      html: specialRulesBody
    },
    items: [
      {
        value: "home",
        text: " " + personIThey + " receive " + personMyTheir + " treatment at home",
        checked: true if data["renal-dialysis-where"] === "home"
      },
      {
        value: "hospital",
        text: " " + personIThey + " receive " + personMyTheir + " treatment at a hospital or health centre",
        checked: true if data["renal-dialysis-where"] === "hospital"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}