
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}

{% block form %}

  <h1 class="govuk-heading-l">You should answer all questions as if you are the person who wants to claim Attendance Allowance</h1>

  <p class="govuk-body">The questions in this application relate to the person you are completing the application for.</p>

  <p class="govuk-body">We will ask for the following information about you at the end of the application:</p>

  <ul class="govuk-list govuk-list--bullet">
      <li>your full name</li>
      <li>your National Insurance number</li>
      <li>your date of birth</li>
      <li>your address and contact details</li>
    </ul>

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}