{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Getting in or out of bed during the day</span>
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">Do you usually need to go back to bed during the day?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">Do they usually need to go back to bed during the day?</h1>
    {% endif %}
  </legend>

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set bedHtml %}

    {% if data['who-is-applying'] == 'myself' %}
      <p class="govuk-body">Approximately, how many times a day do you need to go back to bed?</p>
    {% else %}
      <p class="govuk-body">Approximately, how many times a day do they need to go back to bed?</p>
    {% endif %}

    {{ govukInput({
      id: "return-bed-day-times",
      name: "return-bed-day-times",
      errorMessage: data.validation['return-bed-day-times'].error,
      value: data['return-bed-day-times'],
      classes: "govuk-input--width-4"
    }) }}
  {% endset %}

  {{ govukRadios({
    id: "return-bed-day",
    name: "return-bed-day",
    hint: {
      text: "This is if " + person + " have to return to bed after " + person + " have got up in the morning."
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["return-bed-day"] === "yes",
        conditional: {
          html: bedHtml
        }
      },
      {
        value: "no",
        text: "No",
        checked: true if data["return-bed-day"] === "no"
      }
    ]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}
