{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}

{% block form %}

  {% set personMyselfThemself = data['who-is-applying']
    | replace("myself", "myself")
    | replace("someone-else", "themself")
  %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set personIThey = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "They")
  %}

  {% set personIAmTheyAre = data['who-is-applying']
  | replace("myself", "I am")
  | replace("someone-else", "They are")
  %}

  {% set personMeThem = data['who-is-applying']
    | replace("myself", "me")
    | replace("someone-else", "them")
  %}

  {% set personYouThem = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "them")
  %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">Why do you need someone to help you stay safe at home?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">Why do they need someone to help them stay safe at home?</h1>
    {% endif %}
  </legend>

  {{ govukCheckboxes
    ({
      idPrefix: "safe-day-why",
      name: "safe-day-why",
      hint: {
        text: "Select all that apply."
      },
      errorMessage: data.validation['safe-day-why'].error,
      items: [
        {
          value: "prevent-danger",
          text: "To prevent danger to " + personMyselfThemself + " or others",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("prevent-danger")
        },
        {
          value: "wander",
          text: " " + personIThey + " may wander or become disorientated",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("wander")
        },
        {
          value: "voices-or-intrusive-thoughts",
          text: " " + personIThey + " can hear voices or experience intrusive thoughts",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("voices-or-intrusive-thoughts")
        },
        {
          value: "uncontrolled-seizures",
          text: " " + personIThey + " have uncontrolled seizures, dizzy spells or blackouts",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("uncontrolled-seizures")
        },
        {
          value: "not-aware-hazards",
          text: " " + personIAmTheyAre + " not aware of household hazards",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("not-aware-hazards")
        },
        {
          value: "falling",
          text: " " + personIAmTheyAre + " at risk of hurting " + personMyselfThemself + ", for example, by falling",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("falling")
        },
        {
          value: "self-harm",
          text: " " + personIThey + " self harm",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("self-harm")
        },
        {
          value: "something-else",
          text: "Something else",
          checked: true if data["safe-day-why"] and data["safe-day-why"].includes("something-else"),
          conditional: {
            html: conditionalSomethingElseHtml
          }
        },
        {
          divider: "or"
        },
        {
          value: "none",
          text: " " + personIThey + " do not need someone to help " + personMeThem + " stay safe at home",
          behaviour: "exclusive",
          checked: true if data["safe-day-night"] and data["safe-day-night"].includes("none")
        }
      ]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseHtml %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set personYouThem = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "them")
  %}

  {{ govukCharacterCount({
    rows: "4",
    maxlength: 200,
    label: {
      text: "Tell us why " + person + " need someone to help " + personYouThem + " stay safe at home",
      isPageHeading: true
    },
    id: "safe-day-why-something-else",
    name: "safe-day-why-something-else",
    value: data['safe-day-why-something-else'],
    errorMessage: data.validation['safe-day-why-something-else'].error
    })
  }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}