{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Social activities or hobbies</span>
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">What difficulty do you have with social activities or hobbies?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">What difficulty do they have with social activities or hobbies?</h1>
    {% endif %}
  </legend>

  {% set personIThey = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "They")
  %}

  {% set personITheySentence = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "they")
  %}

  {% set personMeThem = data['who-is-applying']
  | replace("myself", "me")
  | replace("someone-else", "them")
  %}

  {% set personMyTheir = data['who-is-applying']
  | replace("myself", "my")
  | replace("someone-else", "their")
  %}

  {{ govukCheckboxes
    ({
      idPrefix: "social-activities-day",
      name: "social-activities-day",
      hint: {
        text: "Select all that apply."
      },
      errorMessage: data.validation['social-activities-day'].error,
      items: [{
        value: "social-physical",
        text: " " + personIThey + " have physical difficulty when " + personITheySentence + " take part in social activities or hobbies",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-physical")
      },
      {
        value: "social-motivation",
        text: " " + personIThey + " forget or lack the motivation to take part in social activities or hobbies",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-motivation")
      },
      {
        value: "social-no-help",
        text: " " + personIThey + " cannot take part unless someone helps " + personMeThem + "",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-no-help")
      },
      {
        value: "social-no",
        text: "" + personIThey + " no longer take part due to " + personMyTheir + " condition",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-no")
      },
      {
        value: "something-else-social",
        text: "Something else",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("something-else-social"),
        conditional: {
          html: conditionalSomethingElseSocialHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "" + personIThey + " do not have difficulty with social activities or hobbies",
        behaviour: "exclusive",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseSocialHtml %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {{ govukCharacterCount({
  rows: "4",
  maxlength: 200,
  isPageHeading: true,
  label: {
    text: "Tell us what difficulty " + person + " have with social activities or hobbies"
  },
  id: "something-else-explain-social",
  name: "something-else-explain-social",
  errorMessage: data.validation['something-else-explain-social'].error,
  value: data['something-else-explain-social']
  })
  }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}
