
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  <h1 class="govuk-heading-l">
    You have 14 days to post your supporting documents to us
  </h1>

  <p class="govuk-body">
    Include your National Insurance number with anything you send.
  </p>

  <p class="govuk-body">
    Send your supporting documents to:
  </p>

  {% if locale == 'NI' %}
    <div class="govuk-inset-text">
      DWP Attendance Allowance<br/>
      Attendance Allowance<br/>
      Disability and Carers Service<br/>
      Mail Opening Unit<br/>
      PO Box 42<br/>
      Limavady<br/>
      BT49 4AN
    </div>

  {% else %}

    <div class="govuk-inset-text">
      Freepost<br/>
      DWP Attendance Allowance
    </div>

  {% endif %}

  <p class="govuk-body">
    To avoid delaying your claim, do not write anything except the freepost address on the envelope.
    You do not need a postcode or a stamp.
  </p>

  <p class="govuk-body">
    Send copies as original documents cannot be sent back to you.
  </p>

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}