{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set personMyTheir = data['who-is-applying']
  | replace("myself", "my")
  | replace("someone-else", "their")
  %}

  {% set personMyselfThemself = data['who-is-applying']
  | replace("myself", "myself")
  | replace("someone-else", "themself")
  %}

  {% set personIThey = data['who-is-applying']
  | replace("myself", "I")
  | replace("someone-else", "They")
  %}

  {% set personYourTheir = data['who-is-applying']
  | replace("myself", "your")
  | replace("someone-else", "their")
  %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <span class="govuk-caption-l">Toilet needs or managing incontinence during the night</span>
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">What difficulty do you have with your toilet needs during the night?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">What difficulty do they have with their toilet needs during the night?</h1>
    {% endif %}
  </legend>

  {{ govukCheckboxes
    ({
      idPrefix: "toilet-night",
      name: "toilet-night",
      hint: {
        text: "Select all that apply."
      },
      errorMessage: data.validation['toilet-night'].error,
      items: [{
        value: "toilet-getting-to",
        text: "Getting to the toilet or commode",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("toilet-getting-to")
      },
      {
        value: "toilet-urgent",
        text: "Needing the toilet urgently",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("toilet-urgent")
      },
      {
        value: "toilet-getting-on-off",
        text: "Getting on or off the toilet or commode",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("toilet-getting-on-off")
      },
      {
        value: "toilet-cleaning-myself",
        text: "Cleaning " + personMyselfThemself + " after using the toilet or commode",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("toilet-cleaning-myself")
      },
      {
        value: "toilet-emptying",
        text: "Emptying and managing " + personMyTheir + " stoma, catheter or similar",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("toilet-emptying")
      },
      {
        value: "managing-incontinence",
        text: " " + personIThey + " have incontinence",
        checked: true if data["c"] and data["toilet-night"].includes("managing-incontinence")
      },
      {
        value: "toilet-night-something-else",
        text: "Something else",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("toilet-night-something-else"),
        conditional: {
          html: conditionalSomethingElseToiletNightHtml
          }
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: " " + personIThey + " do not have difficulty with " + personMyTheir + " toilet needs during the night",
        behaviour: "exclusive",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseToiletNightHtml %}

  {% set person = data['who-is-applying']
  | replace("myself", "you")
  | replace("someone-else", "they")
  %}

  {% set personYourTheir = data['who-is-applying']
  | replace("myself", "your")
  | replace("someone-else", "their")
  %}

  {{ govukCharacterCount({
    rows: "4",
    maxlength: 200,
    isPageHeading: true,
    label: {
      text: "Tell us what difficulty " + person + " have with " + personYourTheir + " toilet needs"
    },
    id: "something-else-explain-toilet",
    name: "something-else-explain-toilet",
    errorMessage: data.validation['something-else-explain-toilet'].error,
    value: data['something-else-explain-toilet']
    })
  }}
{% endset %}
{% block postForm %}
  {% include './macros/assisted-digital-details.njk' %}
{% endblock %}