{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "v5.9.0-layouts/prototypeLayout.njk" %}

{% block form %}
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">What is your home address?</h1>
      <p class="govuk-body">
        We will only use this to send you letters about your Attendance Allowance claim.
      </p>
    {% else %}
      <h1 class="govuk-fieldset__heading govuk-!-margin-bottom-4">What is their home address?</h1>
      <p class="govuk-body">
        We will only use this to send the applicant letters about their Attendance Allowance claim.
      </p>
    {% endif %}
  </legend>
  
  <div class="govuk-form-group">
    <label class="govuk-label" for="postcode">
      Postcode
    </label>

    {{ govukInput({
      id: "home-address-postcode",
      name: "home-address-postcode",
      value: data['home-address-postcode'],
      classes: 'govuk-input--width-10',
      errorMessage: data.validation['home-address-postcode'].error
    }) }}
  </div>

{% endblock %}

{% block formButton %}
  {{ phaseButton(data, "Find address") }}
{% endblock %}

{% block postForm %}

  {% if data['who-is-applying'] == 'myself' %}
    <p class="govuk-body">
      <a href="home-address-international" class="govuk-link">My home address is outside of the UK</a>
    </p>
  {% else %}
    <p class="govuk-body">
      <a href="home-address-international" class="govuk-link">Their home address is outside of the UK</a>
    </p>
  {% endif %}

  {% include './macros/assisted-digital-details.njk' %}

{% endblock %}