{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "v5.9.0-layouts/prototypeLayout.njk" %}


{% block form %}
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% if data['who-is-applying'] == 'myself' %}
      <h1 class="govuk-fieldset__heading">What is your nationality?</h1>
    {% else %}
      <h1 class="govuk-fieldset__heading">What is their nationality?</h1>
    {% endif %}
  </legend>
  
  {{ govukRadios({
    idPrefix: "nationality",
    name: "nationality",
    errorMessage: data.validation['nationality'].error,
    items: [
      {
        value: "british",
        text: "British",
        checked: true if data["nationality"] === "british"
      },
      {
        value: "irish",
        text: "Irish",
        checked: true if data["nationality"] === "irish"
      },
      {
        value: "other",
        text: "Other nationality",
        checked: true if data["nationality"] === "other"
      }
    ]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}