{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "v5.9.0-layouts/prototypeLayout.njk" %}


{% block form %}

  {% set addTelephoneNumber %}
    
    {{ govukInput({
        label: {
          text: "Your telephone number",
          classes: "govuk-!-font-weight-bold"
        },
        hint: {
          text: "For international numbers include the country code."
        },
        id: "helper-telephone-number-input",
        name: "helper-telephone-number-input",
        errorMessage: data.validation['helper-telephone-number-input'].error,
        value: data['helper-telephone-number-input'],
        classes: "govuk-input--width-20"
      }) }}
      
  {% endset %}
  
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">Do you want to add your telephone number?</h1>
  </legend>

  <p class="govuk-body">
    We will only phone you if we have questions about this application.
  </p>

  <div class="govuk-inset-text">
    You can add contact details for someone else next.
  </div>

  {{ govukRadios({
    idPrefix: "helper-telephone-number",
    name: "helper-telephone-number",
    errorMessage: data.validation['helper-telephone-number'].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["helper-telephone-number"] === "yes",
        conditional: { html: addTelephoneNumber }
      },
      {
        value: "no",
        text: "No",
        checked: true if data["helper-telephone-number"] === "no"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}