{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/prototypeLayout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "activities"
  }) }}
{% endblock %}

{% block form %}
  <h1 class="govuk-heading-l">
    You told us you have difficulties washing or cleaning yourself
  </h1>

    <input type="hidden" name="activity-1-washing-submitted" value="1" />

    {{ govukCheckboxes({
      name: "washing-mental",
      hint: {
        text: "Do any of the following apply when you wash or clean yourself?"
      },
      errorMessage: data.validation['washing-mental'].error,
      items: [{
        value: "physical",
        text: "I have physical difficulty washing or cleaning myself",
        checked: true if data["washing-mental"] and data["washing-mental"].includes("physical")
      }, {
        value: "memory",
        text: "I have difficulty remembering to wash or clean myself",
        checked: true if data["washing-mental"] and data["washing-mental"].includes("memory")
      }, {
        value: "concentration",
        text: "I have difficulty concentrating when washing or cleaning myself",
        checked: true if data["washing-mental"] and data["washing-mental"].includes("concentration")
      }, {
        value: "motivation",
        text: "I don't feel up to washing or cleaning myself",
        checked: true if data["washing-mental"] and data["washing-mental"].includes("motivation")
      }]
    }) }}

    {% set dayHtml %}
      {{ govukRadios({
        id: "activity-1-washing-day-frequency",
        name: "activity-1-washing-day-frequency",
        errorMessage: data.validation['activity-1-washing-day-frequency'].error,
        fieldset: {
          legend: {
            text: "Typically, how many times during the day do you need to wash or clean yourself?"
          }
        },
        items: [
          {
            value: "1",
            text: "1",
            checked: true if data["activity-1-washing-day-frequency"] === "1"
          },
          {
            value: "2",
            text: "2",
            checked: true if data["activity-1-washing-day-frequency"] === "2"
          },
          {
            value: "3+",
            text: "3+",
            checked: true if data["activity-1-washing-day-frequency"] === "3+"
          }
        ]
      }) }}
      {{ govukRadios({
        id: "activity-1-washing-day-history",
        name: "activity-1-washing-day-history",
        errorMessage: data.validation['activity-1-washing-day-history'].error,
        value: formData.dayStart,
        fieldset: {
          legend: {
            text: "When did this start?"
          }
        },
        items: [
          {
            value: "sixMonthsOrMore",
            text: "6 months ago, or more",
            checked: true if data["activity-1-washing-day-history"] === "sixMonthsOrMore"
          },
          {
            value: "lessThanSixMonths",
            text: "Less than 6 months ago",
            checked: true if data["activity-1-washing-day-history"] === "lessThanSixMonths"
          }
        ]
      }) }}
    {% endset %}

    {% set nightHtml %}
      {{ govukRadios({
        id: "activity-1-washing-night-frequency",
        name: "activity-1-washing-night-frequency",
        errorMessage: data.validation['activity-1-washing-night-frequency'].error,
        fieldset: {
          legend: {
            text: "Typically, how many times a night do you need to wash or clean yourself?"
          }
        },
        items: [
          {
            value: "1",
            text: "1",
            checked: true if data["activity-1-washing-night-frequency"] === "1"
          },
          {
            value: "2",
            text: "2",
            checked: true if data["activity-1-washing-night-frequency"] === "2"
          },
          {
            value: "3+",
            text: "3+",
            checked: true if data["activity-1-washing-night-frequency"] === "3+"
          }
        ]
      }) }}
      {{ govukRadios({
        id: "activity-1-washing-night-minutes",
        name: "activity-1-washing-night-minutes",
        errorMessage: data.validation['activity-1-washing-night-minutes'].error,
        fieldset: {
          legend: {
            text: "Do any of the occasions when you need to wash or clean yourself take longer than 20 minutes?"
          }
        },
        items: [
          {
            value: "yes",
            text: "Yes",
            checked: true if data["activity-1-washing-night-minutes"] === "yes"
          },
          {
            value: "no",
            text: "No",
            checked: true if data["activity-1-washing-night-minutes"] === "no"
          }
        ]
      }) }}
      {{ govukRadios({
        id: "activity-1-washing-night-history",
        name: "activity-1-washing-night-history",
        errorMessage: data.validation['activity-1-washing-night-history'].error,
        fieldset: {
          legend: {
            text: "When did this start?"
          }
        },
        items: [
          {
            value: "sixMonthsOrMore",
            text: "6 months ago, or more",
            checked: true if data["activity-1-washing-night-history"] === "sixMonthsOrMore"
          },
          {
            value: "lessThanSixMonths",
            text: "Less than 6 months ago",
            checked: true if data["activity-1-washing-night-history"] === "lessThanSixMonths"
          }
        ]
      }) }}
    {% endset %}

    {{ govukCheckboxes({
      name: "activity-1-washing-phase",
      hint: {
        text: "When do you have difficulties washing or cleaning yourself?"
      },
      errorMessage: data.validation['activity-1-washing-phase'].error,
      value: formData.dayandnight,
      items: [{
        value: "day",
        checked: true if data["activity-1-washing-phase"] and data["activity-1-washing-phase"].includes("day"),
        text: "I have difficulty washing or cleaning myself during the day",
        conditional: {
          html: dayHtml
        }
      }, {
        value: "night",
        checked: true if data["activity-1-washing-phase"] and data["activity-1-washing-phase"].includes("night"),
        text: "I have difficulty washing or cleaning myself during the night",
        conditional: {
          html: nightHtml
        }
      }, {
        divider: "or"
      }, {
        value: "none",
        checked: true if data["activity-1-washing-phase"] and data["activity-1-washing-phase"].includes("none"),
        text: "Neither of these",
        behaviour: "exclusive"
      }]
    }) }}
{% endblock %}