{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block backLink %}
        {{ govukBackLink({
          text: "Back",
          href: "benefits"
        }) }}
      {% endblock %}
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Based on your answers, you may not be eligible to apply</h1>
        <p class="govuk-body">To claim Attendance Allowance you must not be receiving Disability Living Allowance (DLA) or
          Personal Independence Payment (PIP) or Adult Disability Payment (ADP).</p>
        <h2 class="govuk-heading-m">Carer’s Allowance</h2>
        <p class="govuk-body">If someone cares for you for 35 hours per week or more, they may be eligible to claim
          <a href="https://www.gov.uk/carers-allowance">Carer's Allowance</a>.</p>
        <h2 class="govuk-heading-m">If you still want to apply</h2>
        <p class="govuk-body">You can still
          <a href="nationality">apply for Attendance Allowance</a>
          but you may not be entitled to it.</p>
      </div>
    </div>
  </div>
{% endblock %}