{% from "../macros/care-needs-answers.njk" import careNeedsAnswers %}
{% from "../macros/change-link.njk" import changeLink %}
{% from "../macros/reword-date.njk" import rewordDate %}
{% from "../macros/reword-benefit.njk" import rewordBenefit %}
{% from "../macros/reword-comm-need.njk" import rewordCommNeed %}
{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-width-container">
    <a href="email-confirm" class="govuk-back-link">Back</a>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
          <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>
          <section class="Your details">
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row date-of-birth">
                <dt class="govuk-summary-list__key">
                  Date of birth
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ rewordDate(data['date-of-birth-day'], data['date-of-birth-month'], data['date-of-birth-year']) }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('date-of-birth') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row benefits">
                <dt class="govuk-summary-list__key">
                  Other benefits
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list govuk-list--bullet">
                    {% for benefits in data['benefits'] %}
                      <li>
                        {{ rewordBenefit(benefits) }}
                      </li>
                    {% endfor %}
                  </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('benefits') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row benefits">
                <dt class="govuk-summary-list__key">
                  Nationality
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['nationality'] 
									| replace("british", "British")
									| replace("irish", "Irish")
									| replace("other", "Citizen of another country") }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('nationality') }}
                </dd>
              </div>

              {% if data['nationality'] == 'other' %}
                <div class="govuk-summary-list__row benefits">
                  <dt class="govuk-summary-list__key">
                    Nationality details
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {{ data['nationality-other'] }}
                  </dd>
                  <dd class="govuk-summary-list__actions">
                    {{ changeLink('nationality-other') }}
                  </dd>
                </div>
              {% endif %}

              <div class="govuk-summary-list__row country">
                <dt class="govuk-summary-list__key">
                  Where you live
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['country'] 
									| replace("england", "England")
									| replace("scotland", "Scotland")
									| replace("wales", "Wales")
									| replace("northern-ireland", "Northern Ireland")
									| replace("abroad", "Outside the UK") }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('country') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row lived-outside-uk-in-last-3-years">
                <dt class="govuk-summary-list__key">
                  Lived outside of the UK in the last 3 years
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['country-outside-uk'] | capitalize }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('country-outside-uk') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row lived-outside-uk-more-than-12m-in-last-3-years">
                <dt class="govuk-summary-list__key">
                  Lived outside of the UK more than 12 months in the last 3 years
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['country-outside-uk-duration'] | capitalize }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('country-outside-uk-duration') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row national-insurance-number">
                <dt class="govuk-summary-list__key">
                  National Insurance number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['national-insurance'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('national-insurance') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row full-name">
                <dt class="govuk-summary-list__key">
                  Full name
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['full-name'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('full-name') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row address">
                <dt class="govuk-summary-list__key">
                  Address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['home-address-pick'] | replace(",", "<br>") | safe }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('home-address-postcode') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row care-home">
                <dt class="govuk-summary-list__key">
                  Currently in a care home or hospital
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['care'] | capitalize }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('care') }}
                </dd>
              </div>
            </dl>
          </section>
          <section class="Difficulties you experience">
            <h2 class="govuk-heading-l">Difficulties you experience</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row difficulties washing ">
                <dt class="govuk-summary-list__key">
                  Supervision
                </dt>
                <dd class="govuk-summary-list__value">

                  {% if data['supervision-phase'] and data['supervision-phase'].includes('day') %}
                    <h3 class="govuk-body-s govuk-!-font-weight-bold">During the day</h3>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        {{ data['supervision-day-frequency'] 
													| replace("1", "I typically have this difficulty once a day") 
													| replace("2", "I typically have this difficulty twice a day") 
													| replace("3+", "I typically have this difficulty 3 or more times a day") }}
                      </li>
                      <li>
                        {{ data['supervision-day-history'] 
														| replace("sixMonthsOrMore", "This started more than 6 months ago")
														| replace("lessThanSixMonths", "This started less than 6 months ago") }}
                      </li>
                    </ul>
                  {% endif %}
                  {% if data['supervision-phase'] and data['supervision-phase'].includes('night') %}
                    <h3 class="govuk-body-s govuk-!-font-weight-bold">During the night</h3>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>
                        {{ data['supervision-night-frequency'] 
														| replace("1", "I typically have this difficulty once a night") 
														| replace("2", "I typically have this difficulty twice a night") 
														| replace("3+", "I typically have this difficulty 3 or more times a night") }}
                      </li>
                      <li>
                        {{ data['supervision-night-minutes'] 
														| replace("yes", "The occasions when I need supervision, last for more than 20 minutes")
														| replace("no", "The occasions when I need supervision, last for less than 20 minutes") }}
                      </li>
                      <li>
                        {{ data['supervision-night-history'] 
														| replace("sixMonthsOrMore", "This started more than 6 months ago")
														| replace("lessThanSixMonths", "This started less than 6 months ago") }}
                      </li>
                    </ul>
                  {% endif %}
                  {% if data["supervision-phase"] and data["supervision-phase"].includes("none") %}
                    None
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('supervision') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row difficulty list">
                <dt class="govuk-summary-list__key">
                  Difficulty doing any of these activities
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul
                    class="govuk-list govuk-list--bullet">
                    {% if (data['activities']) and
											(  data['activities'].includes('washing-yourself')
											or data['activities'].includes('dressing-yourself') 
											or data['activities'].includes('getting-in-or-out-of-bed') 
											or data['activities'].includes('taking-medication') 
											or data['activities'].includes('moving-around-indoors') 
											or data['activities'].includes('eating-and-drinking') 
											or data['activities'].includes('using-or-getting-to-the-toilet') 
										) %}
                      {% for activity in data['activities'] %}
                        {% if activity != "_unchecked" %}
                          <li>
                            {{ activity
															| replace("washing-yourself","washing or cleaning yourself")
															| replace("dressing-yourself","dressing yourself") 
															| replace("getting-in-or-out-of-bed","getting in or out of bed") 
															| replace("taking-medication","taking medication or receiving treatment") 
															| replace("moving-around-indoors","moving around indoors") 
															| replace("eating-and-drinking","eating and drinking") 
															| replace("using-or-getting-to-the-toilet","using or getting to the toilet") }}
                          </li>
                        {% endif %}
                      {% endfor %}
                    {% else %}
                      None
                    {% endif %}
                  </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('activities') }}
                </dd>
              </div>
              {{ careNeedsAnswers(
								activityShortName="washing",
								activityMediumName="washing-yourself",
								activityShortTitle="Washing or cleaning yourself",
								physical="I have physical difficulty washing or cleaning myself",
								memory="I have difficulty remembering to wash or clean myself",
								concentration="I have difficulty concentrating when washing or cleaning myself",
								motivation="I don't feel up to washing or cleaning myself",
								questionPage="activity-1-washing",
								data
							) }}
              {{ careNeedsAnswers(
								activityShortName="dressing",
								activityMediumName="dressing-yourself",
								activityShortTitle="Dressing yourself",
								physical="I have physical difficulty getting dressed",
								memory="I have difficulty remembering to dress myself",
								concentration="I have difficulty concentrating when dressing myself",
								motivation="I don't feel up to dressing myself",
								questionPage="activity-2-dressing",
								data
							) }}
              {{ careNeedsAnswers(
								activityShortName="bed",
								activityMediumName="getting-in-or-out-of-bed",
								activityShortTitle="Getting in or out of bed",
								physical="I have physical difficulty getting in or out of bed",
								memory="I have difficulty remembering to get in or out of bed",
								concentration="I have difficulty concentrating when getting in or out of bed",
								motivation="I don't feel up to getting in or out of bed",
								questionPage="activity-3-bed",
								data
							) }}
              {{ careNeedsAnswers(
								activityShortName="medicine",
								activityMediumName="taking-medication",
								activityShortTitle="Taking medication or receiving treatment",
								physical="I have physical difficulty taking medication or receiving treatment",
								memory="I have difficulty remembering to take medication or receive treatment",
								concentration="I have difficulty concentrating when taking medication or receiving treatment",
								motivation="I don't feel up to taking medication or receiving treatment",
								questionPage="activity-4-medicine",
								data
							) }}
              {{ careNeedsAnswers(
								activityShortName="indoors",
								activityMediumName="moving-around-indoors",
								activityShortTitle="Moving around indoors",
								physical="I have physical difficulty moving around indoors",
								memory="I have difficulty remembering to moving around indoors",
								concentration="I have difficulty concentrating when moving around indoors",
								motivation="I don't feel up to moving around indoors",
								questionPage="activity-5-indoors",
								data
							) }}
              {{ careNeedsAnswers(
								activityShortName="eating",
								activityMediumName="eating-and-drinking",
								activityShortTitle="Eating and drinking",
								physical="I have physical difficulty eating or drinking",
								memory="I have difficulty remembering to eat or drink",
								concentration="I have difficulty concentrating when eating or drinking",
								motivation="I don't feel up to eating or drinking",
								questionPage="activity-6-eating",
								data
							) }}
              {{ careNeedsAnswers(
								activityShortName="toilet",
								activityMediumName="using-or-getting-to-the-toilet",
								activityShortTitle="Using or getting to the toilet",
								physical="I have physical difficulty using or getting to the toilet",
								memory="I have difficulty remembering to use or get to the toilet",
								concentration="I have difficulty concentrating when using or getting to the toilet",
								motivation="I don't feel up to using or getting to the toilet",
								questionPage="activity-7-toilet",
								data
							) }}
              <div class="govuk-summary-list__row communication">
                <dt class="govuk-summary-list__key">
                  Communication
                </dt>
                <dd class="govuk-summary-list__value">
                  {# original test was length === 1, but if there is only one element it compares against that element length, not number of elements #}
                  {% if data['communication-needs'].length >12 %}
                    <p>
                      {{ rewordCommNeed(data['communication-needs']) }}
                    </p>
                  {% else %}
                    {%  if data['communication-needs'].length === 1  %}
                      <ul class="govuk-list govuk-list--bullet">
                        {% for communicationNeed in data['communication-needs'] %}
                            {{ rewordCommNeed(communicationNeed) }}
                        {% endfor %}
                      </ul>
                    {% else %}
                      <ul class="govuk-list govuk-list--bullet">
                        {% for communicationNeed in data['communication-needs'] %}
                          <li>
                            {{ rewordCommNeed(communicationNeed) }}
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  {% endif %}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('communication-needs') }}
                </dd>
              </div>
            </dl>
          </section>
          <section class="Illness and disabilities">
            <h2 class="govuk-heading-l">Your illnesses, physical and mental disabilities</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row illness">
                <dt class="govuk-summary-list__key">
                  Your illness or disability
                </dt>
                <dd class="govuk-summary-list__value">
                  <ul class="govuk-list">
                    {% for illness in data['illness'] %}
                      <li>
                        {{ illness 
													| replace("Chest disease (COPD, emphysema, Asthma)", "Chest disease") }}
                      </li>
                    {% endfor %}
                  </ul>
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('illness') }}
                </dd>
              </div>
                <div class="govuk-summary-list__row illness">
                  {% if data['other-illness'] %}
                    <dt class="govuk-summary-list__key">
                      Other illnesses, physical and mental disabilities you have
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {{ data['other-illness'] }}
                    </dd>
                  <dd class="govuk-summary-list__actions">
                    {{ changeLink('illness') }}
                  </dd>
                  {% endif %}
                </div>
              <div class="govuk-summary-list__row awaiting-treatment">
                <dt class="govuk-summary-list__key">
                  Awaiting treatment
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['treatment'] | replace("yes", "Yes") | capitalize }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('treatment') }}
                </dd>
              </div>
            </dl>
          </section>
          <section class="Contact details">
            <h2 class="govuk-heading-l">Contact details</h2>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              <div class="govuk-summary-list__row contact-preferences">
                <dt class="govuk-summary-list__key">
                  Your landline number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['landline-number'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('telephone-number') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row contact-preferences">
                <dt class="govuk-summary-list__key">
                  Your mobile number
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['mobile-number'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('telephone-number') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row contact-preferences">
                <dt class="govuk-summary-list__key">
                  This is a textphone
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['textphone'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('telephone-number') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row contact-preferences">
                <dt class="govuk-summary-list__key">
                  Would like email confirmation
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['email-confirm'] | capitalize }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('email-confirm') }}
                </dd>
              </div>
              <div class="govuk-summary-list__row contact-preferences">
                <dt class="govuk-summary-list__key">
                  Email address
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ data['contact-by-email'] }}
                </dd>
                <dd class="govuk-summary-list__actions">
                  {{ changeLink('email-confirm') }}
                </dd>
              </div>
            </dl>
          </section>
          <section class="Submit">
            <h2 class="govuk-heading-l">Now send your application</h2>
            <p class="govuk-body">By submitting this claim, you agree that:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>the information you have given is complete and correct as far as you know</li>
              <li>you will tell the Department for Work and Pensions (DWP) as soon as possible if your circumstances change</li>
              <li>you will pay back any money you are overpaid if asked</li>
            </ul>
            <div class="govuk-warning-text">
              <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
              <strong class="govuk-warning-text__text">
                <span class="govuk-warning-text__assistive">Warning</span>
                You can be prosecuted or made to pay a financial penalty if you:
                <ul class="govuk-list govuk-list--bullet">
                  <li>give wrong or incomplete information</li>
                  <li>do not report changes as soon as possible</li>
                </ul>
              </strong>
            </div>
            <form action="done" method="post" novalidate>
              <input type="hidden" name="answers-checked" value="true" />
              <button class="govuk-button" data-module="govuk-button">
                Agree and send
              </button>
            </form>
          </section>
				</div>
			</div>
	</div>
{% endblock %}