{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/prototypeLayout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "start"
  }) }}
{% endblock %}

{% block form %}
  {{ govukDateInput({
    id: "date-of-birth",
    namePrefix: "date-of-birth",
    fieldset: {
      legend: {
        text: "What is your date of birth?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "For example, 27 3 1948."
    },
    errorMessage: data.validation['date-of-birth'].error,
    items: [
      {
        classes: 'govuk-input--width-2',
        name: 'day',
        value: data['date-of-birth-day']
      },
      {
        classes: 'govuk-input--width-2',
        name: 'month',
        value: data['date-of-birth-month']
      },
      {
        classes: 'govuk-input--width-4',
        name: 'year',
        value: data['date-of-birth-year']
      }
    ]
  }) }}
{% endblock %}