{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/prototypeLayout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "benefits"
  }) }}
{% endblock %}

{% block form %}
  {{ govukRadios({
    idPrefix: "nationality",
    name: "nationality",
    fieldset: {
      legend: {
        text: "What is your nationality?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['nationality'].error,
    items: [
      {
        value: "british",
        text: "British",
        hint: {
          text: "Select if you're from England, Scotland, Wales or Northern Ireland."
        },
        checked: true if data["nationality"] === "british"
      },
      {
        value: "irish",
        text: "Irish",
        hint: {
          text: "Select if you're from the Republic of Ireland."
        },
        checked: true if data["nationality"] === "irish"
      },
      {
        divider: "or"
      },
      {
        value: "other",
        text: "Citizen of another country",
        hint: {
          text: "You'll tell us your nationality on the next page."
        },
        checked: true if data["nationality"] === "other"
      }
    ]
  }) }}

  <div class="govuk-form-group">
    {{ govukDetails({
      summaryText: "I have dual nationality / citizenship",
      text: "Enter the nationality on the identity documents you are using to apply for a National Insurance number. If you have British nationality, you should use this to apply."
    }) }}
  </div>

{% endblock %}