{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/prototypeLayout.njk" %}

{% block backLink %}
  {{ govukBackLink({
    text: "Back",
    href: "care"
  }) }}
{% endblock %}

{% block form %}

	{% set dayHtml %}
    {{ govukRadios({
      id: "supervision-day-frequency",
      name: "supervision-day-frequency",
			errorMessage: data.validation['supervision-day-frequency'].error,
      fieldset: {
        legend: {
          text: "Typically, how many times during the day do you need supervision?"
        }
      },
      items: [
        {
          value: "1",
          text: "1",
					checked: true if data["supervision-day-frequency"] === "1"
        },
        {
          value: "2",
          text: "2",
					checked: true if data["supervision-day-frequency"] === "2"
        },
        {
          value: "3+",
          text: "3+",
					checked: true if data["supervision-day-frequency"] === "3+"
        }
      ]
    }) }}
    {{ govukRadios({
      id: "supervision-day-history",
      name: "supervision-day-history",
      errorMessage: data.validation['supervision-day-history'].error,
      value: formData.dayStart,
      fieldset: {
        legend: {
          text: "When did this start?"
        }
      },
      items: [
        {
          value: "sixMonthsOrMore",
          text: "6 months ago, or more",
					checked: true if data["supervision-day-history"] === "sixMonthsOrMore"
        },
        {
          value: "lessThanSixMonths",
          text: "Less than 6 months ago",
					checked: true if data["supervision-day-history"] === "lessThanSixMonths"
        }
      ]
    }) }}
  {% endset %}

  {% set nightHtml %}
    {{ govukRadios({
      id: "supervision-night-frequency",
      name: "supervision-night-frequency",
      errorMessage: data.validation['supervision-night-frequency'].error,
      fieldset: {
        legend: {
          text: "Typically, how many times during the night do you need supervision?"
        }
      },
      items: [
        {
          value: "1",
          text: "1",
					checked: true if data["supervision-night-frequency"] === "1"
        },
        {
          value: "2",
          text: "2",
					checked: true if data["supervision-night-frequency"] === "2"
        },
        {
          value: "3+",
          text: "3+",
					checked: true if data["supervision-night-frequency"] === "3+"
        }
      ]
    }) }}
    {{ govukRadios({
      id: "supervision-night-minutes",
      name: "supervision-night-minutes",
      errorMessage: data.validation['supervision-night-minutes'].error,
      fieldset: {
        legend: {
          text: "Do any of the occasions when you need supervision, last for more than 20 minutes?"
        }
      },
      items: [
        {
          value: "yes",
          text: "Yes",
					checked: true if data["supervision-night-minutes"] === "yes"
        },
        {
          value: "no",
          text: "No",
					checked: true if data["supervision-night-minutes"] === "no"
        }
      ]
    }) }}
    {{ govukRadios({
      id: "supervision-night-history",
      name: "supervision-night-history",
      errorMessage: data.validation['supervision-night-history'].error,
      fieldset: {
        legend: {
          text: "When did this start?"
        }
      },
      items: [
        {
          value: "sixMonthsOrMore",
          text: "6 months ago, or more",
					checked: true if data["supervision-night-history"] === "sixMonthsOrMore"
        },
        {
          value: "lessThanSixMonths",
          text: "Less than 6 months ago",
					checked: true if data["supervision-night-history"] === "lessThanSixMonths"
        }
      ]
    }) }}
  {% endset %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Do you need supervision at any time?
    </h1>
  </legend>

  <div class="govuk-form-group supervision-examples">
    <div id="day-difficulty-kind-hint" class="govuk-body">
      <p>
        By supervision, we mean any of the following that could apply to you:
      </p>
      <ul>
        <li>to prevent danger to myself or others</li>
        <li>I am not aware of common dangers</li>
        <li>I am at risk of neglecting myself</li>
        <li>I am at risk of harming myself</li>
        <li>I may wander</li>
        <li>to discourage antisocial or aggressive behaviour</li>
        <li>I may have fits, dizzy spells or blackouts</li>
        <li>I may get confused</li>
        <li>I may hear voices or experience thoughts that disrupt my thinking</li>
      </ul>
    </div>
  </div>
			
  {{ govukCheckboxes({
    name: "supervision-phase",
    errorMessage: data.validation['supervision-phase'].error,
    value: formData.dayandnight,
    items: [{
      value: "day",
      checked: true if data["supervision-phase"] and data["supervision-phase"].includes("day"),
      text: "I need supervision during the day",
      conditional: {
        html: dayHtml
      }
    }, {
      value: "night",
      checked: true if data["supervision-phase"] and data["supervision-phase"].includes("night"),
      text: "I need supervision during the night",
      conditional: {
        html: nightHtml
      }
    }, {
      divider: "or"
    }, {
      value: "none",
      checked: true if data["supervision-phase"] and data["supervision-phase"].includes("none"),
      text: "Neither of these",
      behaviour: "exclusive"
    }]
  }) }}

  <div class="govuk-form-group">
    {{ govukDetails({
      summaryText: "What do we mean by day and night?",
      text: "The day is from when you get up in the morning and includes the evening. Night is when the household has closed down at the end of the day."
    }) }}
  </div>

{% endblock %}