{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "../macros/validation-summary.njk" import validationSummary %}
{% from "../macros/phase-button.njk" import phaseButton %}

{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/govuk-frontend-4.0.1.min.css" />
  <script src="/govuk-frontend-4.0.1.min.js"></script>
{% endblock %}

{% block pageTitle %}
  GOV.UK - Prototype - Attendance Allowance
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block beforeContent %}
    <div class="govuk-phase-banner">
      <p class="govuk-phase-banner__content">
        <strong class="govuk-tag govuk-phase-banner__content__tag">
          beta
        </strong>
        <span class="govuk-phase-banner__text">
          This is a new service – your <a class="govuk-link" href="#">feedback (opens in a new tab)</a> will help us to improve it.
        </span>
      </p>
    </div>
{% endblock %}

{% block content %}
  {% block backLink %}
    {% if data['back-link'] %}
      {{ govukBackLink({
        text: "Back",
        href: data['back-link']
      }) }}
    {% endif %}
  {% endblock %}

  {% block preForm %}
  {% endblock %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            {{ validationSummary(data) }}

            {% block form %}
            {% endblock %}

          </fieldset>
        </div>
        {% block formButton %}
          {{ phaseButton(data) }}
        {% endblock %}
      </form>
    </div>
  </div>

  {% block postForm %}
  {% endblock %}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <script>
      window.GOVUKFrontend.initAll();
    </script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
