{% extends "layouts/layout.njk" %}

{% from "../macros/phase-severity-questions.njk" import phaseSeverityQuestions %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
		
			{{ phaseSeverityQuestions (
				nextPageFileName="activity-6-eating",
				title="You told us you have difficulties moving around indoors",
				question="Do any of the following apply when you move around indoors?",
				activityShortName="indoors",
				physical="I have physical difficulty moving around indoors",
				memory="I have difficulty remembering to move around indoors",
				concentration="I have difficulty concentrating when moving around indoors",
				motivation="I don't feel up to moving around indoors",
				when="When do you have difficulties moving around indoors?",
				day="I have difficulty moving around indoors during the day",
				dayFrequency="Typically, how many times during the day do you need to move around indoors?",
				night="I have difficulty moving around indoors during the night",
				nightFrequency="Typically, how many times a night do you need to move around indoors?",
				nightMinutes="Do any of the occasions when you need to move around indoors take longer than 20 minutes?",
				data
			) }}
		</div>
	</div>
{% endblock %}