{% extends "layouts/layout.njk" %}

{% from "../macros/phase-severity-questions.njk" import phaseSeverityQuestions %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
		
			{{ phaseSeverityQuestions (
				nextPageFileName="activity-7-toilet",
				title="You told us you have difficulties eating or drinking",
				question="Do any of the following apply when you eat or drink?",
				activityShortName="eating",
				physical="I have physical difficulty eating or drinking",
				memory="I have difficulty remembering to eat or drink",
				concentration="I have difficulty concentrating when eating or drinking",
				motivation="I don't feel up to eating or drinking",
				when="When do you have difficulties eating or drinking?",
				day="I have difficulty eating or drinking during the day",
				dayFrequency="Typically, how many times during the day do you need to eat or drink?",
				night="I have difficulty eating or drinking during the night",
				nightFrequency="Typically, how many times a night do you need to eat or drink?",
				nightMinutes="Do any of the occasions when you need to eat or drink take longer than 20 minutes?",
				data
			) }}
		</div>
	</div>
{% endblock %}
