{% extends "layouts/layout.njk" %}

{% from "../macros/phase-severity-questions.njk" import phaseSeverityQuestions %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
		
			{{ phaseSeverityQuestions (
				nextPageFileName="activity-2-dressing",
				title="You told us you have difficulties washing or cleaning yourself",
				question="Do any of the following apply when you wash or clean yourself?",
				activityShortName="washing",
				physical="I have physical difficulty washing or cleaning myself",
				memory="I have difficulty remembering to wash or clean myself",
				concentration="I have difficulty concentrating when washing or cleaning myself",
				motivation="I don't feel up to washing or cleaning myself",
				when="When do you have difficulties washing or cleaning yourself?",
				day="I have difficulty washing or cleaning myself during the day",
				dayFrequency="Typically, how many times during the day do you need to wash or clean yourself?",
				night="I have difficulty washing or cleaning myself during the night",
				nightFrequency="Typically, how many times a night do you need to wash or clean yourself?",
				nightMinutes="Do any of the occasions when you need to wash or clean yourself take longer than 20 minutes?",
				data
			) }}
		</div>
	</div>
{% endblock %}
