{% extends "layouts/layout.njk" %}

{% from "../macros/phase-severity-questions.njk" import phaseSeverityQuestions %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
		
			{{ phaseSeverityQuestions (
				nextPageFileName="activity-5-indoors",
				title="You told us you have difficulties taking medicine or receiving treatment",
				question="Do any of the following apply when you take medicine or receive treatment?",
				activityShortName="medicine",
				physical="I have physical difficulty taking medicine or receiving treatment",
				memory="I have difficulty remembering to take medicine or receive treatment",
				concentration="I have difficulty concentrating when taking medicine or receiving treatment",
				motivation="I don't feel up to taking medicine or receiving treatment",
				when="When do you have difficulties taking medicine or receiving treatment?",
				day="I have difficulty taking medicine or receiving treatment during the day",
				dayFrequency="Typically, how many times during the day do you need to take medicine or receive treatment?",
				night="I have difficulty taking medicine or receiving treatment during the night",
				nightFrequency="Typically, how many times a night do you need to take medicine or receive treatment?",
				nightMinutes="Do any of the occasions when you need to take medicine or receive treatment take longer than 20 minutes?",
				data
			) }}
		</div>
	</div>
{% endblock %}
