{% extends "layouts/layout.njk" %}

{% from "../macros/phase-severity-questions.njk" import phaseSeverityQuestions %}

{% block content %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			
		
			{{ phaseSeverityQuestions (
				nextPageFileName="communication",
				title="You told us you have difficulties using or getting to the toilet",
				question="Do any of the following apply when using or getting to the toilet?",
				activityShortName="toilet",
				physical="I have physical difficulty using or getting to the toilet",
				memory="I have difficulty remembering to use or get to the toilet",
				concentration="I have difficulty concentrating when using or getting to the toilet",
				motivation="I don't feel up to using or getting to the toilet",
				when="When do you have difficulties using or getting to the toilet?",
				day="I have difficulty using or getting to the toilet during the day",
				dayFrequency="Typically, how many times during the day do you need to use or get to the toilet?",
				night="I have difficulty using or getting to the toilet during the night",
				nightFrequency="Typically, how many times a night do you need to use or get to the toilet?",
				nightMinutes="Do any of the occasions when you need to use or get to the toilet take longer than 20 minutes?",
				data
			) }}
		</div>
	</div>
{% endblock %}