
{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    {% if data['referrer'] === 'check-your-answers'  %}
		<form action="check-your-answers" method="post" class="form">
	{% else %}
		<form action="country" method="post" class="form">
	{% endif %}

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
    {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

    {{ govukCheckboxes({
      idPrefix: "benefits",
      name: "benefits",
      fieldset: {
        legend: {
          text: "Are you receiving any of these benefits?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "disability-living-allowance",
          text: "Disability Living Allowance (DLA)",
          checked: true if data["benefits"] and data["benefits"].includes("disability-living-allowance")
        },
        {
          value: "personal-independence-payment",
          text: "Personal Independence Payment (PIP)",
          checked: true if data["benefits"] and data["benefits"].includes("personal-independence-payment")
        },
        {
          value: "constant-attendance-allowance",
          text: "Constant Attendance Allowance (CAA)",
          checked: true if data["benefits"] and data["benefits"].includes("constant-attendance-allowance")
        },
        {
          divider: "or"
        },
        {
          value: "none",
          text: "None of these benefits",
          behaviour: "exclusive",
          checked: true if data["benefits"] and data["benefits"].includes("none")
        }
        
      ]
    }) }}



  </fieldset>
</div>


<button class="govuk-button" data-module="govuk-button">Continue</button>

</form>


</div>
</div>
</div>

{% endblock %}
