{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}



{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="country" method="post" novalidate>
          <div class="govuk-width-container">
            <a href="#" class="govuk-back-link">Back</a>
            <main class="govuk-main-wrapper " id="main-content" role="main">
              <div class="govuk-grid-row">
                <h1 class="govuk-heading-l">Based on your answers, you may not be eligible to apply</h1>
                <p class="govuk-body">To claim Attendance Allowance you must not be receiving Disability Living Allowance (DLA) or Personal Independence Payment (PIP).</p>
                <h2 class="govuk-heading-m">Carer’s Allowance</h2>
                <p class="govuk-body">If someone cares for you for 35 hours per week or more, they may be eligible to claim <a href="https://www.gov.uk/carers-allowance">Carer's Allowance</a>.</p>
                <h2 class="govuk-heading-m">If you still want to apply</h2>
                <p class="govuk-body">You can still <a href="country">apply for Attendance Allowance</a> but you may not be entitled to it.</p>
              </div>
            </main>
          </div>
        </form>
      </div> 
    </div>
  </main>
</div>


{% endblock %}
