{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			

			{% if data['referrer'] === 'check-your-answers'  %}
				<form action="check-your-answers" method="post" class="form">
			{% else %}
				<form action="health" method="post" class="form">
			{% endif %}

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="needs-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Do you have difficulty communicating in any of the following ways?
              </h1>
            </legend>
            <span id="needs-hint" class="govuk-hint">
             Select all that apply.
            </span>

            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="communication-need-1" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="understanding-people" 
                  {{ 'checked' if data['communication-needs'] and 'understanding-people' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="communication-need-1">
                  Understanding people you don't know well
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="communication-need-2" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="making-yourself-understood" 
                  {{ 'checked' if data['communication-needs'] and 'making-yourself-understood' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="communication-need-2">
                  Making yourself understood to people you don't know well
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="communication-need-3" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="answering-the-phone" 
                  {{ 'checked' if data['communication-needs'] and 'answering-the-phone' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="communication-need-3">
                  Answering or using the phone
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="communication-need-4" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="reading" 
                  {{ 'checked' if data['communication-needs'] and 'reading' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="communication-need-4">
                  Reading letters
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="communication-need-5" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="filling-in-forms" 
                  {{ 'checked' if data['communication-needs'] and 'filling-in-forms' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="communication-need-5">
                  Filling in forms
                </label>
              </div>

              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="communication-need-6" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="replying-to-letters" 
                  {{ 'checked' if data['communication-needs'] and 'replying-to-letters' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="communication-need-6">
                  Replying to letters
                </label>
              </div>
              
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="need3" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="replying-to-email" 
                  {{ 'checked' if data['communication-needs'] and 'replying-to-email' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="need4">
                  Replying to emails
                </label>
              </div>

              <div class="govuk-checkboxes__divider">or</div>
              <div class="govuk-checkboxes__item">
                <input 
                  class="govuk-checkboxes__input" 
                  id="communication-need-7" 
                  name="communication-needs" 
                  type="checkbox" 
                  value="none" 
                  data-behaviour="exclusive"
                  {{ 'checked' if data['communication-needs'] and 'none' in data['communication-needs'] }}
                >
                <label class="govuk-label govuk-checkboxes__label" for="communication-need-7">
                  None of these
                </label>
              </div>

            </div>

          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>
{% endblock %}
