{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}

	{% if data['referrer'] === 'check-your-answers'  %}
		<form action="check-your-answers" method="post" class="form">
	{% else %}
		<form action="benefits" method="post" class="form">
	{% endif %}

		
		{{ govukDateInput({
			items: [
				{
					classes: 'govuk-input--width-2',
					name: 'day',
					value: data['date-of-birth-day']
				},
				{
					classes: 'govuk-input--width-2',
					name: 'month',
					value: data['date-of-birth-month']
				},
				{
					classes: 'govuk-input--width-4',
					name: 'year',
					value: data['date-of-birth-year']
				}
			],
			id: "date-of-birth",
			namePrefix: "date-of-birth",
			fieldset: {
			legend: {
				text: "What is your date of birth?",
				isPageHeading: true,
				classes: "govuk-fieldset__legend--l"
			}
			},
			hint: {
			text: "For example, 27 3 1948."
			}
		}) }}

		<button class="govuk-button" data-module="govuk-button">Continue</button>
		</form>
		</div>
	</div>
{% endblock %}
