
{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    
		<form action="check-your-answers" method="post" class="form">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Do you want an email to confirm we have received your application?
            </h1>
          </legend>
          
          <div class="govuk-form-group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <p class="govuk-body">
                  If we need more information about your application, we will contact you by phone or post.
                </p>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input 
                    class="govuk-radios__input" 
                    id="yes" 
                    name="email-confirmation" 
                    type="radio" 
                    value="yes" 
                    data-aria-controls="conditional-contact"
                    {{ 'checked' if data['email-confirmation'] === 'yes' }}
                  >
                  <label class="govuk-label govuk-radios__label" for="yes">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-contact">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email">
                      Email address
                    </label>
                    <div id="email-hint" class="govuk-hint">
                      We will only use this to send you a confirmation email
                    </div>
                    <input 
                      class="govuk-input" 
                      id="contact-by-email" 
                      name="contact-by-email" 
                      type="email" 
                      spellcheck="false"
                      value="{{data['contact-by-email']}}"
                    >
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="contact-by-email-confirm">
                      Confirm email address
                    </label>
                    <input 
                      class="govuk-input" 
                      id="contact-by-email-confirm" 
                      name="contact-by-email-confirm" 
                      type="email" 
                      spellcheck="false"
                      value="{{data['contact-by-email-confirm']}}"
                    >
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input 
                    class="govuk-radios__input" 
                    id="no" 
                    name="email-confirmation" 
                    type="radio" 
                    value="no"
                    {{ 'checked' if data['email-confirmation'] === 'no' }}
                  >
                  <label class="govuk-label govuk-radios__label" for="no">
                    No
                  </label>
                </div>
              </div>

          </div>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </div>
        </fieldset>
      </div>

    </form>
  </div>
</div>

{% endblock %}
