
{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    {% if data['referrer'] === 'check-your-answers'  %}
	<form action="check-your-answers" method="post" class="form">
	{% else %}
	<form action="home-address-postcode" method="post" class="form">
	{% endif %}

    {% from "govuk/components/input/macro.njk" import govukInput %}

    {{ govukInput({
      label: {
        text: "What is your full name?",
        classes: "govuk-label--l",
        isPageHeading: true
      },
      hint: {
        text: "Include any middle names."
      },
      id: "event-name",
      name: "event-name",
      value: data["event-name"]
    }) }}

<button class="govuk-button" data-module="govuk-button">Continue</button>

</form>


</div>
</div>
</div>

{% endblock %}
