{% extends "layouts/layout.njk" %}

{% block pageTitle %}
	Apply for Attendance Allowance
{% endblock %}

{% block content %}
	<div class="govuk-width-container">
		<a href="#" class="govuk-back-link">Back</a>
		<main class="govuk-main-wrapper " id="main-content" role="main">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
					{% if data['referrer'] === 'check-your-answers'  %}
						<form action="check-your-answers" method="post" class="form">
					{% else %}
						<form action="care" method="post" novalidate>
					{% endif %}
						<div class="govuk-form-group">
							<fieldset class="govuk-fieldset">
								<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
									<h1 class="govuk-fieldset__heading">What is your home address?</h1>
								</legend>

								<h2 class="govuk-heading-m">Postcode</h2>

								<p class="govuk-body">NE25 9NZ&emsp;<a href="search_pattern">Change</a></p>

								<div class="govuk-form-group">
									<label class="govuk-heading-m" for="address">
										Select an address
									</label>
									<select class="govuk-select" id="address" name="address">
										<option value="47089597">60 addresses found</option>
										<option value="2 TURNBERRY RED HOUSE FARM, WHITLEY BAY">2 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="4 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">4 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="6 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">6 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="8 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">8 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="10 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">10 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="12 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">12 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="14 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">14 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="16 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">16 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="18 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">18 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="20 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">20 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="22 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">22 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="24 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">24 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="26 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">26 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="28 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">28 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="30 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">30 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="32 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">32 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="34 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">34 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="36 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">36 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="38 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">38 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="40 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">40 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="42 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">42 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="44 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">44 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="46 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">46 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="48 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">48 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="50 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">50 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="52 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">52 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="54 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">54 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="56 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">56 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="58 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">58 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="60 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">60 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="62 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">62 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="64 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">64 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="66 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">66 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="68 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">68 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="70 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">70 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="72 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">72 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="74 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">74 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="76 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">76 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="78 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">78 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="80 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">80 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="82 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">82 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="84 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">84 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="86 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">86 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="88 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">88 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="90 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">90 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="92 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">92 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="94 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">94 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="96 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">96 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="98 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">98 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="100 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">100 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="102 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">102 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="104 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">104 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="106 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">106 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="108 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">108 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="110 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">110 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="112 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">112 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="114 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">114 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="116 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">116 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="118 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">118 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
										<option value="120 TURNBERRY, RED HOUSE FARM, WHITLEY BAY">120 TURNBERRY, RED HOUSE FARM, WHITLEY BAY</option>
									</select>

								</div>

								<p class="govuk-body"><a href="#" ><br>Enter address manually</a></p>

							</fieldset>
						</div>

						<button class="govuk-button" data-module="govuk-button">Continue</button>

					</form>
				</div>
			</div>
		</main>
	</div>
{% endblock %}
