{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {#  #}
    <form action="start" method="post" class="form">

      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "What’s your verification code?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
		classes: "govuk-input--width-5",
        id: "verification-code",
        name: "verification-code"
      }) }}

      <button class="govuk-button" data-module="govuk-button">Start prototype</button>

    </form>

  </div>
</div>


{% endblock %}
