{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="date-of-birth" method="post" novalidate>
          <div class="govuk-width-container">
              <div class="govuk-breadcrumbs">
                <ol class="govuk-breadcrumbs__list">
                  <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="/">Home</a>
                  </li>
                  <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-breadcrumbs__link" href="#">Attendance Allowance</a>
                  </li>
                  <li class="govuk-breadcrumbs__list-item" aria-current="page">Start</li>
                </ol>
              </div>

              <main class="govuk-main-wrapper " id="main-content" role="main">
                <div class="govuk-grid-row">
                  <div>
                    <h1 class="govuk-heading-l">Make a claim</h1>
                    <p class="govuk-body">Before you apply make sure you have your National Insurance number.</p>
                    <div class="govuk-inset-text">You can find your NI number on your National Insurance card, pension statement, benefit letter, payslip or P60. This is an example NI number, ‘QQ 12 34 56 C’.</div>
                    <!-- <ul class="govuk-list govuk-list--bullet">
                      <li>your National Insurance number</li>
                    </ul> -->
                     <p class="govuk-body">
                    <a href="date-of-birth?referrer=start" role="button" draggable="false" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8 govuk-button--start" data-module="govuk-button">Apply now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
                      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" /></svg></a></p>
                    <h2 class="govuk-heading-m">Other ways to apply</h2>
                    <p class="govuk-body">If you cannot apply online, <a href="https://www.gov.uk/government/publications/attendance-allowance-claim-form">you can apply by post</a>. The address to send your application is at the end of the form. Your claim will be considered from the date we receive it.</p>
                    <h2 class="govuk-heading-m">If you’re terminally ill (‘special rules’)</h2>
                    <p class="govuk-body">There are ‘special rules’ so you get Attendance Allowance more quickly if you’re not expected to live more than 6 months. You must:</p>
                    <ul class="govuk-list govuk-list--bullet">
                      <li>complete an <a href="https://www.gov.uk/government/publications/attendance-allowance-claim-form">Attendance Allowance form</a></li>
                      <li>ask a doctor or other healthcare professional for form DS1500 - they’ll either fill it in and give the form to you or send it directly to DWP</li>
                    </ul>
                    <p class="govuk-body">You can do this on behalf of someone else without their permission. The letter about the money awarded will not mention ‘special rules’.</p>
                    <h2 class="govuk-heading-m">If you disagree with a decision</h2>
                    <p class="govuk-body">You can <a href="https://www.gov.uk/mandatory-reconsideration">challenge a decision</a> about your claim. This is called asking for mandatory reconsideration.</p>
                    <h2 class="govuk-heading-m">Complaints</h2>
                    <p class="govuk-body">You can <a href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/complaints-procedure#who-to-contact-1">complain to the Department for Work and Pensions (DWP)</a> if you’re unhappy with the service you’ve received.</p>

                </div>
              </div>
            </main>
          </div>
        </form>
      </div>
    </div>
  </main>
</div>


{% endblock %}
