
{% extends "layouts/layout.njk" %}

{% block pageTitle %}
  Apply for Attendance Allowance
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    

    {% if data['referrer'] === 'check-your-answers'  %}
		<form action="check-your-answers" method="post" class="form">
	  {% else %}
		<form action="email-confirm" method="post" class="form">
	  {% endif %}

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your telephone number?
            </h1>
          </legend>
          <p class="govuk-body">We will only phone you if we need to talk to you about your claim. You can enter your landline, mobile or both.</p>

          <div class="govuk-form-group">
            <div id="landline-hint" class="govuk-body">
              This is optional, you do not have to share any number.
            </div>
            <label class="govuk-heading-m" for="landline-number">
						  Landline number (optional)
						</label>
            <input class="govuk-input" id="landline-number" name="landline-number" type="text" spellcheck="false" value="{{data['landline-number']}}"></div>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-heading-m" for="landline-number">
              Mobile number (optional)
            </label>
            <div id="mobile-hint" class="govuk-hint">
              If you enter your mobile number, you will also receive an SMS to confirm we've received your application.
            </div>
            <input class="govuk-input" id="mobile-number" name="mobile-number" type="text" spellcheck="false" value="{{data['mobile-number']}}">
          </div>

          <div class="govuk-form-group">
            <div class="govuk-checkboxes__item">
              <input 
                class="govuk-checkboxes__input" 
                id="textphone" 
                name="textphone" 
                type="checkbox" 
                value="yes"
                {{ 'checked' if data['textphone'] and 'yes' in data['textphone'] }}
              >
              <label class="govuk-label govuk-checkboxes__label" for="textphone">
                This is a textphone for people with hearing difficulties
              </label>
            </div>
          </div>

          <div class="govuk-form-group">
            <button class="govuk-button" data-module="govuk-button">Continue</button>
          </div>
        </fieldset>
      </div>

    </form>
  </div>
</div>

{% endblock %}
