{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  
  <span class="govuk-caption-l">Getting into the right position in bed during the night</span>
  
  <h1 class="govuk-heading-l">
    You told us you have difficulty getting into a comfortable position in bed
  </h1>
  <p class="govuk-body govuk-!-margin-bottom-2">This could mean:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>getting comfortably settled</li>
    <li>turning over in bed</li>
    <li>needing to be propped up so that you can breathe easily</li>
    <li>putting your bedclothes back on the bed if they fall off</li>
  </ul>
  
  {{ govukRadios({
    classes: "govuk-radios",
    idPrefix: "bed-position-night",
    name: "bed-position-night",
    fieldset: {
      legend: {
        text: "Do you have physical difficulty getting into a comfortable position in bed?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation["bed-position-night"].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["bed-position-night"] === "yes"
      },
      {
        value: "no",
        text: "No",
        checked: true if data["bed-position-night"] === "no"
      }
    ]
  }) }}
{% endblock %}