{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block backLink %}
        {{ govukBackLink({
          text: "Back",
          href: "other-benefits"
        }) }}
      {% endblock %}
      <div class="govuk-form-group">
        <h1 class="govuk-heading-l">Based on your answers, you may not get Attendance Allowance</h1>
        <h1 class="govuk-heading-m">If you already get Attendance Allowance</h1>  
        <p class="govuk-body">Do not make a new claim application. Update your existing claim by telling us about changes that may affect your Attendance Allowance.</p>

        <p class="govuk-body"><a href="https://www.gov.uk/attendance-allowance/report-change-in-circumstances" class="govuk-link">Report a change in circumstances</a>.</p>

        <h1 class="govuk-heading-m">If you already get one of these benefits</h1>  

        <p class="govuk-body">You are not eligible for Attendance Allowance if you get any of these:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Adult Disability Payment(ADP)</li>
          <li>Disability Living Allowance(DLA)</li>
          <li>Personal Independence Payment(PIP)</li>
        </ul>
      </div>
      <div class="govuk-inset-text">
        If you continue to apply for Attendance Allowance, the decision maker may look at these other benefits as well as your Attendance Allowance claim, which may result in a change to what you currently receive.
      </div>
      <p class="govuk-body">You can <a href="nationality" class="govuk-link">continue to apply for Attendance Allowance</a> but you may not be entitled to it.</p>

    </div>
  </div>
{% endblock %}