{% from "govuk/components/input/macro.njk" import govukInput %}


{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Stumbling during the day</span>
  <h1 class="govuk-heading-l">
    How many times a week do you stumble? 
  </h1>
  
  {{ govukInput({
    name: "frequency-stumbling",
    type: "stumbling",
    autocomplete: "stumbling",
    classes: "govuk-input--width-4",
    value: data['frequency-stumbling'],
    errorMessage: data.validation['frequency-stumbling'].error,
    hint: {
      text: "Please enter a number (it can be approximate)"
    }
  }) }}
 
{% endblock %}