{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Attendance Allowance Prototypes
      </h1>

      {# [Version listings] (do not delete this comment it is used in automation) #}

      {# [sprint-75-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-75</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-75 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-75/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Mon Nov 27 2023</p>
      </div>
      {# [sprint-75-end] (do not delete this comment it is used in automation) #}

      {# [sprint-63-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-63</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-63</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Illness disability start date</li>
        </ul>
        <a href="sprint-63/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Tue Jun 13 2023</p>
      </div>
      {# [sprint-63-end] (do not delete this comment it is used in automation) #}

      {# [sprint-62-severity-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-62-severity</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-62 Severity Routing</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-62-severity/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Tue Jun 13 2023</p>
      </div>
      {# [sprint-62-severity-end] (do not delete this comment it is used in automation) #}

      {# [sprint-62-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-62</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-62</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-62/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Tue Jun 13 2023</p>
      </div>
      {# [sprint-62-end] (do not delete this comment it is used in automation) #}

      {# [sprint-61-1-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-61-1</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-61-1 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-61-1/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Wed May 10 2023</p>
      </div>
      {# [sprint-61-1-end] (do not delete this comment it is used in automation) #}

      {# [sprint-61-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-61</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-61 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-61/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Wed May 10 2023</p>
      </div>
      {# [sprint-61-end] (do not delete this comment it is used in automation) #}

      {# [sprint-60-1-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-60-1</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-60-1 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-60-1/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Thu Apr 27 2023</p>
      </div>
      {# [sprint-60-1-end] (do not delete this comment it is used in automation) #}

      {# [sprint-60-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-60</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-60 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-60/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Tue Apr 25 2023</p>
      </div>
      {# [sprint-60-end] (do not delete this comment it is used in automation) #}

      {# [sprint-59-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-59</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-59 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-59/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Tue Apr 18 2023</p>
      </div>
      {# [sprint-59-end] (do not delete this comment it is used in automation) #}

      {# [sprint-58-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-58</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-58 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-58/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Thu Mar 23 2023</p>
      </div>
      {# [sprint-58-end] (do not delete this comment it is used in automation) #}

      {# [sprint-57-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-57</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-57 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-57/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Mon Mar 13 2023</p>
      </div>
      {# [sprint-57-end] (do not delete this comment it is used in automation) #}

      {# [sprint-56-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-56</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-56 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-56/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Thu Feb 23 2023</p>
      </div>
      {# [sprint-56-end] (do not delete this comment it is used in automation) #}

      {# [sprint-55-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-55</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-55 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-55/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Thu Feb 16 2023</p>
      </div>
      {# [sprint-55-end] (do not delete this comment it is used in automation) #}

      {# [sprint-54-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-54</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint sprint-54 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-54/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Fri Feb 03 2023</p>
      </div>
      {# [sprint-54-end] (do not delete this comment it is used in automation) #}

      {# [sprint-53-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint-53</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Illness and disabilities workflow</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Remove freetext illness and disability question</li>
          <li>Replace with an autocomplete selction</li>
          <li>Allow claimant to build up a list of conditions</li>
          <li>Allow claimant ability to delete items from the list of conditions</li>
          <li>Claimant can add a new condition if it is not contained in the control already</li>
        </ul>
        <a href="sprint-53/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Mon Jan 16 2023</p>
      </div>
      {# [sprint-53-end] (do not delete this comment it is used in automation) #}

      {# [sprint-48-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint 48</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint 48 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-48/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Fri Oct 21 2022</p>
      </div>
      {# [sprint-48-end] (do not delete this comment it is used in automation) #}

      {# [sprint-47-start] (do not delete this comment it is used in automation) #}
      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">sprint 47</span>
          <span class="govuk-tag govuk-tag--blue">FROZEN</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Sprint 47 iteration</h2>
        <ul class="govuk-list govuk-list--bullet">
        </ul>
        <a href="sprint-47/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - Fri Oct 21 2022</p>
      </div>
      {# [sprint-47-end] (do not delete this comment it is used in automation) #}

      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">v2.1.0</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Revision to MVP journey</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Revised start page content</li>
          <li>Modified 'What is your nationality?' page and flow </li>
          <li>Changed special rules routing and signpost page</li>
          <li>Re-designed illness and disabilities page</li>
        </ul>
        <a href="v2-1-0/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - 1 Jul 2022</p>
      </div>

      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">v2.0.0</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">Significant revisions to day/night needs</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Regrouped the care needs</li>
          <li>Simplified the journey, removing the progressive reveals</li>
          <li>Reduced the cognitive load</li>
          <li>Changed the designs, so users didn’t get form fatigue</li>
          <li>Changed the content, so that the questions made more sense editorially</li>
          <li>Split out day and night into separate sections</li>
          <li>Added hint text for all the care needs</li>
        </ul>
        <h2 class="govuk-heading-m">Supervision</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Made the supervision questions clearer, so that users wouldn’t get confused</li>
        </ul>
        <h2 class="govuk-heading-m">Renal dialysis</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Added this journey for renal dialysis, and whether the user receives treatment at home or in hospital</li>
        </ul>
        <h2 class="govuk-heading-m">Special rules for terminal illness (Special rules for end of life)</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Added this journey to the flow</li>
        </ul>
        <a href="v2-0-0/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - 6 May 2022</p>
      </div>

      <div class="app-most-recent govuk-!-padding-bottom-7">
        <div>
          <span class="govuk-tag govuk-tag--turquoise">v1.1.0</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">End-to-end journey v1 improvements</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>Errors and validation have been added</li>
          <li>Introduction of nationality capture</li>
        </ul>
        <a href="v1-1-0/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - 28 Feb 2022</p>

        <div>
          <span class="govuk-tag govuk-tag--turquoise">v1.0.0</span>
        </div>
        <br/>
        <h2 class="govuk-heading-m">End-to-end journey v1</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>First iteration of complete end to end journey</li>
            <li>First version used for User Research</li>
            <li>Includes the care needs day / night looping design</li>
            <li>Retains answers from page to page</li>
            <li>Has a split Landline / Mobile telephone capture</li>
            <li>Has working Check Your Answers page</li>
            <li>Includes an illness survey at the end</li>
          </ul>
        <a href="v1-0-0/" class="govuk-button govuk-button--start">Start</a>
        <p class="govuk-body govuk-!-font-size-16">Date created - 01 Feb 2022</p>
      </div>

    </div>
  </div>

{% endblock %}
