{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../macros/phase-button.njk" import phaseButton %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
      <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-7">
        Your home adaptations, specialist equipment or aids
      </h1>
    </legend>

    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
    <h2 class="govuk-fieldset__heading govuk-body">
      {% if data['aids-adaptations-rows-2'].length > 0 %}
        Enter another adaptation, equipment or aid
      {% else %}
        Enter your first adaptation, equipment or aid
      {% endif %}
    </h2>
  </legend>

    {{ govukInput({
    id: "aids-adaptations-2",
    name: "aids-adaptations-2",
    errorMessage: data.validation['aids-adaptations-2'].error,
    classes: "govuk-!-margin-bottom-5"
    }) }}


    {{ govukRadios({
    idPrefix: "aids-adaptations-difficulty-2",
    name: "aids-adaptations-difficulty-2",
    fieldset: {
      legend: {
        text: "Do you find this adaptation, equipment or aid difficult to use?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation['aids-adaptations-difficulty-2'].error,
    items: [
      {
        value: "Yes",
        text: "Yes",
        checked: true if data["aids-adaptations-difficulty-2"] === "yes"
      },
      {
        value: "No",
        text: "No",
        checked: true if data["aids-adaptations-difficulty-2"] === "no"
      }
    ]
  }) }}

{% block formButton %}
{% endblock %}

  <div class="govuk-button-group">
    {{ phaseButton(data, "Continue") }}
    {% if data['aids-adaptations-rows'].length > 0 %}
      {{ govukButton({
        text: "Skip",
        classes: "govuk-button--secondary",
        href: "aids-adaptations-added"
      }) }}
    {% endif %}
  </div>

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}