{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}

{% block form %}

  {% set countryOutsideUkInsuranceBody %}
    <p class="govuk-body govuk-hint govuk-!-margin-bottom-4">
      By insurance we mean connected to work, like UK National Insurance.
    </p>
  {% endset %}

  {{ govukRadios({
    idPrefix: "country-outside-uk-working",
    name: "country-outside-uk-working",
    fieldset: {
      legend: {
        text: "Are you, your wife, husband or civil partner working in or paying insurance to an EEA state or Switzerland?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['country-outside-uk-working'].error,
    hint: {
      html: countryOutsideUkInsuranceBody
    },
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["country-outside-uk-working"] === "yes"
      },
      {
        value: "no",
        text: "No",
        checked: true if data["country-outside-uk-working"] === "no"
      },
      {
        value: "unsure",
        text: "I do not know",
        checked: true if data["country-outside-uk-working"] === "unsure"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}