{% from "../macros/v5.11.0-components/pagination/macro.njk" import govukPagination %}

{% extends "v5.11.0-layouts/govuk-layout.njk" %}

{% block content %}

  <div class="govuk-width-container">
    <main class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Attendance Allowance</h1>

          <ul class="govuk-list govuk-body-s">
            <li class="govuk-!-margin-bottom-2">Contents</li>
            <li class="govuk-!-margin-bottom-2">&#8212;  <a href="overview" class="govuk-link">Overview</a></li>
            <li class="govuk-!-margin-bottom-2">&#8212;  <a href="what-youll-get" class="govuk-link">What you'll get</a></li>
            <li class="govuk-!-margin-bottom-2">&#8212;  Eligibility</li>
            <li class="govuk-!-margin-bottom-2">&#8212;  <a href="how-to-claim" class="govuk-link">How to claim</a></li>
            <li class="govuk-!-margin-bottom-2">&#8212;  <a href="report-change-in-circumstances" class="govuk-link">Report a change in circumstances</a></li>
            <li class="govuk-!-margin-bottom-2">&#8212;  <a href="claiming-end-of-life" class="govuk-link">Claiming Attendance Allowance if you’re nearing the end of life</a></li>
          </ul>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

          <h2 class="govuk-heading-l">Eligibility</h2>

          <p class="govuk-body">
            You can get Attendance Allowance if you’ve reached <a href="#" class="govuk-link">State Pension age</a>
            and the following apply:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>you have a physical disability (including sensory disability, for example blindness),
            a mental disability (including learning difficulties), or a health condition</li>
            <li>your disability or health condition is severe enough for you to need help caring for yourself or someone
            to supervise you, for your own or someone else’s safety</li>
            <li>you have needed that help for at least 6 months</li>
          </ul>

          <div class="govuk-inset-text">
            There are different eligibility rules <a href="claiming-end-of-life" class="govuk-link">if you’re nearing
            the end of life</a> (for example, due to a life-limiting illness). You might be able to
            get Attendance Allowance more quickly and at a higher rate.
          </div>

          <p class="govuk-body">You must also:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>be in Great Britain when you claim - there are some exceptions, such as members and family members of the armed forces</li>
            <li>have been in Great Britain for at least 2 of the last 3 years (this does not apply if you’re a refugee or have humanitarian protection status)</li>
            <li>be <a href="#" class="govuk-link">habitually resident</a> in the UK, Ireland, Isle of Man or the Channel Islands</li>
            <li>not be subject to <a href="#" class="govuk-link">immigration control</a> (unless you’re a sponsored immigrant)</li>
            <li>not get <a href="#" class="govuk-link">Disability Living Allowance (DLA)</a>,
            <a href="#" class="govuk-link">Personal Independence Payment (PIP)</a> or <a href="#" class="govuk-link">Adult Disability Payment (ADP)</a></li>
          </ul>

          <h3 class="govuk-heading-m govuk-!-static-padding-top-5">If you live in Scotland</h3>

          <p class="govuk-body">
            You will need to <a href="https://www.mygov.scot/pension-age-disability-payment" class="govuk-link">
            apply for Pension Age Disability Payment</a> instead of Attendance Allowance if you live in:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Aberdeen City</li>
            <li>Argyll and Bute</li>
            <li>Highland</li>
            <li>Orkney Islands</li>
            <li>Shetland Islands</li>
          </ul>

          <div class="govuk-inset-text">
            If you live in one of these areas and you already get Attendance Allowance,
            you do not need to apply for Pension Age Disability Payment.
          </div>

          <p class="govuk-body">If you live in another part of Scotland, apply for Attendance Allowance.</p>

          <h3 class="govuk-heading-m govuk-!-static-padding-top-5">If you live in the EU, Switzerland, Norway, Iceland or Liechtenstein</h3>

          <p class="govuk-body">You might still be able to get Attendance Allowance if you’re a UK national
          and you live in or move to the EU, European Economic Area (EEA) or Switzerland.</p>

          <p class="govuk-body">Read guidance to <a href="#" class="govuk-link">find out if you can get benefits in the EU, EEA or Switzerland</a>.</p>

          <h3 class="govuk-heading-m govuk-!-static-padding-top-5">If you’re in a care home</h3>

          <p class="govuk-body">You cannot usually get Attendance Allowance if you live in a care home and your care is paid for by your local authority.
          You can still claim Attendance Allowance if you pay for all your care home costs yourself.</p>

          <h3 class="govuk-heading-m govuk-!-static-padding-top-5">If you need an assessment</h3>

          <p class="govuk-body">You’ll only need to attend an assessment to check your eligibility if it’s unclear how your illness or disability affects you.</p>

          <p class="govuk-body">If you do need an assessment you’ll get a letter saying why and where you must go.
          During the assessment, a medical professional will need to examine you.</p>

          {{ govukPagination({
            previous: {
              labelText: "What you'll get",
              href: "what-youll-get"
            },
            next: {
              labelText: "How to claim",
              href: "how-to-claim"
            }
          }) }}

          <p class="govuk-body"><a href="#" class="govuk-link">View a printable version of the whole guide</a></p>
        </div>

        <div class="govuk-grid-column-one-third">
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <h3 class="govuk-heading-s">Related content</h3>
          <p class="govuk-body-s govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Financial help if you're disabled</a></p>
          <p class="govuk-body-s govuk-!-margin-bottom-3"><a href="#" class="govuk-link">How and when your benefits are paid</a></p>
          <p class="govuk-body-s govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Carer's Allowance</a></p>
          <p class="govuk-body-s govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Personal Independence Payment (PIP)</a></p>
          <p class="govuk-body-s govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Pension Credit</a></p>
          <p class="govuk-body-s govuk-!-margin-bottom-3"><a href="#" class="govuk-link">Show 2 more</a></p>
        </div>
      </div>
    </main>
  </div>

{% endblock %}

{% block formButton %}
{% endblock %}
