{% extends "v5.11.0-layouts/prototypeLayout.njk" %}


{% block form %}

  <div>
    <img src="/assets/images/supporting-docs-email.png" alt="Email confirmation test" width="100%" height="100%">
  </div>

{% endblock %}

{% block formButton %}

{% endblock %}
