{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "v5.11.0-layouts/prototypeLayout.njk" %}

{% block form %}

    <h1 class="govuk-heading-l">
      You cannot help someone to apply if someone else has authority over their benefits or financial affairs
    </h1>

    <p class="govuk-body">
      If someone has been appointed to make decisions for the person you are helping, for example a power of attorney,
      that person will need to complete the application for Attendance Allowance.
    </p>

    <p class="govuk-body">
      This is because we need additional information about them. This claim will be delayed if we do not have this information.
    </p>

{% endblock %}

{% block formButton %}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}