{% extends "v5.11.0-layouts/prototypeLayout.njk" %}

{% block form %}

 <h1 class="govuk-heading-l">Uploading your supporting documents</h1>

  <p class="govuk-body">
    If your supporting documents are digital files, make sure they are saved to the device you are using to apply for Attendance Allowance.
  </p>

  <h2 class="govuk-heading-m">Taking photos or scans of your documents</h1>

  <p class="govuk-body">If you are taking a photo or scan of your document, make sure:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>all of the text can be read easily</li>
    <li>the photo or scan is not blurry</li>
    <li>each full page is visible, including all four corners</li>
  </ul>

  <p class="govuk-body">
    If you are doing this application on a mobile phone or tablet, you will be able to take a photo using your device.
  </p>

  {% if locale == 'NI' %}
    <div class="govuk-inset-text">
      Make sure your documents are stored securely. If you are using a 
      shared or public computer, delete the files once you have uploaded them.
    </div>
  {% endif %}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}