{% extends "v5-layouts/prototypeLayout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Page not found
      </h1>

      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>

      <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>

      <p class="govuk-body">
        If the web address is correct or you selected a link or button,
        contact the Attendance Allowance helpline to speak to someone about your application.
      </p>

      <p class="govuk-body">
        Telephone: 0800 731 0122
      </p>

      <p class="govuk-body">
        Textphone: 0800 731 0317
      </p>

      <p class="govuk-body">
        <a href='https://www.relayuk.bt.com' class="govuk-link">
          Relay UK
        </a>
        (if you cannot hear or speak on the phone): 18001 then 0800 731 0122
      </p>

      <p class="govuk-body">
        <a href='https://connect.interpreterslive.co.uk/vrs?ilc=DWP' class="govuk-link">
          Video relay service
        </a>
        for British Sign Language (BSL) users <a href='https://www.youtube.com/watch?v=oELNMfAvDxw' class="govuk-link">(Check you can use the video relay service)</a>
      </p>

      <p class="govuk-body">
        Monday to Friday, 8am to 6pm
      </p>

      <p class="govuk-body">
        <a href='https://www.gov.uk/call-charges' class="govuk-link">
          Find out about call charges
        </a>
      </p>
    </div>
  </div>
{% endblock %}
