{% extends "v5-layouts/prototypeLayout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Page not found
      </h1>

      <p class="govuk-body">
        If you typed the web address, check it is correct.
      </p>

      <p class="govuk-body">
        If you pasted the web address, check you copied the entire address.
      </p>

      <p class="govuk-body">
        If the web address is correct or you selected a link or button,
        contact the Attendance Allowance helpline to speak to someone about your application.
      </p>

      <p class="govuk-body">
        Telephone:<br>
        <strong class="govuk-!-font-weight-bold">0800 587 0912</strong>
      </p>

      <p class="govuk-body">
        Textphone:<br>
        <strong class="govuk-!-font-weight-bold">0800 012 1574</strong>
      </p>

      <p class="govuk-body">
        <a href='https://www.relayuk.bt.com' class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone):<br>
        <strong class="govuk-!-font-weight-bold">18001</strong> then <strong class="govuk-!-font-weight-bold">0800 731 0122</strong>
      </p>

      <p class="govuk-body">
        <a href='https://connect.interpreterslive.co.uk/vrs?ilc=DWP' class="govuk-link">Video relay service</a> for British Sign Language (BSL) users<br>
        <a href='https://www.youtube.com/watch?v=oELNMfAvDxw' class="govuk-link">(Check you can use the video relay service)</a>
      </p>

      <p class="govuk-body">
        Opening times:<br>
        <strong class="govuk-!-font-weight-bold">Monday to Friday, 8am to 6pm</strong>
      </p>

      <p class="govuk-body">
        <a href='https://www.nidirect.gov.uk/articles/contacting-08-and-03-numbers' class="govuk-link">
          Find out about call charges
        </a>
      </p>
    </div>
  </div>

{% endblock %}
