{% extends "v5-layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">Attendance Allowance</h1>
  <p class="govuk-body">
    By this point in the Attendance Allowance application, you would have told us about:
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    <li>your personal details</li>
    <li>your eligibility for UK benefits</li>
    <li>any care homes, hospital and hospice stays</li>
  </ul>
   
{% endblock %}

{% block formButton %}
  <button class="govuk-button govuk-button--start" data-module="govuk-button">
    Start now<svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
  </button> 
{% endblock %}