
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "v5-layouts/prototypeLayout.njk" %}


{% block form %}
  
      <a class="govuk-back-link" href="residence-country">Back</a>
      
      <h1 class="govuk-heading-l">Based on your answers, you need to apply using the paper form</h1>
      
        <p class="govuk-body">
          There is a different process for Attendance Allowance in Northern Ireland.
        </p>

        <p class="govuk-body">
          You will need to apply using the <a class="govuk-link govuk-link" href="https://www.nidirect.gov.uk/publications/attendance-allowance-claim-form-and-guidance-notes">paper claim form</a>.
        </p>
    
        
{% endblock %}

{% block formButton %}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}
       