{% macro rewordBenefit(benefit) %}
  {{ benefit
    | replace("disability-living-allowance", "Disability Living Allowance (DLA)" ) 
    | replace("personal-independence-payment", "Personal Independence Payment (PIP)" ) 
    | replace("adult-disability-payment", "Adult Disability Payment (ADP)" ) 
    | replace("constant-attendance-allowance", "Constant Attendance Allowance (CAA)" )
    | replace("no-other-benefit", "None" ) }}
{% endmacro %}