{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "v5-layouts/prototypeLayout.njk" %}

{% block form %}

  {% if locale == 'NI' %}
    <a href="https://attendance-allowance.herokuapp.com" class="govuk-back-link">Back</a>
    {% else %}
    <a href="how-to-claim" class="govuk-back-link">Back</a> 
  {% endif %}

  {{ govukRadios({
    idPrefix: "age-range-check",
    name: "age-range-check",
    fieldset: {
      legend: {
        text: "How old is the person who wants to claim Attendance Allowance?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "This service is still being developed and not everyone can apply online yet."
    },
    errorMessage: data.validation['age-range-check'].error,
    items: [
      {
        value: "65-under",
        text: "65 and under",
        checked: true if data["age-range-check"] === "65-under"
      },
      {
        value: "66-69",
        text: "66-69",
        checked: true if data["age-range-check"] === "66-69"
      },
      {
        value: "70-74",
        text: "70-74",
        checked: true if data["age-range-check"] === "70-74"
      },
      {
        value: "75-79",
        text: "75-79",
        checked: true if data["age-range-check"] === "75-79"
      },
      {
        value: "80-84",
        text: "80-84",
        checked: true if data["age-range-check"] === "80-84"
      },
      {
        value: "85-89",
        text: "85-89",
        checked: true if data["age-range-check"] === "85-89"
      },
      {
        value: "90-over",
        text: "90 and over",
        checked: true if data["age-range-check"] === "90-over"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}