{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

    <span class="govuk-caption-l">Washing or bathing during the day</span>
     <h1 class="govuk-heading-l">
       You told us you have difficulty washing or bathing
     </h1>

    <p class="govuk-body">This means:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>washing your body, limbs, face, underarms and hair</li>
      <li>using a bath or shower</li>
      <li>getting in and out of a bath or shower</li>
      <li>looking after your personal hygiene for example, brushing your teeth, shaving, etc</li>
    </ul>

  {{ govukCheckboxes
    ({
      idPrefix: "wash-day",
      name: "wash-day",
      fieldset: {
        legend: {
          text: "Does your condition affect you washing or bathing?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: data.validation['wash-day'].error,
      items: [{
        value: "wash-physical",
        text: "Yes, I have physical difficulty when I wash or bathe myself",
        checked: true if data["wash-day"] and data["wash-day"].includes("wash-physical")
      },
      {
        value: "wash-motivation",
        text: "Yes, I need encouragement or prompting to wash or bathe myself",
        checked: true if data["wash-day"] and data["wash-day"].includes("wash-motivation")
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "None of these apply to me",
        behaviour: "exclusive",
        checked: true if data["wash-day"] and data["wash-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}