{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Dressing and undressing yourself during the day</span>
     <h1 class="govuk-heading-l">
       You told us you have difficulty when you dress or undress yourself
     </h1>

  <p class="govuk-body govuk-!-margin-bottom-8">
    This includes struggling to put on and fasten clothes or footwear and taking them off. It could also mean choosing the appropriate clothes to wear each day.
  </p>

  {{ govukCheckboxes
    ({
      idPrefix: "dress-day",
      name: "dress-day",
      fieldset: {
        legend: {
          text: "Which difficulties do you have when you dress or undress yourself?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: data.validation['dress-day'].error,
      items: [{
        value: "dress-physical",
        text: "I have physical difficulty when I dress or undress myself",
        checked: true if data["dress-day"] and data["dress-day"].includes("dress-physical")
      },
      {
        value: "dress-motivation",
        text: "I need encouragement or prompting to dress or undress myself",
        checked: true if data["dress-day"] and data["dress-day"].includes("dress-motivation")
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "None of these apply to me",
        behaviour: "exclusive",
        checked: true if data["dress-day"] and data["dress-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}