{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Moving around indoors during the day</span>
  <h1 class="govuk-heading-l">
    Are you at risk of stumbling or falling? 
  </h1>

  {% set frequencyFallsHtml %}
    {{ govukInput({
      name: "frequency-falls",
      type: "falls",
      autocomplete: "falls",
      classes: "govuk-input--width-4",
      value: data['frequency-falls'],
      errorMessage: data.validation['frequency-falls'].error,
      label: {
        text: "In a typical month how many times do you stumble or fall?"
      },
      hint: {
        text: "Enter an approximate number"
      }
    }) }}

    {{ govukCheckboxes({
      name: "falls-checkbox",
      errorMessage: data.validation['falls-checkbox'].error,
      fieldset: {
        legend: {
          text: "Have you been referred to a Falls Clinic?"
        }
      },
      hint: {
        text: "Tick the checkbox if this applies to you"
      },
      items: [{
        value: "yes-falls",
        checked: true if data["falls-checkbox"] and data["falls-checkbox"].includes("yes-falls"),
        text: "I can confirm that I have been referred to a Falls Clinic"
      }]
    }) }} 
  {% endset %}

  {% set fallsHintText %}

  {% endset %}

  <p class="govuk-body">
    This may be the result of weak muscles, stiff joints or your knee gives way.  Or you might have problems with your sight, you may feel faint, dizzy or blackout or have a fit.
  </p>
  {{ govukRadios({
    id: "falling-stumbling",
    name: "falling-stumbling",
    errorMessage: data.validation['falling-stumbling'].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["falling-stumbling"] === "yes",
        conditional: {
          html: frequencyFallsHtml
        }
      }, {
        value: "no",
        text: "No",
        checked: true if data["falling-stumbling"] === "no"
      }
    ]
  }) }}

{% endblock %}