{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukRadios({
    idPrefix: "person-claiming",
    name: "person-claiming",
    fieldset: {
      legend: {
        text: "Who is claiming?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['person-claiming'].error,
    items: [
      {
        value: "myself",
        text: "I am applying for myself",
        checked: true if data["person-claiming"] === "myself"
      },
      {
        value: "helpingSomeone",
        text: "I'm helping someone to apply",
        hint: {
          html: helpingSomeoneHtml
        },
        checked: true if data["person-claiming"] === "helpingSomeone"
      },
      {
        value: "someoneOfficalCapacity",
        text: "I'm applying for someone else in an official capacity",
        hint: {
          html: someoneOfficalCapacity
        },
        checked: true if data["person-claiming"] === "someoneOfficalCapacity"
      },
      {
        value: "someoneSpecialRules",
        text: "I'm applying for someone else who has less than 6 months to live ('special rules')",
        hint: {
          html: someoneSpecialRules
        },
        checked: true if data["person-claiming"] === "someoneSpecialRules"
      }
    ]
  }) }}
{% endblock %}

{% set helpingSomeoneHtml %}
  <p class="govuk-hint">This means, you are helping someone to fill the form.<br/>The person who will receive the Attendance Allowance will submit the claim at the end.</p>
{% endset %}

{% set someoneOfficalCapacity %}
  <p class="govuk-hint">This means, you are completing the form on behalf of someone else and you will submit the claim at the end on their behalf.</p>
{% endset %}

{% set someoneSpecialRules %}
  <p class="govuk-hint">This means, you are completing the form on behalf of someone else who meets the 'special rules' criteria.
   You can do this without their permission. The award letter will not mention 'special rules'.</p>
{% endset %} 