{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What is your telephone number?
    </h1>
  </legend>
  <p class="govuk-body">We will only phone you if we need to talk to you about your claim.</p>

  <div class="govuk-form-group">
    <div class="govuk-inset-text">
      If you are filling the form on behalf of someone else, make sure you put the number that you would like to be contacted on with regards to this claim.
    </div> 
  </div>
  
  {{ govukInput({
    label: {
      text: "Main contact number"
    },
    hint: {
    text: "Enter your main contact number which can either be a mobile or a landline number, including the dialling code."
    },
    classes: "govuk-input--width-30",
    errorMessage: data.validation['main-contact-number'].error,
    id: "main-contact-number",
    name: "main-contact-number",
    value: data["main-contact-number"],
    autocomplete: "main-contact-number"
  }) }}

  {{ govukInput({
    label: {
      text: "Alternative phone number (optional)"
    },
    hint: {
    text: "Enter an alternative number you can be contacted on, including the dialling code."
    },
    classes: "govuk-input--width-30",
    id: "mobile-number-other",
    name: "mobile-number-other",
    value: data["mobile-number-other"],
    autocomplete: "mobile-number-other"
  }) }}

{% endblock %}