{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Getting to and using the toilet during the night</span>
  {{ govukRadios({
    id: "night-frequency-2-loo",
    name: "night-frequency-2-loo",
    fieldset: {
      legend: {
        text: "How many times a night do you need to use the toilet?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['night-frequency-2-loo'].error,
    items: [
      {
        value: "1",
        text: "1",
        checked: true if data["night-frequency-2-loo"] === "1"
      },
      {
        value: "2",
        text: "2",
        checked: true if data["night-frequency-2-loo"] === "2"
      },
      {
        value: "3+",
        text: "3 or more",
        checked: true if data["night-frequency-2-loo"] === "3+"
      }
    ]
  }) }}
  {{ govukRadios({
    id: "night-length-2-loo",
    name: "night-length-2-loo",
    fieldset: {
      legend: {
        text: "Typically, how long do the occasions take when you need to use the toilet?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation['night-length-2-loo'].error,
    items: [
      {
        value: "less than 20 minutes",
        text: "Less than 20 minutes",
        checked: true if data["night-length-2-loo"] === "less than 20 minutes"
      },
      {
        value: "more than 20 minutes",
        text: "More than 20 minutes",
        checked: true if data["night-length-2-loo"] === "more than 20 minutes"
      }
    ]
  }) }}
{% endblock %}