{% from "govuk/components/details/macro.njk" import govukDetails %}

{% set details %}
  <p class="govuk-body">
    Telephone: 0800 731 0122
    <br/> Textphone: 0800 731 0317
  </p>

  <p class="govuk-body">
    <a href='https://www.relayuk.bt.com' class="govuk-link">
      Relay UK
    </a> (if you cannot hear or speak on the
    <br/>phone): 18001 then 0800 731 0122
  </p>

  <p class="govuk-body">
    <a href='https://connect.interpreterslive.co.uk/vrs?ilc=DWP' class="govuk-link">
      Video relay service
    </a> for British Sign Language (BSL)
    <br/>users <a href='https://www.youtube.com/watch?v=oELNMfAvDxw' class="govuk-link">(Check you can use the video relay service)</a>
  </p>

  <p class="govuk-body">
    <a href='https://www.gov.uk/call-charges' class="govuk-link">
      Find out about call charges
    </a>
  </p>

  <p class="govuk-body">
    Monday to Friday, 8am to 6pm
  </p>
  
  <p class="govuk-body">
    <a href='mailto:digital.aasupport@dwp.gov.uk' class="govuk-link">
      digital.aasupport@dwp.gov.uk
    </a>
    <br/> We aim to respond within 2 working days
  </p>
{% endset %}

{{ govukDetails({
    summaryText: "Get help with your application",
    html: details
  }) }}