{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Dressing or undressing yourself during the day</span>
     <h1 class="govuk-heading-l">
       You told us you have difficulty when you dress or undress yourself
     </h1>

  <p class="govuk-body govuk-!-margin-bottom-2">
    This means:
  </p>
  <ul class="govuk-list govuk-list--bullet">
      <li>putting on and taking off clothing, including shoes and socks</li>
      <li>needing help to fasten or undo zips or buttons</li>
    </ul>

  {{ govukCheckboxes
    ({
      idPrefix: "dress-day",
      name: "dress-day",
      fieldset: {
        legend: {
          text: "Does your condition affect you dressing or undressing?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: data.validation['dress-day'].error,
      items: [{
        value: "dress-physical",
        text: "Yes, I have physical difficulty when I dress or undress myself",
        checked: true if data["dress-day"] and data["dress-day"].includes("dress-physical")
      },
      {
        value: "dress-motivation",
        text: "Yes, I need encouragement or prompting to dress or undress myself",
        checked: true if data["dress-day"] and data["dress-day"].includes("dress-motivation")
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "None of these apply to me",
        behaviour: "exclusive",
        checked: true if data["dress-day"] and data["dress-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}