{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Your illnesses, physical and mental disabilities
    </h1>
  </legend>
  <div id="waste-body" class="govuk-body">
    Tell us about  the illnesses, physical and mental disabilities you have.
  </div>
  
  <p class="govuk-body govuk-!-margin-bottom-2">We need to know:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>the name of your illness or disability and what stage it is, if applicable</li>
    <li>which part of the body it affects, if applicable</li>
    <li>tablets or other medication you are taking or will be taking in the future</li>
    <li>dosage of your medication</li>
  </ul>

  <div class="govuk-inset-text">
    <h3 class="govuk-heading-s">Example</h3>
    <p class="govuk-body govuk-!-margin-bottom-2">I have arthritis in my left knee. I take 25mg of paracetamol daily.</p>
    <p class="govuk-body govuk-!-margin-bottom-2">I also have Type 2 diabetes. I take 3 metformin tablets a day.</p>
  </div>

  {{ govukTextarea({
    name: "illness-disability",
    id: "illness-disability",
    value: data['illness-disability'],
    rows: "12", 
    errorMessage: data.validation['illness-disability'].error
  })}}

{% endblock %}

