{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukRadios({
    idPrefix: "person-claiming",
    name: "person-claiming",
    fieldset: {
      legend: {
        text: "Who is claiming?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['person-claiming'].error,
    items: [
      {
        value: "myself",
        text: "I’m applying for myself",
        hint: {
          text: "This could also mean that the applicant is giving you their answers and you’re supporting them filling in their application."
        },
        checked: true if data["person-claiming"] === "myself"
      },
      {
        value: "official-capacity",
        text: "I’m applying for someone else in an official capacity",
        hint: {
          text: "This means you have a lasting power of attorney in place for 
                property and finance for the person you are applying for.
                Or you’re the registered appointee, deputy or belong to a 
                Corporate Acting Body (CAB)."
        },
        checked: true if data["person-claiming"] === "official-capacity"
      }
    ]
  }) }}
{% endblock %}