{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
 {% set otherReasonHtml %}
  {{ govukTextarea({
    label: {
        text: "Explain why you do not use any adaptations, equipment or aids",
        classes: "govuk-label",
        isPageHeading: false
    },
    name: "aids-adaptations-reason-other",
    id: "aids-adaptations-reason-other",
    value: data['aids-adaptations-reason-other'],
    rows: "2", 
    errorMessage: data.validation['aids-adaptations-reason-other'].error
  })}}
{% endset -%}

 {{ govukRadios({
  idPrefix: "aids-adaptations-reason",
  name: "aids-adaptations-reason",
  fieldset: {
    legend: {
      text: "Tell us why you do not use any adaptations, equipment or aids",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  errorMessage: data.validation['aids-adaptations-reason'].error,
  items: [
    {
      value: "notNeed",
      text: "I do not need them",
      checked: true if data["aids-adaptations-reason"] === "notNeed"
    },
    {
      value: "assessment",
      text: "I am waiting for an assessment",
      checked: true if data["aids-adaptations-reason"] === "assessment"
    },
    {
      value: "fitted",
      text: "They can not be fitted in my home",
      checked: true if data["aids-adaptations-reason"] === "fitted"
    },
    {
      value: "difficult",
      text: "I find them difficult to use",
      checked: true if data["aids-adaptations-reason"] === "difficult"
    },
    {
      value: "other",
      text: "Other",
      checked: true if data["aids-adaptations-reason"] === "other",
        conditional: {
          html: otherReasonHtml
        }
    }
  ]
 }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}