{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  
    {{ govukInput({
    label: {
        text: "Enter the name of your adaptation, equipment or aid",
        classes: "govuk-label--l",
        isPageHeading: true
    },
    hint: {
        text: "You need to enter the name of each adaptation, equipment or aid, one at a time."
    },
    id: "aids-adaptations",
    name: "aids-adaptations",
    errorMessage: data.validation['aids-adaptations'].error,
    classes: "govuk-input--width-20"
    }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}