{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/phase-button.njk" import phaseButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layouts/prototypeLayout.njk" %}

{% block pageTitle %}
    You have added an adaptation, equipment or aid
{% endblock %}

{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-4">
      You have added an adaptation, equipment or aid
    </h1>
  </legend>
  
    {{ govukTable({
      head: [
        {
          text: "Aids or adaptations"
        },
        {
          text: "Difficulty using"
        },
        {
          text: ""
        },
        {
          text: ""
        }
      ],
      rows:data["aids-adaptations-rows"] 
    }) }}
  
  {{ govukRadios({
    idPrefix: "aids-adaptations-added",
    name: "aids-adaptations-added",
    fieldset: {
      legend: {
        text: "Do you use any other adaptations, equipment or aids?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation['aids-adaptations-added'].error,
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

