{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <h1 class="govuk-heading-l">
    Do you need us to use a different format when we contact you?
  </h1>
  
  <p class="govuk-hint">
    Select all that apply.
  </p>

  {{ govukCheckboxes
    ({
      name: "alternative-formats",
      errorMessage: data.validation['alternative-formats'].error,
      items: [{
        value: "format-large",
        text: "Large print",
        checked: true if data["alternative-formats"] and data["alternative-formats"].includes("format-audio")
      },{
        value: "format-audio",
        text: "CD or cassette tape",
        checked: true if data["alternative-formats"] and data["alternative-formats"].includes("format-braille")
      },{
        value: "format-braille",
        text: "Braille",
        checked: true if data["alternative-formats"] and data["alternative-formats"].includes("format-large")
      },{
        value: "format-textphone",
        text: "Textphone",
        checked: true if data["alternative-formats"] and data["alternative-formats"].includes("format-textphone")
      },{
        value: "format-typetalk",
        text: "TypeTalk",
        checked: true if data["alternative-formats"] and data["alternative-formats"].includes("format-typetalk")
      },{
        divider: "or"
      },
      {
        value: "format-none",
        text: "None, these do not apply to me",
        behaviour: "exclusive",
        checked: true if data["alternative-formats"] and data["alternative-formats"].includes("format-none")
      }]
    })
  }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}