{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/layout.njk" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% block backLink %}
                {{ govukBackLink({
                text: "Back",
                href: "other-benefits"
                }) }}
            {% endblock %}
            <div class="govuk-form-group">
                <h1 class="govuk-heading-l">You told us you already get Attendance Allowance</h1>
                <h2 class="govuk-heading-m">If you already get Attendance Allowance</h2>
                <p class="govuk-body">Do not make a new application. Update your existing claim by telling us about changes that may affect your Attendance Allowance.</p>
                <p class="govuk-body">
                    <a class="govuk-link govuk-link--no-underline" href="https://www.gov.uk/attendance-allowance/report-change-in-circumstances">Report a change in circumstances</a>. 
                </p>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}