{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}


{% block form %}

  <span class="govuk-caption-l">Getting in or out of your bed during the day</span>

  <h1 class="govuk-heading-l">
    Tell us more about your difficulties with getting in or out of your bed
  </h1>
  <p class="govuk-body">
    You told us you have difficulties with:
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    {% for item in data['bed-day'] %}
      {% if item == 'something-else-bed' %}
        <li>{{ data['something-else-explain-bed'] }}</li>
      {% endif %}
      {% if item != 'something-else-bed' %}
        <li>
          {{ item 
          | replace("getting-into-bed", "getting into bed")
          | replace("getting-out-bed", "getting out of bed") 
          | replace("motivation-bed", "forgetting or lacking the motivation to get up in the morning or go to bed at night")
          }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
							
  {{ govukCheckboxes
    ({
      idPrefix: "bed-day-why",
      name: "bed-day-why",
      fieldset: {
        legend: {
          text: "Can you tell us more about how you're struggling?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['bed-day-why'].error,
      items: [{
        value: "restricted-movement",
        text: "I have restricted movement due to my pain or disability",
        checked: true if data["bed-day-why"] and data["bed-day-why"].includes("restricted-movement")
      },
      {
        value: "hold-on-to-things",
        text: "I hold on to things to get in or out of bed",
        checked: true if data["bed-day-why"] and data["bed-day-why"].includes("hold-on-to-things")
      },
      {
        value: "get-in-out-bed-safely",
        text: "I cannot get in or out of bed safely",
        checked: true if data["bed-day-why"] and data["bed-day-why"].includes("get-in-out-bed-safely")
      },
      {
        value: "encouragement",
        text: "I need to be encouraged to get in or out of bed",
        checked: true if data["bed-day-why"] and data["bed-day-why"].includes("encouragement")
      },
      {
        value: "help-bed",
        text: "Someone has to physically help me get in or out of bed",
        checked: true if data["bed-day-why"] and data["bed-day-why"].includes("help-bed")
      },
      {
        value: "sleep-chair",
        text: "I sleep in a chair at night instead of going to bed",
        checked: true if data["bed-day-why"] and data["bed-day-why"].includes("sleep-chair")
      },
      {
        value: "bed-day-why-something-else",
        text: "I struggle in another way",
        checked: true if data["bed-day-why"] and data["bed-day-why"].includes("bed-day-why-something-else"),
        conditional: {
          html: conditionalSomethingElseBedDayWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseBedDayWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us in what other way you struggle'
      },
    id: "something-else-bed-day-why-explain",
    name: "something-else-bed-day-why-explain",
    errorMessage: data.validation['something-else-bed-day-why-explain'].error,
    value: data['something-else-bed-day-why-explain']
    }) }}
{% endset %}