
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <h1 class="govuk-heading-l">Information you will need to apply online</h1>
  <p class="govuk-body">You will need certain information about yourself or the person you are applying for.</p>
  <p class="govuk-body">You will need:</p>
 
  <ul class="govuk-list govuk-list--bullet">
    <li>your National Insurance number</li>
    <li>details of your health condition or disabilties that mean you need extra help or care</li>
    <li>your address and contact details</li>
  </ul>

  <p class="govuk-body">There is no time limit for completing the application.</p>
  <p class="govuk-body">You cannot save your answers and come back to the application later.</p>
  <p class="govuk-body">If you do not enter anything for more than 90 minutes, your application will time out and you’ll need to start again. This is to keep your details secure.</p>

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}