{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukDateInput({
    id: "birth-date",
    namePrefix: "birth-date",
    fieldset: {
      legend: {
        text: "What is your date of birth?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: "For example, 27 3 1948."
    },
    errorMessage: data.validation['birth-date'].error,
    items: [
      {
        classes: 'govuk-input--width-2',
        name: 'day',
        value: data['birth-date-day']
      },
      {
        classes: 'govuk-input--width-2',
        name: 'month',
        value: data['birth-date-month']
      },
      {
        classes: 'govuk-input--width-4',
        name: 'year',
        value: data['birth-date-year']
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}