{% from "./macros/check-answers-details-section.njk" import checkAnswersDetailsSection %}
{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
 <a href="evidence" class="govuk-back-link">Back</a>
<h1 class="govuk-heading-l">Check your answers</h1>

        {{ checkAnswersDetailsSection(data) }}


{% endblock %}

{% block formButton %}
  <a href="day-difficulties" class="govuk-button">
    Accept and continue
  </a>
{% endblock %}


{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

