{% from "./macros/check-answers-start-date-section.njk" import checkAnswersStartDateSection %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layouts/layout.njk" %}

{% block content %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">
          Check your answers
        </h1>
        
        {{ checkAnswersStartDateSection(data) }}

        <a href="telephone-number">
          <button class="govuk-button" data-module="govuk-button">
            Accept and continue
          </button>  
        </a> 
      </div>
    </div>
  </div>    
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}