{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <h1 class="govuk-heading-l">Sharing information about your health condition or disability</h1>
  
  <p class="govuk-body">We may want to contact your GP, or the people or organisations involved with you, for information about your claim.
  This may include medical information. If you do not give your consent, we may be unable to make sure you qualify for Attendance Allowance.</p>
  
  <p class="govuk-body">We, or any healthcare professional working for an organisation approved by the Secretary of State,
  may ask any person or organisation to give them or us any information, including medical information, which we need to deal with: </p>
 
  <ul class="govuk-list govuk-list--bullet">
    <li>this claim for Attendance Allowance, or </li>
    <li>any appeal or other request to consider a decision about this claim.</li>
  </ul>

  {{ govukRadios({
    idPrefix: "consent",
    name: "consent",
    fieldset: {
      legend: {
        text: "Do you give your consent for the DWP to contact your GP or other relevant healthcare professionals,
   to get more information about your health condition?",
        isPageHeading: false,
        classes: "govuk-!-font-weight-bold"
      }
    },
    errorMessage: data.validation['consent'].error,
    items: [
      {
        value: "yes",
        text: "Yes, information about my health can be shared with DWP or the healthcare professionals that work for them.",
        checked: true if data["consent"] and data["consent"].includes("yes")
      },
      {
        value: "no",
        text: "No, information about my health cannot be shared with DWP or the healthcare professionals that work for them.",
        checked: true if data["consent"] and data["consent"].includes("no")
      }]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

{% block formButton %}
  {{ phaseButton(data, "Continue") }}
{% endblock %}