{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukRadios({
    idPrefix: "country-outside-uk-duration",
    name: "country-outside-uk-duration",
    fieldset: {
      legend: {
        text: "Have you been outside the UK more than 12 months in the last 3 years?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['country-outside-uk-duration'].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["country-outside-uk-duration"] === "yes"
      },
      {
        value: "no",
        text: "No",
        checked: true if data["country-outside-uk-duration"] === "no"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}