{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Application complete
          </h1>
          <div class="govuk-panel__body">
            Your reference is your National Insurance number
          </div>
        </div>
          <h2 class="govuk-heading-m">What happens next</h2>
          <p class="govuk-body">You should get a decision letter within 8 weeks.</p>
          <p class="govuk-body">We will contact you by phone or letter if we need more information.</p>
          <p class="govuk-body">If your application is successful, we will pay your Attendance Allowance into the same account as your State Pension.</p>
          <p class="govuk-body">You will be able to change this to a different account once you get Attendance Allowance.</p>
         
          <h2 class="govuk-heading-m">Other financial support</h2>
          <p class="govuk-body">You may be eligible for
            <a href="https://www.turn2us.org.uk/get-support/information-for-your-situation/pension-credit/what-is-pension-credit" class="govuk-link">Pension Credit</a>,
            <a href="hhttps://www.turn2us.org.uk/get-support/information-for-your-situation/housing-benefit-england-scotland-and-wales/what-is-housing-benefit" class="govuk-link">Housing Benefit</a>
            or
            <a href="https://www.turn2us.org.uk/get-support/information-for-your-situation/council-tax-support-reduction/what-is-council-tax-support" class="govuk-link">Council Tax Reduction</a>.
          </p>
          <p class="govuk-body">If someone cares for you for at least 35 hours a week, they may be able to claim
            <a href="https://www.gov.uk/carers-allowance/how-to-claim" class="govuk-link">Carer's Allowance</a>.
          </p>
          <p class="govuk-body">They can only apply for it after you start to get Attendance Allowance.</p>
          <p class="govuk-body">
            <a href="/survey" class="govuk-link">Tell us what you think of this service</a> (opens in a new tab)
          </p>
{% endblock %}

{% block formButton %}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}