{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layouts/prototypeLayout.njk" %}


{% block form %}
<span class="govuk-caption-l">Eating or drinking during the day</span>

<h1 class="govuk-heading-l">
  What difficulty do you have when eating or drinking?
</h1>

  {{ govukCheckboxes
    ({
      idPrefix: "eat-drink-day",
      name: "eat-drink-day",
      hint: {
        text: 'Select all that apply.'
      },
      errorMessage: data.validation['eat-drink-day'].error,
      items: [{
        value: "cutting-food",
        text: "Cutting up the food on my plate",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("cutting-food")
      },
      {
        value: "putting-food",
        text: "Putting food or drink in my mouth",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("putting-food")
      },
      {
        value: "chewing-swallowing",
        text: "Chewing or swallowing food or drink",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("chewing-swallowing")
      },
      {
        value: "identifying-food",
        text: "Identifying the food on my plate",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("identifying-food")
      },
      {
        value: "motivation-eat",
        text: "Forgetting or lacking the motivation to eat",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("motivation-eat")
      },
      {
        value: "motivation-drink",
        text: "Forgetting or lacking the motivation to drink",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("motivation-drink")
      },
      {
        value: "eat-drink-something-else",
        text: "I struggle with something else",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("eat-drink-something-else"),
        conditional: {
          html: conditionalSomethingElseEatDrink
        }
      },
      {
        divider: "or"
      },
      {
        value: "none",
        text: "I do not have difficulty when eating or drinking",
        behaviour: "exclusive",
        checked: true if data["eat-drink-day"] and data["eat-drink-day"].includes("none")
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseEatDrink %}
   {{ govukTextarea({
    rows: "2",
    isPageHeading: false,
    label: {
      text: 'Tell us what difficulty you have when eating or drinking'
    },
    id: "something-else-eating-drinking-day-explain",
    name: "something-else-eating-drinking-day-explain",
    errorMessage: data.validation['something-else-eating-drinking-day-explain'].error,
    value: data['something-else-eating-drinking-day-explain']
    }) }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}