{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
 {% set emailAddressHtml %}
  {{ govukInput({
    id: "contact-by-email",
    name: "contact-by-email",
    errorMessage: data.validation['contact-by-email'].error,
    type: "email",
    autocomplete: "yes",
    spellcheck: false,
    value:  data['contact-by-email'],
    classes: "govuk-input",
    label: {
      text: "Email address"
    }

  }) }}
  {{ govukInput({
    id: "contact-by-email-confirm",
    name: "contact-by-email-confirm",
    errorMessage: data.validation['contact-by-email-confirm'].error,
    type: "email",
    autocomplete: "yes",
    spellcheck: false,
    value: data['contact-by-email-confirm'],
    classes: "govuk-input",
    label: {
      text: "Confirm email address"
    }
  }) }}
{% endset -%}

 {{ govukRadios({
  idPrefix: "email-confirm",
  name: "email-confirm",
  fieldset: {
    legend: {
      text: "Do you want an email to confirm we have received your application?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  errorMessage: data.validation['email-confirm'].error,
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: true if data["email-confirm"] === "yes",
        conditional: {
          html: emailAddressHtml
        }
    },
    {
      value: "no",
      text: "No",
      checked: true if data["email-confirm"] === "no"
    }
  ]
 }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}