{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/phase-button.njk" import phaseButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% extends "layouts/prototypeLayout.njk" %}

{% block pageTitle %}
   You have added a condition or disability
{% endblock %}

{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-4">
      You have added a condition or disability
    </h1>
  </legend>
  
    {{ govukTable({
      head: [
        {
          text: "Condition or disability"
        },
        {
          text: "Start date"
        },
        {
          text: ""
        },
        {
          text: ""
        }
      ],
      rows:data["illness-disability-rows"] 
    }) }}
  
  {{ govukRadios({
    idPrefix: "illness-disability-added",
    name: "illness-disability-added",
    fieldset: {
      legend: {
        text: "Do you have another condition or disability?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation['illness-disability-added'].error,
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

