{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/phase-button.njk" import phaseButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {% if data['illness-disability-rows'].length > 1 %}
      <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-4">
        You have added {{ data['illness-disability-rows'].length }} illnesses, physical or mental disabilities
      </h1>
    {% else %}
      <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-4">
        You have added {{ data['illness-disability-rows'].length }} illness, physical or mental disability
      </h1>
    {% endif %}
  </legend>

  {% if data['illness-disability-rows'] %}
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: data["illness-disability-rows"]
    }) }}
  {% endif %}

  {{ govukRadios({
    idPrefix: "illness-disability-added",
    name: "illness-disability-added",
    fieldset: {
      legend: {
        text: "Do you have another illness, physical or mental disability?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation['illness-disability-added'].error,
    items: [
      {
        value: "yes",
        text: "Yes"
      },
      {
        value: "no",
        text: "No"
      }
    ]
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

