{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/phase-button.njk" import phaseButton %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/prototypeLayout.njk" %}

{% block head %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="/accessible-autocomplete.min.css" />
  <script src="/accessible-autocomplete.min.js"></script>
  <style>
    .autocomplete__option {
      font-size: 19px;
      line-height: 1.31579;
      font-family: GDS Transport,arial,sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
{% endblock %}

{% block pageTitle %}
  Add the name of your health condition or disability
{% endblock %}

{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-4">
      Add the name of your health condition or disability
    </h1>
  </legend>

  <p class="govuk-body">
    Name of your health condition or disability
  </p>
  <div id="illness-disability-container" class="govuk-!-margin-bottom-6">
  </div>
  <p class="govuk-body">
    <a href="illness-disability-manual" class="govuk-link">
      I cannot find my health condition or disability
    </a>
  </p>
  
  {% block formButton %} 
  {% endblock %}

  <div class="govuk-button-group">
    {{ phaseButton(data, "Add condition") }}
    {% if data['illness-disability'].length > 0 %}
      {{ govukButton({
        text: "Skip",
        classes: "govuk-button--secondary",
        href: "renal-dialysis" if 'Kidney disease or disorder' in data['illness-disability'] or 'Renal failure - acute' in data['illness-disability'] or 'Acute kidney disease (AKD)' in data['illness-disability'] or 'Chronic kidney failure / renal failure' in data['illness-disability'] or 'Kidney transplantation / renal' in data['illness-disability'] or 'Transplant rejection - kidney / renal' in data['illness-disability'] else "special-rules-declaration"
      }) }}
    {% endif %}
  </div>

  <div>

  </div>

  <script>
    const illnesses = [
      "Achondroplasia (restricted growth)",
      "Acne vulgaris",
      "Acute kidney disease (AKD)",
      "Addison's disease",
      "Adrenal disease",
      "Age related hearing loss: presbyacusis",
      "Agoraphobia",
      "AIDS",
      "Alcohol dependancy",
      "Alcoholic / alcohol addiction",
      "Allergy - no risk of anaphylaxis",
      "Allergy - risk of anaphylaxis unknown or not fully assessed",
      "Allergy with a risk of anaphylaxis",
      "Alzheimer's disease",
      "Amblyopia - lazy eye",
      "Amino acid metabolism disorders",
      "Amputation - lower limb",
      "Amputation - upper limb",
      "Amputations - upper and lower limb",
      "Amyloidosis",
      "Anaemia - aplastic anaemia",
      "Anaemia - iron deficiency anaemia",
      "Anaemia - sickle cell anaemia",
      "Anaemia - vitamin B12 or folate deficiency anaemia",
      "Anaemias ",
      "Angina",
      "Angiodema",
      "Angiosarcoma",
      "Ankle and foot disorders",
      "Ankylosing spondylitis",
      "Anorectal abscess",
      "Anorexia nervosa",
      "Anterior uveitis (iritis)",
      "Antiphospholipid syndrome",
      "Anxiety and depression",
      "Anxiety disorders",
      "Aortic valve disease",
      "Arterial disease excluding coronary - Other",
      "Arthritis - generalised osteoarthritis of 2 or more joints",
      "Arthritis - inflammatory arthritis",
      "Arthritis - juvenile idiopathic arthritis",
      "Arthritis - osteoarthritis of a single joint",
      "Arthritis - osteoarthritis of the hip",
      "Arthritis - osteoarthritis of the knee",
      "Arthritis - psoriatic",
      "Arthritis - reactive",
      "Asbestosis",
      "Ascites",
      "Asperger syndrome",
      "Asthma",
      "Astigmatism",
      "Ataxia",
      "Atherosclerosis (peripheral arterial disease)",
      "Attention deficit hyperactivity disorder (ADHD) / attention deficit disorder (ADD)",
      "Attention stoma / illeostomy",
      "Autism",
      "Autoimmune (idiopathic) thrombocytopaenic purpura (ITP)",
      "Autoimmune disease",
      "Autoimmune hepatitis",
      "Back pain",
      "Back pain - specific",
      "Bacterial diseases",
      "Bedwetting (enuresis)",
      "Behcet's disease",
      "Bipolar affective disorder (Hypomania / Mania)",
      "Bladder cancer",
      "Bladder, urethra, testes and penis disease or disorder",
      "Blepharospasm",
      "Blood disorders ",
      "Blood vessels / lymphatics - disease",
      "Body dysmorphic disorder (BDD)",
      "Bone cancer",
      "Bowel cancer (colon, rectum, anus)",
      "Bowel incontinence - faecal soiling (encopresis)",
      "Brachial plexus",
      "Brain tumour (benign)",
      "Brain tumour / brain cancer",
      "Breast cancer ",
      "Bronchiectasis",
      "Buerger's disease",
      "Bulimia nervosa",
      "Bullous disease",
      "Burns",
      "Bursitis",
      "Cancer",
      "Carbohydrate metabolism disorders",
      "Cardiovascular disease",
      "Carpal tunnel syndrome",
      "Cataplexy",
      "Cataract",
      "Cellulitis",
      "Cerebral palsy",
      "Cerebral palsy - ataxic",
      "Cerebral palsy - athetoid",
      "Cerebral palsy - causing hemiparesis",
      "Cerebral palsy - diplegia",
      "Cerebral palsy - quadriplegia",
      "Cerebrovascular accident (stroke)",
      "Cerebrovascular disease",
      "Cervical cancer",
      "Cervical disc lesion",
      "Cervical spondylosis",
      "Charcot Marie Tooth disease",
      "Chondromalacia patellae",
      "Chondrosarcoma",
      "Chorioretinal disorders",
      "Chromosomal syndrome ",
      "Chronic fatigue syndrome (CFS)",
      "Chronic kidney failure / renal failure",
      "Chronic obstructive pulmonary disease (COPD) chronic bronchitis / emphysema",
      "Chronic pain syndrome",
      "Chronic secretory otitis media",
      "Chronic suppurative otitis media",
      "Cirrhosis - alcohol induced",
      "Cirrhosis - autoimmune",
      "Cirrhosis (not alcohol induced)",
      "Claudication",
      "Cleft lip",
      "Cleft palate / cleft lip and cleft palate",
      "Clotting disorders ",
      "Club foot (talipes)",
      "Coeliac disease",
      "Cognitive disorder due to stroke",
      "Colitis - ischaemic",
      "Collagen and elastic tissue disease",
      "Colon diseases / disorders",
      "Compartment syndrome (volkmann's ischaemia)",
      "Complications of prematurity",
      "Conduct disorder including oppositional defiant disorder (ODD)",
      "Conjunctiva, cornea, eyelids and lacrimal apparatus - other diseases ",
      "Constipation",
      "Conversion disorder (hysteria)",
      "Corneal ulcer",
      "Cortical blindness",
      "Creutzfeldt-Jacob disease (CJD)",
      "Crohns disease",
      "Crystal deposition disorder",
      "Cushing's syndrome",
      "Cystic fibrosis",
      "Deafness - congenital",
      "Deep vein thrombosis (DVT)",
      "Deficits in attention, motor control and perception",
      "Degenerative neuronal diseases - Other",
      "Dementia",
      "Dementia with lewy bodies (DLB)",
      "Depression",
      "Dermatitis herpetiformis",
      "Dermatomyositis",
      "Diabetes insipidus",
      "Diabetes mellitus (category unknown)",
      "Diabetes mellitus T1 (Type 1, insulin dependent)",
      "Diabetes mellitus T2 (Type 2, insulin and non insulin dependent)",
      "Diabetic neuropathy",
      "Diabetic retinopathy",
      "Diplopia - double vision",
      "Diseases of the lower respiratory tract: includes lungs, trachea and larynx",
      "Diseases of the upper respiratory tract: includes nose and throat above the larynx",
      "Dislocation of the hip - congenital including developmental dysplasia of the hip",
      "Dissociative disorders",
      "Disturbances of consciousness (non - epileptic)",
      "Diverticular disease / diverticulitis",
      "Dizziness",
      "Down's syndrome",
      "Drop attacks - sudden falls",
      "Drug addiction",
      "Dupuytrens contracture",
      "Dyslexia",
      "Eating disorders",
      "Eczema - varicose",
      "Eczema (dermatitis)",
      "Ehlers Danlos syndrome",
      "Elbow disorders",
      "Empyema",
      "Endocrine disease",
      "Endometriosis",
      "Entropion - drooping lower eyelid",
      "Epidemolysis bullosa",
      "Epilepsy - seizures",
      "Epilepsy: generalised seizures in the last 12 months (with status epilepticus)",
      "Epilepsy: generalised seizures in the last 12 months (without status epilepticus)",
      "Epilepsy: partial seizures in the last 12 months (with status epilepticus)",
      "Epilepsy: partial seizures in the last 12 months (without status epilepticus)",
      "Epiphyseal dysplasia - multiple",
      "Essential tremor - benign",
      "Ewing's sarcoma",
      "Extrinsic allergic alveolitis",
      "Eye injury",
      "Eye movement disorder",
      "Facioscapulohumeral dystrophy",
      "Factitious disorder",
      "Faltering growth",
      "Fibroids",
      "Fibromyalgia",
      "Fibrosarcoma",
      "Fibrosing alveolitis",
      "Fistula in anus",
      "Food intolerance",
      "Fore foot pain (metatarsalgia)",
      "Fracture complications",
      "Fragile X syndrome",
      "Friedreich's ataxia",
      "Frontotemporal dementia (FTD)",
      "Frozen shoulder (adhesive capsulitis)",
      "Gallbladder and biliary tract disease",
      "Gallstones",
      "Gastrointestinal tract - other cancers ",
      "Gastrointestinal tract disease or disorder",
      "General learning disability ",
      "Generalised anxiety disorder",
      "Generalised musculoskeletal disease",
      "Generalised seizures in the last 12 months (with status epilepticus)",
      "Generalised seizures in the last 12 months (without status epilepticus)",
      "Genetic disorders, dysplasias and malformations",
      "Genitourinary disease or disorder ",
      "Genitourinary tract cancers",
      "Giant cell tumour - malignant",
      "Glaucoma",
      "Glomerulonephritis",
      "Glucose 6 phosphate dehydrogenase (G6PD) deficiency",
      "Goitre",
      "Golfers elbow (medial epicondylitis)",
      "Gout",
      "Granulomatous lung disease and pulmonary infiltration",
      "Growth hormone deficiency",
      "Guillain Barre syndrome",
      "Haematological system - other cancers",
      "Haemochromatosis",
      "Haemodialysis",
      "Haemolytic disorders",
      "Haemophilia A",
      "Haemophilia B - christmas disease",
      "Haemorrhoids",
      "Hallux valgus / rigidus",
      "Head or brain injury - cognitive and sensorimotor impairment",
      "Head or brain injury - cognitive impairment",
      "Head or brain injury - sensorimotor impairment",
      "Headache",
      "Hearing - disease affecting hearing and balance",
      "Hearing - tinnitus",
      "Hearing - vertigo",
      "Hearing loss - conductive hearing loss",
      "Hearing loss - conductive hearing loss due to trauma",
      "Hearing loss - mixed",
      "Heart and lung transplantation",
      "Heart attack / myocardial infarction",
      "Hemianopia - visual impairment",
      "Hepatic encephalopathy",
      "Hepatitis - chronic",
      "Hepatitis B and D infection",
      "Hepatitis C infection",
      "Hereditary multiple exostosis (diaphyseal aclasis)",
      "Hereditary spherocytosis",
      "Hernia",
      "Hiatus hernia / gastroesophageal reflux disease / reflux oesophagitis",
      "High blood pressure (HBP)",
      "Hip disorder",
      "HIV",
      "HIV and AIDS",
      "Hodgkin lymphoma",
      "Huntington's disease",
      "Hydrocephalus",
      "Hydronephrosis",
      "Hyperkinetic syndrome / disorder",
      "Hyperlipidaemia",
      "Hypermetropia (long-sighted)",
      "Hypermobility syndrome",
      "Hyperparathyroidism",
      "Hypersensitivity disease",
      "Hypertension",
      "Hypertensive retinopathy",
      "Hypoparathyroidism",
      "Hypothalamic and pituitary diseases",
      "Immune system - disease ",
      "Impetigo",
      "Inborn errors of metabolism",
      "Incontinence - stress",
      "Incontinence - urge",
      "Incontinence (not enuresis / bedwetting)",
      "Infections",
      "Infectious diseases ",
      "Interstitial nephritis",
      "Irritable bowel syndrome (IBS)",
      "Ischaemic heart disease - Other",
      "Keratitis - inflamed cornea",
      "Keratoconus",
      "Kidney cancer",
      "Kidney disease or disorder",
      "Kidney transplantation / renal",
      "Knee disorder",
      "Kyphosis",
      "Labyrinthitis",
      "Laryngeal (larynx) cancer",
      "Leg ulcers (arterial)",
      "Leg ulcers (venous)",
      "Leukaemia - lymphoblastic - acute",
      "Leukaemia - lymphocytic - chronic",
      "Leukaemia - myelogenous (myeloid) acute",
      "Leukaemia - myeloid - chronic",
      "Leukaemias - other",
      "Ligamentous instability of knee",
      "Liver cancer",
      "Liver failure",
      "Liver transplantation",
      "Long COVID: long term effects of coronavirus (post COVID syndrome)",
      "Lower limb - injury, fracture or dislocation",
      "Lumbar disc lesion",
      "Lumbar spondylosis, osteoarthritis of the spine, spondylitis ",
      "Lung cancer",
      "Lung cancer (bronchus)",
      "Lung transplantation",
      "Lymphoedema",
      "Macular degeneration",
      "Malaria",
      "Malformations of the heart - congenital",
      "Manic depression",
      "Marfan's syndrome",
      "Mastoiditis",
      "Melanoma",
      "Memory loss, short or long term",
      "Menieres disease",
      "Meniscal lesions",
      "Mesenteric ischaemia",
      "Mesothelioma",
      "Metabolic and endocrine disorder of musculoskeletal system",
      "Metabolic diseases",
      "Metabolic red cell disorders ",
      "Migraine",
      "Mini stroke / mini strokes",
      "Mitral valve",
      "Mood disorder",
      "Motor neurone disease (MND)",
      "Mouth cancer (oral cancer or tongue cancer)",
      "Movement disorders",
      "Multiple - injury, fracture or dislocation",
      "Multiple sclerosis (MS)",
      "Munchausen syndrome",
      "Muscle - other diseases ",
      "Muscular dystrophy",
      "Muscular dystrophy - becker type",
      "Muscular dystrophy - duchenne",
      "Muscular dystrophy - dystrophia myotonica (myotonic dystrophy)",
      "Muscular dystrophy - limb girdle",
      "Musculoskeletal disease - regional or localised",
      "Myasthenia gravis",
      "Myeloma - bone marrow cancer",
      "Myopia (short-sighted)",
      "Narcolepsy",
      "Neck disorder",
      "Nephrotic syndrome",
      "Neuroblastoma",
      "Neurofibromatosis",
      "Neurological disorders",
      "Neuropathy - including peripheral",
      "Non-epileptic attack disorder - pseudoseizures",
      "Non-Hodgkin lymphoma",
      "Nystagmus",
      "Obesity",
      "Obsessive compulsive disorder (OCD)",
      "Oesophageal cancer",
      "Oesophageal varices",
      "Oesophagus, stomach and duodenum disease or disorder",
      "Old age or frail",
      "Optic atrophy",
      "Optic neuritis",
      "Oral allergy syndrome",
      "Orbital cellulitis - eye infection",
      "Osgood schlatters disease",
      "Osteochondritis",
      "Osteochondritis dissecans",
      "Osteogenesis imperfecta",
      "Osteomalacia",
      "Osteonecrosis",
      "Osteoporosis",
      "Osteosarcoma",
      "Otitis externa - chronic",
      "Otosclerosis",
      "Ovarian cancer",
      "Ovarian cyst (benign)",
      "Ovary, uterus, cervix, vagina and vulva disease or disorder",
      "Overactive thyroid / hyperthyroidism (thyrotoxicosis), including graves disease",
      "Paget's disease",
      "Pancreas disease",
      "Pancreatic cancer",
      "Pancreatitis - chronic",
      "Panic disorder",
      "Papulosquamous and inflammatory rashes",
      "Paraplegia (traumatic)",
      "Paraplegia from birth",
      "Parathyroid disease",
      "Parkinson's disease",
      "Parkinson's syndrome / Parkinsonism",
      "Partial seizures in the last 12 months (with status epilepticus)",
      "Partial seizures in the last 12 months (without status epilepticus)",
      "Patellar dislocation - recurrent",
      "Pelvic inflammatory disease",
      "Pelvis - injury, fracture or dislocation",
      "Pemphigoid",
      "Pemphigus vulgaris",
      "Peptic ulcer (gastric and duodenal) / gastritis",
      "Pericarditis",
      "Peripheral nerve injury",
      "Peripheral vascular disease (PVD)",
      "Peripheral venous disease",
      "Peritonitis",
      "Personality disorder",
      "Perthes disease",
      "Phobia",
      "Plantar fasciitis",
      "Platelet disorders",
      "Pleura",
      "Pleural effusion",
      "Pneumoconiosis",
      "Pneumoconiosis - coalworkers lung",
      "Pneumonia",
      "Pneumothorax",
      "Poliomyelitis and post polio syndrome",
      "Polyarteritis nodosa",
      "Polycythaemia",
      "Polymyalgia rheumatica",
      "Polymyositis",
      "Porphyria",
      "Post traumatic stress disorder (PTSD)",
      "Posterior (choroiditis)",
      "Posterior vitreous detachment",
      "Presbyopia",
      "Pressure sores",
      "Primary Biliary cirrhosis",
      "Primary cancer - site not known",
      "Prion diseases",
      "Prostate cancer ",
      "Prostate problems such as enlarged prostate or prostatic disease",
      "Protozoal diseases",
      "Pseudogout",
      "Psoriasis",
      "Psychotic disorder",
      "Ptosis - drooping upper eyelid",
      "Pulmonary embolus",
      "Pulmonary fibrosis",
      "Pulmonary valve disease",
      "Quadrantanopia - visual impairment",
      "Quadriplegia (traumatic)",
      "Quadriplegia from birth",
      "Raynaud's disease / phenomenon",
      "Rectal prolapse",
      "Rectum or anus disease or disorder",
      "Refractive errors",
      "Renal calculi",
      "Renal failure - acute",
      "Respiratory tract cancer (other than lung cancer)",
      "Retina and optic nerve disease ",
      "Retinal artery occlusion",
      "Retinal detachment",
      "Retinal vein occlusion",
      "Retinitis Pigmentosa",
      "Retinopathy",
      "Retts disorder",
      "Rheumatoid arthritis",
      "Rickets",
      "Rosacea",
      "Rotator cuff disorder",
      "Sarcoidosis",
      "Sarcoma",
      "Schizoaffective disorder",
      "Schizophrenia",
      "Schuermann's disease",
      "Scleritis",
      "Scoliosis",
      "Scotoma - visual impairment",
      "Seizures - unclassified",
      "Sensorineural hearing loss",
      "Sensorineural hearing loss due to trauma",
      "Shingles - herpes zoster ophthalmicus",
      "Shoulder disorder",
      "Shoulder instability",
      "Silicosis",
      "Sjogren's syndrome",
      "Skin cancer",
      "Skin disease",
      "Skin infection",
      "Sleep apnoea - obstructive",
      "Slipped upper (capital) femoral epiphysis",
      "Small bowel disease or disorder ",
      "Social phobia / social anxiety",
      "Somatoform disorders",
      "Specific childhood learning disorder",
      "Speech or language disorders",
      "Speech, language and phonological disorders",
      "Spina bifida",
      "Spinal cord compression",
      "Spinal cord tumours / spinal cancer",
      "Spinal stenosis",
      "Spine - injury, fracture or dislocation",
      "Spondylolisthesis",
      "Steatohepatitis - non-alcoholic",
      "Stokes adams attacks - cardiovascular syncope (fainting or passing out)",
      "Stomach cancer",
      "Strabismus (squint)",
      "Stress reaction disorders",
      "Sudek's atrophy",
      "Syncope - fainting, passing out, blacking out",
      "Syringomyelia / syringobulbia",
      "Systemic lupus erythematosus (SLE)",
      "Systemic sclerosis (scleroderma)",
      "Temporal (giant cell) arteritis (Headache)",
      "Tendon lesions",
      "Tennis elbow (lateral epicondylitis)",
      "Tenosynovitis",
      "Testicular cancer ",
      "Tetraplegia (traumatic)",
      "Tetraplegia from birth",
      "Thalassaemia",
      "Thorax - injury, fracture or dislocation",
      "Thyroid disease",
      "Torticollis",
      "Tourette's syndrome",
      "Transient ischaemic attacks (TIAs)",
      "Transplant rejection - kidney / renal",
      "Tremor (not essential tremor)",
      "Tricuspid valve disease",
      "Tuberculosis",
      "Tumour - benign",
      "Tumour of the gastrointestinal tract - benign",
      "Tumours of bone - benign",
      "Tunnel vision",
      "Ulcerative colitis",
      "Underactive thyroid / hypothyroidism (myxoedema)",
      "Upper limb - injury, fracture or dislocation",
      "Urinary overflow",
      "Urinary tract infection",
      "Urticaria",
      "Uterine prolapse",
      "Vascular dementia",
      "Vasculitis",
      "Venous insufficiency - chronic",
      "Viral diseases excluding hepatitis and poliomyelitis",
      "Vision - Other diseases ",
      "Visual field defects",
      "Visually impaired - severe",
      "Vitreous disease",
      "Vitreous haemorrhage",
      "Von Willebrand's disease",
      "Whiplash injury",
      "Wilms tumour",
      "Wilson's disease",
      "Womb (uterus) cancer",
      "Wrist and hand disorders",
      "Writer's cramp",
    ];

    accessibleAutocomplete({
      element: document.querySelector('#illness-disability-container'),
      id: 'illness-disability',
      name: 'illness-disability',
      source: illnesses
    })
  </script>

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

