{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <span class="govuk-caption-l">Someone to watch over you</span>

  <h1 class="govuk-heading-l">
    Can you tell us why you need someone to watch over you during the night?
  </h1>

  <p class="govuk-hint">
    For example, you may have a mental health problem, learning disability, sight, hearing or speech difficulty and need someone to watch over you.
  </p>

  <p class="govuk-body">
    Select all the reasons why you need someone to watch over you:
  </p>

  {{ govukCheckboxes
    ({
      name: "keep-eye-on-you-why-night",
      errorMessage: data.validation['keep-eye-on-you-why-night'].error,
      items: [{
        value: "prevent-danger",
        text: "To prevent danger to myself or others",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("prevent-danger")
      },{
        value: "common-dangers",
        text: "I am not aware of common dangers",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("common-dangers")
      },{
        value: "neglecting-myself",
        text: "I am at risk of neglecting myself",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("neglecting-myself")
      },{
        value: "harming-myself",
        text: "I am at risk of harming myself",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("harming-myself")
      },{
        value: "wander",
        text: "I may wander",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("wander")
      },{
        value: "behaviour",
        text: "To discourage antisocial or aggressive behaviour",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("behaviour")
      },{
        value: "blackouts",
        text: "Fits, dizzy spells or blackouts",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("blackouts")
      },{
        value: "confused",
        text: "I may get confused",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("confused")
      },{
        value: "voices",
        text: "I may hear voices or experience thoughts that disrupt my thinking",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("voices")
      },{
        divider: "or"
      },
      {
        value: "why-none",
        text: "None of these apply to me",
        behaviour: "exclusive",
        checked: true if data["keep-eye-on-you-why-night"] and data["keep-eye-on-you-why-night"].includes("why-none")
      }]
    })
  }}
{% endblock %} 

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}