{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <span class="govuk-caption-l">Someone to keep an eye on you</span>

  {{ govukRadios({
    idPrefix: "keep-eye-choice",
    name: "keep-eye-choice",
    fieldset: {
      legend: {
        text: "Do you need someone to keep an eye on you during the day?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['keep-eye-choice'].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["keep-eye-choice"] === "yes"
      },
      {
        value: "no",
        text: "No",
        checked: true if data["keep-eye-choice"] === "no"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}