{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">Enter your nationality</h1>

  {{ govukInput({
    label: {
      text: "Enter your nationality in English"
    },
    classes: "govuk-input--width-10",
    errorMessage: data.validation['nationality-other'].error,
    id: "nationality-other",
    name: "nationality-other",
    value: data["nationality-other"]
  }) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukDetails({
        summaryText: "I have dual nationality / citizenship",
        text: "Enter the nationality on the identity documents you are using to apply for a National Insurance number. If you have British nationality, you should use this to apply."
      }) }}
    </div>
  </div>
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}