{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukInput({
    label: {
      text: "What is your National Insurance number?",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    errorMessage: data.validation['national-insurance'].error,
    hint: {
      text: "It’s on your National Insurance card, pension statement, benefit letter, payslip or P60. This is an example NI number, ‘QQ 12 34 56 C’."
    },
    id: "national-insurance",
    name: "national-insurance",
    classes: "govuk-input--width-10",
    spellcheck: false,
    value: data["national-insurance"]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}