{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Social activities or hobbies</span>
  <h1 class="govuk-heading-l">
    What difficulty do you have with social activities or hobbies?
  </h1>

  {{ govukCheckboxes
    ({
      idPrefix: "social-activities-day",
      name: "social-activities-day",
      hint: {
        text: "Select all that apply."
      },
      errorMessage: data.validation['social-activities-day'].error,
      items: [{
        value: "social-physical",
        text: "I have physical difficulty when I take part in social activities or hobbies",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-physical")
      },
      {
        value: "social-motivation",
        text: "I forget or lack the motivation to take part in social activities or hobbies",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-motivation")
      },
      {
        value: "social-no-help",
        text: "I cannot take part unless someone helps me",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-no-help")
      },
      {
        value: "social-no",
        text: "I no longer take part due to my condition",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("social-no")
      },
      {
        value: "something-else-social",
        text: "Something else",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("something-else-social"),
        conditional: {
          html: conditionalSomethingElseSocialHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "I do not have difficulty with social activities or hobbies",
        behaviour: "exclusive",
        checked: true if data["social-activities-day"] and data["social-activities-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseSocialHtml %}
   {{ govukTextarea({
    rows: "2",
    isPageHeading: true,
    label: {
      text: 'Tell us what difficulty you have with social activities or hobbies'
    },
    id: "something-else-explain-social",
    name: "something-else-explain-social",
    errorMessage: data.validation['something-else-explain-social'].error,
    value: data['something-else-explain-social']
    }) }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}
