{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  {% call govukFieldset({
    legend: {
      text: "Which doctor’s surgery or medical centre do you use?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

  {{ govukInput({
    label: {
      text: 'Name of surgery or medical centre', 
      isPageHeading: true
    },
    classes: "govuk-!-width-two-thirds",
    errorMessage: data.validation['surgery-medical-centre-name'].error,
    id: "surgery-medical-centre-name",
    name: "surgery-medical-centre-name",
    value: data["surgery-medical-centre-name"],
    autocomplete: "surgery-medical-centre-name"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode", 
      isPageHeading: true
    },
    classes: "govuk-input--width-10",
    errorMessage: data.validation['surgery-medical-centre-postcode'].error,
    id: "surgery-medical-centre-postcode",
    name: "surgery-medical-centre-postcode",
    value: data["surgery-medical-centre-postcode"],
    autocomplete: "surgery-medical-centre-postcode"
  }) }}

{% endcall %}
  
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}