{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l govuk-!-margin-bottom-2">What is your telephone number?</h1>
  <p class="govuk-body">You have given us permission to contact the person who is helping you to apply. We will only phone them if we have questions about your application.</p>

  {{ govukInput({
    label: {
      text: "UK telephone number"
    },
    classes: "govuk-input--width-30",
    errorMessage: data.validation['main-contact-number-other'].error,
    id: "main-contact-number-other",
    name: "main-contact-number-other",
    value: data["main-contact-number-other"],
    autocomplete: "main-contact-number-other"
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}