{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <span class="govuk-caption-l">Getting to or using the toilet during the night</span>
  <h1 class="govuk-heading-l">
    You told us you have difficulty getting to or using the toilet
  </h1>
  <p class="govuk-body govuk-!-margin-bottom-2">This includes:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>physically getting to the toilet</li>
    <li>being able to get on or off a toilet</li>
    <li>using a commode or bedpan</li>
  </ul>

  {{ govukCheckboxes
    ({
      id: "toilet-night",
      name: "toilet-night",
      fieldset: {
        legend: {
          text: "Which difficulties do you have getting to or using the toilet?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: data.validation['toilet-night'].error,
      items: [{
        value: "physical",
        text: "I have physical difficulty getting to or using the toilet",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("physical")
      },
      {
        value: "prompt",
        text: "I need encouragement or prompting to get to or use the toilet",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("prompt")
      },
      {
        divider: "or"
      },
      {
        value: "none",
        text: "None of these apply to me",
        behaviour: "exclusive",
        checked: true if data["toilet-night"] and data["toilet-night"].includes("none")
      }]
    })
  }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}