{% from "govuk/components/textarea/macro.njk" import govukTextarea %}


{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">
    You told us you are currently receiving treatment or are waiting for surgery  
  </h1>
  <p class="govuk-body">
    Can you tell us what the treatment or surgery is and when it’s scheduled.
  </p>
  <div class="govuk-hint">
    For example, operation to replace my hip on 17 December 2022.
  </div>
  {{ govukTextarea({
  rows: "8",
  label: {
    text: "",
    classes: "govuk-label--l",
    isPageHeading: true
  },
   errorMessage: data.validation['treatment-surgery-information'].error,
    id: "treatment-surgery-information",
    name: "treatment-surgery-information",
    value: data["treatment-surgery-information"]
}) }}
    
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}