
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">Someone to watch over you</h1>
  <p class="govuk-body">We need to know if the difficulties you have during the night mean that you need someone to be present in the house because you can't manage on your own.</p>
  <p class="govuk-body">This could be as a result of conditions, such as:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>mental-health</li>
    <li>learning disability</li>
    <li>sight, hearing or speech difficulty</li>
  </ul>

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}