{% from "./macros/check-answers-details-section.njk" import checkAnswersDetailsSection %}
{% from "./macros/check-answers-day-section.njk" import checkAnswersDaySection %}
{% from "./macros/check-answers-night-section.njk" import checkAnswersNightSection %}
{% from "./macros/check-answers-contact-details-section.njk" import checkAnswersContactDetailsSection %}
{% from "./macros/check-answers-start-date-section.njk" import checkAnswersStartDateSection %}

{% extends "layouts/layout.njk" %}

{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>
        <p class="govuk-hint">If you want to keep a copy of your application, you can print this page once you’ve finished checking your answers.</p>
        <div class="govuk-!-padding-bottom-5"></div>
        {{ checkAnswersDetailsSection(data) }}
        {% if data['special-rules-declaration'] != 'yes' %}
          {{ checkAnswersDaySection(data) }}
          {{ checkAnswersNightSection(data) }}
          {{ checkAnswersStartDateSection(data) }}
        {% endif %}
        {{ checkAnswersContactDetailsSection(data) }}
          

        <div class="govuk-button-group">
          <a href="claim-submission">
            <button class="govuk-button" data-module="govuk-button">
              Accept and continue
            </button>
          </a>
          <a href="#">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Print a copy
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}