{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}


{% block form %}

  <span class="govuk-caption-l">Eating or drinking during the day</span>

  <h1 class="govuk-heading-l">
    Tell us more about your difficulties with eating or drinking
  </h1>
  <p class="govuk-body">
    You told us you have difficulties with:
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    {% for item in data['eat-drink-day'] %}
      {% if item == 'eat-drink-something-else' %}
        <li>{{ data['something-else-eating-drinking-day-explain'] }}</li>
      {% endif %}
      {% if item != 'eat-drink-something-else' %}
        <li>
          {{ item 
          | replace("cutting-food", "cutting up the food on my plate")
          | replace("putting-food", "putting food or drink in my mouth") 
          | replace("chewing-swallowing", "chewing or swallowing food or drink")
          | replace("identifying-food", "identifying the food on my plate") 
          | replace("motivation-eat", "forgetting or lacking the motivation to eat") 
          | replace("motivation-drink", "forgetting or lacking the motivation to drink") }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
	
  {% set struggling = [] %}
  {% if data['eat-drink-day'].includes("cutting-food")
      or data['eat-drink-day'].includes("putting-food")
      or data['eat-drink-day'].includes("eat-drink-something-else") %}
    {% set struggling = (struggling.push({
        value: "hold",
        text: "I cannot hold cutlery or a cup",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("hold")
      }), struggling) %}
  {% endif %}
  {% if data['eat-drink-day'].includes("putting-food") %}
    {% set struggling = (struggling.push({
        value: "spill",
        text: "I spill food and drink",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("spill")
      }), struggling) %}
  {% endif %}
  {% if data['eat-drink-day'].includes("chewing-swallowing")
      or data['eat-drink-day'].includes("eat-drink-something-else") %}
    {% set struggling = (struggling.push({
        value: "choke",
        text: "I choke when I eat",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("choke")
      }), struggling) %}
  {% endif %}
  {% if data['eat-drink-day'].includes("cutting-food")
      or data['eat-drink-day'].includes("putting-food")
      or data['eat-drink-day'].includes("eat-drink-something-else") %}
    {% set struggling = (struggling.push({
        value: "help",
        text: "Someone has to physically help me eat or drink",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("help")
      }), struggling) %}
  {% endif %}
  {% if data['eat-drink-day'].includes("putting-food")  
      or data['eat-drink-day'].includes("chewing-swallowing")
      or data['eat-drink-day'].includes("eat-drink-something-else") %}
    {% set struggling = (struggling.push({
        value: "safety",
        text: "I cannot eat or drink safely",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("safety")
      }), struggling) %}
  {% endif %}
  {% if data['eat-drink-day'].includes("putting-food")      
      or data['eat-drink-day'].includes("identifying-food")
      or data['eat-drink-day'].includes("eat-drink-something-else") %}
    {% set struggling = (struggling.push({
        value: "confused",
        text: "I get confused when eating",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("confused")
      }), struggling) %}
  {% endif %}
  {% if data['eat-drink-day'].includes("cutting-food") 
      or data['eat-drink-day'].includes("putting-food") 
      or data['eat-drink-day'].includes("chewing-swallowing")
      or data['eat-drink-day'].includes("eat-drink-something-else") %}
    {% set struggling = (struggling.push({
        value: "tube",
        text: "I'm tube fed",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("tube")
      }), struggling) %}
  {% endif %}
  {% if data['eat-drink-day'].includes("cutting-food")      
      or data['eat-drink-day'].includes("putting-food") 
      or data['eat-drink-day'].includes("chewing-swallowing")     
      or data['eat-drink-day'].includes("identifying-food") 
      or data['eat-drink-day'].includes("motivation-eat") 
      or data['eat-drink-day'].includes("motivation-drink") 
      or data['eat-drink-day'].includes("eat-drink-something-else") %}
    {% set struggling = (struggling.push({
        value: "eat-drink-why-something-else",
        text: "I struggle in another way",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("eat-drink-why-something-else"),
        conditional: {
          html: conditionalSomethingElseEatDrinkWhy
        }
      }), struggling) %}
  {% endif %}


  {{ govukCheckboxes
    ({
      idPrefix: "eat-drink-day-why",
      name: "eat-drink-day-why",
      fieldset: {
        legend: {
          text: "Can you tell us more about how you're struggling?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['eat-drink-day-why'].error,
      items: struggling
    })
  }}
{% endblock %}

{% set conditionalSomethingElseEatDrinkWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us in what other way you struggle'
      },
    id: "something-else-eating-drinking-day-why-explain",
    name: "something-else-eating-drinking-day-why-explain",
    errorMessage: data.validation['something-else-eating-drinking-day-why-explain'].error,
    value: data['something-else-eating-drinking-day-why-explain']
    }) }}
{% endset %}