{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}


{% block form %}

  <span class="govuk-caption-l">Taking medication or receiving treatment during the day</span>

  <h1 class="govuk-heading-l">
    Tell us more about your difficulties when you take medication or receive treatment
  </h1>
  <p class="govuk-body">
    You told us you have difficulties with:
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    {% for item in data['medication-treatment-day'] %}
      {% if item == 'something-else-medication' %}
        <li>{{ data['something-else-explain-medication'] }}</li>
      {% endif %}
      {% if item != 'something-else-medication' %}
        <li>
          {{ item 
          | replace("dressings-bandages", "changing dressings or bandages")
          | replace("applying-cream", "applying cream") 
          | replace("administering-medication", "administering medication")
          | replace("administering-treatment", "administering treatment") 
          | replace("right-medication-dosage", "taking the right medication and dosage at the right day or time") 
          | replace("coping-side-effects", "coping with the side effects of my medication or treatment")
          | replace("motivation-medication", "motivating myself to take medication or receive treatment") }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>

   {% set struggling = [] %}
  {% if data['medication-treatment-day'].includes("dressings-bandages") 
      or data['medication-treatment-day'].includes("applying-cream") 
      or data['medication-treatment-day'].includes("administering-medication")  
      or data['medication-treatment-day'].includes("administering treatment")
      or data['medication-treatment-day'].includes("motivation-medication") %}
    {% set struggling = (struggling.push({
        value: "long-time",
        text: "I do not have help but I struggle and it takes me a long time",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("long-time")
      }), struggling) %}
  {% endif %}
  {% if data['medication-treatment-day'].includes("administering-medication")  
      or data['medication-treatment-day'].includes("administering treatment")
      or data['medication-treatment-day'].includes("right-medication-dosage") %}
    {% set struggling = (struggling.push({
        value: "someone-prepare",
        text: "Someone has to prepare my medication or treatment for me",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("someone-prepare")
      }), struggling) %}
  {% endif %}
  {% if data['medication-treatment-day'].includes("dressings-bandages") 
      or data['medication-treatment-day'].includes("applying-cream") 
      or data['medication-treatment-day'].includes("administering-medication")  
      or data['medication-treatment-day'].includes("administering treatment")
      or data['medication-treatment-day'].includes("right-medication-dosage")
      or data['medication-treatment-day'].includes("motivation-medication") %}
    {% set struggling = (struggling.push({
        value: "remind-encourage",
        text: "Someone has to remind or encourage me to take my medication or treatment",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("remind-encourage")
      }), struggling) %}
  {% endif %}
  {% if data['medication-treatment-day'].includes("dressings-bandages") 
      or data['medication-treatment-day'].includes("applying-cream") 
      or data['medication-treatment-day'].includes("administering-medication")  
      or data['medication-treatment-day'].includes("administering treatment")
      or data['medication-treatment-day'].includes("right-medication-dosage") %}
    {% set struggling = (struggling.push({
        value: "help",
        text: "Someone has to physically help me take my medication or treatment",
        hint: {
          text: 'For example, this might be taking medicine, using an inhaler or having an injection'
          },
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("help")
      }), struggling) %}
  {% endif %}
  {% if data['medication-treatment-day'].includes("walking-around")  
      or data['medication-treatment-day'].includes("chair") 
      or data['medication-treatment-day'].includes("wheel")     
      or data['medication-treatment-day'].includes("stairs") 
      or data['medication-treatment-day'].includes("moving-indoors-something-else") %}
    {% set struggling = (struggling.push({
        value: "medication-treatment-day-why-something-else",
        text: "I struggle in another way",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("medication-treatment-day-why-something-else"),
        conditional: {
          html: conditionalSomethingElseMedicationTreatmentWhy
        }
      }), struggling) %}
  {% endif %}
  {% if data['medication-treatment-day'].includes("dressings-bandages") 
      or data['medication-treatment-day'].includes("applying-cream") 
      or data['medication-treatment-day'].includes("administering-medication")  
      or data['medication-treatment-day'].includes("administering treatment")
      or data['medication-treatment-day'].includes("right-medication-dosage")
      or data['medication-treatment-day'].includes("coping-side-effects")
      or data['medication-treatment-day'].includes("motivation-medication")
      or data['medication-treatment-day'].includes("something-else-medication") %} 
    {% set struggling = (struggling.push({
        value: "medication-treatment-day-why-something-else",
        text: "I struggle in another way",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("medication-treatment-day-why-something-else"),
        conditional: {
          html: conditionalSomethingElseMedicationTreatmentWhy
        }
      }), struggling) %}
  {% endif %}       

  {{ govukCheckboxes
    ({
      idPrefix: "medication-treatment-day-why",
      name: "medication-treatment-day-why",
      fieldset: {
        legend: {
          text: "Can you tell us more about how you're struggling?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['medication-treatment-day-why'].error,
      items: struggling
    })
  }}
{% endblock %}

{% set conditionalSomethingElseMedicationTreatmentWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us in what other way you struggle'
      },
    id: "something-else-medication-treatment-day-why-explain",
    name: "something-else-medication-treatment-day-why-explain",
    errorMessage: data.validation['something-else-medication-treatment-day-why-explain'].error,
    value: data['something-else-medication-treatment-day-why-explain']
    }) }}
{% endset %}