{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Moving around indoors during the day</span>
  <h1 class="govuk-heading-l govuk-!-margin-bottom-5">Tell us more about your difficulties with moving around indoors</h1>

  <p class="govuk-body govuk-!-margin-bottom-0">
    You told us you have difficulties with:
  </p>
  <p class="govuk-heading-m govuk-!-margin-bottom-0">
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      {% for item in data['moving-indoors-day'] %}
      {% if item == 'moving-indoors-something-else' %}
        <li>{{ data['something-else-explain'] }}</li>
      {% endif %}
       {% if item != 'moving-indoors-something-else' %}
        <li>
          {{ item
          | replace("walking-around", "walking around")
          | replace("chair", "getting in or out of a chair")
          | replace("wheel", "transferring to or from a wheelchair")
          | replace("stairs", "going up or down stairs")
          | replace("reminding-motivating", "reminding or motivating myself to move") }}
        </li>
        {% endif %}
      {% endfor %}
    </ul>
  </p>

  {{ govukCheckboxes
    ({
      idPrefix: "moving-indoors-why",
      name: "moving-indoors-why",
      fieldset: {
        legend: {
          text: "Can you tell us more about how you're struggling?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Choose all that apply to you."
      },
      errorMessage: data.validation['moving-indoors-why'].error,
      items: [{
        value: "shuffle",
        text: "I shuffle or take very small steps",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("shuffle")
      },
      {
        value: "unsteady",
        text: "I'm very unsteady, even if I use an aid or lean on things",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("unsteady")
      },
      {
        value: "slow",
        text: "I'm very slow",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("slow")
      },
      {
        value: "several-attemps-chair",
        text: "It takes me several attempts to get out of a chair",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("several-attemps-chair")
      },
      {
        value: "physically-assisted",
        text: "Someone has to physically assist me",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("physically-assisted")
      },
      {
        value: "move-around-safely",
        text: "I cannot move around safely",
        hint: {
          text: "For example, you get dizzy, crawl or go downstairs on your bottom"
        },
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("move-around-safely")
      },
      {
        value: "chair-bound",
        text: "I sit in a chair all day",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("chair-bound")
      },
      {
        value: "bed-bound",
        text: "I'm confined to my bed",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("bed-bound")
      },
      {
        value: "something-else-moving-around",
        text: "I struggle in another way",
        checked: true if data["moving-indoors-why"] and data["moving-indoors-why"].includes("something-else-moving-around"),
        conditional: {
          html: conditionalSomethingElseMovingAroundIndoorsWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseMovingAroundIndoorsWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us in what other way you struggle'
      },
    id: "something-else-moving-around-why-explain",
    name: "something-else-moving-around-why-explain",
    errorMessage: data.validation['something-else-moving-around-why-explain'].error,
    value: data['something-else-medication-moving-around-why-explain']
    }) }}
{% endset %}
