{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}


{% block form %}

<span class="govuk-caption-l">Using the toilet or managing incontinence during the day</span>

  <h1 class="govuk-heading-l">
    Tell us more about your difficulties with using the toilet or managing incontinence
  </h1>

  <p class="govuk-body govuk-!-margin-bottom-0">
    You told us you have difficulties with:
  </p>
  <p class="govuk-heading-m">
    <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-0 govuk-!-margin-bottom-8">
      {% for item in data['toilet-day'] %}
        {% if item == 'toilet-something-else' %}
          <li>{{data['something-else-explain-toilet']}}</li>
        {% endif %}
        {% if item != 'toilet-something-else' %}
          <li>
            {{ item 
            | replace("toilet-getting-to", "getting to the toilet or commode")
            | replace("toilet-urgent", "needing the toilet urgently")
            | replace("toilet-getting-on-off", "getting on or off the toilet or commode")
            | replace("toilet-cleaning-myself", "cleaning myself after using the toilet") 
            | replace("toilet-emptying", "emptying and managing my stoma, catheter or similar")
            | replace("toilet-remembering", "remembering to use the toilet")  
            | replace("managing-incontinence", "managing my incontinence")
            | replace("toilet-not-always", "I do not always use the toilet or commode") }}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </p>

  {% set struggling = [] %}
  {% if data['toilet-day'].includes("toilet-getting-on-off")
      or data['toilet-day'].includes("toilet-something-else") %}
    {% set struggling = (struggling.push({
        value: "lean-on-sink-radiator",
        text: "I need to lean on something such as the sink or radiator",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("lean-on-sink-radiator")
      }), struggling) %}
  {% endif %}
  {% if data['toilet-day'].includes("toilet-getting-on-off") 
      or data['toilet-day'].includes("toilet-not-always")
      or data['toilet-day'].includes("toilet-something-else") %}
    {% set struggling = (struggling.push({
        value: "toilet-raised",
        text: "I can only use a toilet if it's raised",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-raised")
      }), struggling) %}
  {% endif %}
  {% if data['toilet-day'].includes("toilet-getting-on-off")  
      or data['toilet-day'].includes("toilet-not-always")
      or data['toilet-day'].includes("toilet-something-else") %}
    {% set struggling = (struggling.push({
        value: "toilet-several-attempts",
        text: "It takes me several attempts to get on or off the toilet or commode",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-several-attempts")
      }), struggling) %}
  {% endif %}
  {% if data['toilet-day'].includes("toilet-getting-to")  
      or data['toilet-day'].includes("toilet-urgent")
      or data['toilet-day'].includes("managing-incontinence")  
      or data['toilet-day'].includes("toilet-not-always")
      or data['toilet-day'].includes("toilet-something-else") %}
    {% set struggling = (struggling.push({
        value: "toilet-accident",
        text: "I have accidents because I cannot get there in time",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-accident")
      }), struggling) %}
  {% endif %}
  {% if data['toilet-day'].includes("toilet-getting-on-off") %}
    {% set struggling = (struggling.push({
        value: "toilet-safely",
        text: "I cannot get on or off the toilet safely",
        hint: {
          text: "For example, you get dizzy or are unbalanced"
        },
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-safely")
      }), struggling) %}
  {% endif %}
  {% if data['toilet-day'].includes("toilet-getting-to")      
      or data['toilet-day'].includes("toilet-getting-on-off") 
      or data['toilet-day'].includes("toilet-cleaning-myself")
      or data['toilet-day'].includes("toilet-emptying")
      or data['toilet-day'].includes("toilet-something-else") %}
    {% set struggling = (struggling.push({
        value: "toilet-physical-assist",
        text: "Someone has to physically assist me",
        hint: {
          text: "This might be to get on or off the toilet, to clean or change your stoma bag, or to change clothes after an accident"
        },
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-physical-assist")
      }), struggling) %}
  {% endif %}
  {% if data['toilet-day'].includes("toilet-getting-to")      
      or data['toilet-day'].includes("toilet-urgent") 
      or data['toilet-day'].includes("toilet-getting-on-off")     
      or data['toilet-day'].includes("managing-incontinence") 
      or data['toilet-day'].includes("toilet-not-always")
      or data['toilet-day'].includes("toilet-something-else") %}
    {% set struggling = (struggling.push({
        value: "collecting-device",
        text: "I use a commode, catheter, stoma or bedpan instead of the toilet",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("collecting-device")
      }), struggling) %}
  {% endif %}
  {% if data['toilet-day'].includes("toilet-getting-to")      
      or data['toilet-day'].includes("toilet-urgent") 
      or data['toilet-day'].includes("toilet-getting-on-off")  
      or data['toilet-day'].includes("toilet-cleaning-myself")     
      or data['toilet-day'].includes("toilet-emptying") 
      or data['toilet-day'].includes("toilet-remembering") 
      or data['toilet-day'].includes("managing-incontinence")
      or data['toilet-day'].includes("toilet-not-always")
      or data['toilet-day'].includes("toilet-something-else") %} 
    {% set struggling = (struggling.push({
        value: "toilet-day-something-else",
        text: "I struggle for another reason",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-day-something-else"), 
        conditional: {
          html: conditionalSomethingElseToiletWhy
        }
      }), struggling) %}
  {% endif %}

  {{ govukCheckboxes
    ({
      idPrefix: "toilet-day-why",
      name: "toilet-day-why",
      fieldset: {
        legend: {
          text: "Can you tell us more about how you're struggling?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Choose all that apply to you."
      },
      errorMessage: data.validation['toilet-day-why'].error,
      items: struggling
    })
  }}
{% endblock %}

{% set conditionalSomethingElseToiletWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us the reason you are struggling'
      },
    id: "something-else-toilet-day-explain",
    name: "something-else-toilet-day-explain",
    errorMessage: data.validation['something-else-toilet-day-explain'].error,
    value: data['something-else-toilet-day-explain']
    }) }}
{% endset %}