{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}


{% block form %}

  <span class="govuk-caption-l">Dressing or undressing yourself during the day</span>

  <h1 class="govuk-heading-l">
    Tell us more about your difficulties with dressing or undressing
  </h1>
  <p class="govuk-body">
    You told us you have difficulties with:
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    {% for item in data['dress-day'] %}
      {% if item == 'something-else-dressing' %}
        <li>{{ data['something-else-explain-dressing'] }}</li>
      {% endif %}
      {% if item != 'something-else-dressing' %}
        <li>
          {{ item 
          | replace("put-on-take-off", "putting on or taking off clothes or footwear")
          | replace("choosing-clothes", "choosing appropiate clothes") 
          | replace("forget-want-change-clothes", "forgetting to or not wanting to change my clothes")
          }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
							
  {{ govukCheckboxes
    ({
      idPrefix: "dress-day-why",
      name: "dress-day-why",
      fieldset: {
        legend: {
          text: "Can you tell us more about how you're struggling?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['dress-day-why'].error,
      items: [{
        value: "breathless",
        text: "I get breathless",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("breathless")
      },
      {
        value: "restricted-movement",
        text: "I have restricted movement due to pain",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("restricted-movement")
      },
      {
        value: "long-time-dress",
        text: "It takes me a long time to get dressed or undressed",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("long-time-dress")
      },
      {
        value: "remind-get-dressed",
        text: "Someone has to remind me to get dressed or undressed",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("remind-get-dressed")
      },
      {
        value: "help-dress",
        text: "Someone has to physically help me getting dressed or undressed",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("help-dress")
      },
      {
        value: "cannot-dress",
        text: "I cannot put on or take off clothes or footwear on my own",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("cannot-dress")
      },
      {
        value: "dress-day-why-something-else",
        text: "I struggle in another way",
        checked: true if data["dress-day-why"] and data["dress-day-why"].includes("dress-day-why-something-else"),
        conditional: {
          html: conditionalSomethingElseDressDayWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseDressDayWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us in what other way you struggle'
      },
    id: "something-else-dress-day-why-explain",
    name: "something-else-dress-day-why-explain",
    errorMessage: data.validation['something-else-dress-day-why-explain'].error,
    value: data['something-else-dress-day-why-explain']
    }) }}
{% endset %}