{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}


{% block form %}

  <span class="govuk-caption-l">Taking medication or receiving treatment during the day</span>

  <h1 class="govuk-heading-l">
    Tell us more about your difficulties when you take medication or receive treatment
  </h1>
  <p class="govuk-body">
    You told us you have difficulties with:
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    {% for item in data['medication-treatment-day'] %}
      {% if item == 'something-else-medication' %}
        <li>{{ data['something-else-explain-medication'] }}</li>
      {% endif %}
      {% if item != 'something-else-medication' %}
        <li>
          {{ item 
          | replace("dressings-bandages", "changing dressings or bandages")
          | replace("applying-cream", "applying cream") 
          | replace("administering-medication", "administering medication")
          | replace("oxygen-therapy", "Having oxygen therapy") 
          | replace("right-medication-dosage", "taking the right medication and dosage at the right day or time") 
          | replace("coping-side-effects", "Coping with the side effects of my medication or treatment")
          | replace("motivation-medication", "Motivating myself to take medication or receive treatment") }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
							
  {{ govukCheckboxes
    ({
      idPrefix: "medication-treatment-day-why",
      name: "medication-treatment-day-why",
      fieldset: {
        legend: {
          text: "Can you tell us more about how you're struggling?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['medication-treatment-day-why'].error,
      items: [{
        value: "long-time",
        text: "I do not have help but I struggle and it takes me a long time",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("long-time")
      },
      {
        value: "someone-prepare",
        text: "Someone has to prepare the medication or treatment for me",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("someone-prepare")
      },
      {
        value: "remind-encourage",
        text: "Someone has to remind or encourage me to take my medication or treatment",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("remind-encourage")
      },
      {
        value: "help",
        text: "Someone has to physically help me take the medication or treament",
        hint: {
          text: 'For example this might be taking medicine, using an inhaler or having an injection'
          },
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("help")
      },
      {
        value: "medication-treatment-day-why-something-else",
        text: "I struggle with something else",
        checked: true if data["medication-treatment-day-why"] and data["medication-treatment-day-why"].includes("medication-treatment-day-why-something-else"),
        conditional: {
          html: conditionalSomethingElseMedicationTreatmentWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseMedicationTreatmentWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us what you struggle with'
      },
    id: "something-else-medication-treatment-day-why-explain",
    name: "something-else-medication-treatment-day-why-explain",
    errorMessage: data.validation['something-else-medication-treatment-day-why-explain'].error,
    value: data['something-else-medication-treatment-day-why-explain']
    }) }}
{% endset %}