{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% extends "v5-layouts/prototypeLayout.njk" %}


{% block form %}

  {% call govukFieldset({
    legend: {
      text: "What is the name of the hospice?",
      classes: "govuk-fieldset__legend--l",
      isPageHeading: true
    }
  }) %}

  {{ govukInput({
    label: {
      text: 'Name of hospice', 
      isPageHeading: true
    },
    classes: "govuk-!-width-two-thirds",
    errorMessage: data.validation['hospice-address'].error,
    id: "hospice-name",
    name: "hospice-name",
    value: data["hospice-name"],
    autocomplete: "hospice-name"
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode", 
      isPageHeading: true
    },
    classes: "govuk-input--width-10",
    errorMessage: data.validation['hospice-postcode'].error,
    id: "hospice-postcode",
    name: "hospice-postcode",
    value: data["hospice-postcode"],
    autocomplete: "hospice-postcode"
  }) }}

{% endcall %}
  
{% endblock %}

{% block postForm %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">
        <a href="accommodation-address-outside-uk" class="govuk-link">
         The address is outside of the UK
        </a>
      </p>
    </div>
  </div>
  {% include './macros/assisted-digital-details.njk' %}

{% endblock %}