{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "../macros/phase-button.njk" import phaseButton %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/prototypeLayout.njk" %}

{% block head %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="/accessible-autocomplete.min.css" />
  <script src="/accessible-autocomplete.min.js"></script>
  <style>
    .autocomplete__option {
      font-size: 19px;
      line-height: 1.31579;
      font-family: GDS Transport,arial,sans-serif;
      -webkit-font-smoothing: antialiased;
    }
  </style>
{% endblock %}

{% block form %}

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading govuk-body govuk-!-margin-bottom-4">
      Your illnesses, physical and mental disabilities
    </h1>
  </legend>

  {% if data['illness-disability-rows'] %}
    {{ govukSummaryList({
      classes: "govuk-!-margin-bottom-9",
      rows: data["illness-disability-rows"]
    }) }}
  {% endif %}

  <h2 class="govuk-heading-m">
    Search for illness, physical and mental disabilities
  </h2>
  <div class="govuk-hint">
    Add an illness or condition that contributes to the difficulties you have during your typical day and night routine.
  </div>
  <div class="govuk-hint">
    You will be able to add more later.
  </div>
  <div id="illness-disability-container" class="govuk-!-margin-bottom-6">
  </div>

  {% block formButton %} 
  {% endblock %}

  <div class="govuk-button-group">
    {{ phaseButton(data, "Add condition") }}
    {% if data['illness-disability'] %}
      {{ govukButton({
        text: "Skip",
        classes: "govuk-button--secondary",
        href: "renal-dialysis" if 'Acute Kidney (renal) failure R21' in data['illness-disability'] or 'Kidney (renal) Chronic failure R22' in data['illness-disability'] or 'Kidney (renal) transplantation R23' in data['illness-disability'] or 'Kidney (renal) transplantation – rejection of R30' in data['illness-disability'] or 'Kidney (renal) Dialysis (which fulfils the deeming provision criteria)' in data['illness-disability'] else "special-rules-declaration"
      }) }}
    {% endif %}
  </div>

  <div>
    <a href="illness-disability-manual" class="govuk-link">
      I can't find my illness or disability
    </a>
  </div>

  <script>
    const illnesses = [
      "Anaemia - Iron deficiency",
      "Anaemia - B12 (pernicious)/folate deficiency",
      "Anaemia - Aplastic",
      "Anaemias",
      "Acute Kidney (renal) failure R21",
      "Kidney (renal) Chronic failure R22",
      "Kidney (renal) transplantation R23",
      "Kidney (renal) transplantation – rejection of R30",
      "Kidney (renal) Dialysis (which fulfils the deeming provision criteria)",
      "Hereditary spherocytosis",
      "Thalassaemia",
      "Anaemia - Sickle cell",
      "Haemolytic disorders",
      "Glucose 6 phosphate dehydrogenase (G6PD) deficiency",
      "Metabolic red cell disorders ",
      "Polycythaemia",
      "Haemophilia A",
      "Haemophilia B (Christmas disease)",
      "Von Willebrand’s disease",
      "Clotting disorders ",
      "Autoimmune (idiopathic) thrombocytopaenic purpura (ITP)",
      "Platelet disorders",
      "Blood disorders ",
      "HIV/AIDs",
      "Post COVID syndrome (Long COVID)",
      "Viral diseases excluding hepatitis and poliomyelitis",
      "Creutzfeldt – Jacob disease (CJD)",
      "Prion diseases",
      "Tuberculosis",
      "Bacterial diseases",
      "Malaria",
      "Protozoal diseases",
      "Infectious diseases ",
      "Mouth/tongue - cancer",
      "Oesophagus - cancer",
      "Stomach - cancer",
      "Pancreas - cancer",
      "Liver - cancer",
      "Bowel (colon, recturm, anus) - cancer ",
      "Gastrointestinal tract - Other cancers ",
      "Larynx - cancer ",
      "Bronchus - cancer",
      "Mesothelioma",
      "Lung cancers ",
      "Respiratory tract - Other cancers",
      "Kidney - cancer",
      "Bladder - cancer",
      "Prostate - cancer ",
      "Ovary - cancer",
      "Cervix - cancer",
      "Endometrium (uterus / womb) - cancer ",
      "Testicle - Cancer ",
      "Wilms tumour",
      "Genitourinary tract - Other cancers ",
      "Hodgkins lymphoma",
      "Non Hodgkins lymphoma",
      "Myeloma",
      "Leukaemia - myelogenous (myeloid) acute",
      "Leukaemia - lymphoblastic - acute",
      "Leukaemia - myeloid - chronic",
      "Leukaemia - lymphocytic - chronic",
      "Leukaemias - Other",
      "Haematological system - Other cancers",
      "Melanoma",
      "Skin cancers - Other",
      "Brain and spinal cord - cancer ",
      "Osteosarcoma",
      "Chondrosarcoma",
      "Fibrosarcoma",
      "Ewing’s sarcoma",
      "Angiosarcoma",
      "Giant cell tumour - malignant",
      "Bone - Other cancers ",
      "Breast - cancer ",
      "Primary cancer – site not known",
      "Neuroblastoma",
      "Sarcomas - Other ",
      "Cancers - Other",
      "Severely Visually Impaired (SVI)",
      "Severely Mentally Impaired (SMI)",
      "Double Amputee",
      "Deaf / Blind",
      "Haemodialysis",
      "Hyperlipidaemia",
      "Carbohydrate metabolism - disorders",
      "Amino acid metabolism - disorders",
      "Inborn errors of metabolism - Other ",
      "Amyloidosis",
      "Porphyria",
      "Obesity",
      "Metabolic diseases - Other",
      "Personality disorder",
      "Speech or language disorders – Other ",
      "Dyslexia",
      "Specific childhood learning disorder – Other",
      "Post traumatic stress disorder (PTSD)",
      "Stress reaction disorders - Other",
      "Generalised anxiety disorder",
      "Phobia - Specific",
      "Phobia - Social",
      "Agoraphobia",
      "Panic disorder",
      "Anxiety disorders - Other",
      "Obsessive compulsive disorder (OCD)",
      "Anxiety and depressive disorders - mixed",
      "Conversion disorder (hysteria)",
      "Body dysmorphic disorder (BDD)",
      "Dissociative disorders - Other",
      "Somatoform disorders - Other",
      "Depressive disorder",
      "Bipolar affective disorder (Hypomania / Mania)",
      "Mood disorders - Other",
      "Schizophrenia",
      "Schizoaffective disorder",
      "Psychotic disorders - Other",
      "Dementia",
      "Cognitive disorder due to stroke",
      "Cognitive disorders - Other",
      "Anorexia nervosa",
      "Bulimia nervosa",
      "Eating disorders",
      "Alcohol misuse",
      "Drug misuse",
      "Munchausen syndrome",
      "Factitious disorders - Other",
      "Down’s syndrome",
      "Fragile X syndrome",
      "General learning disability - Other",
      "Autism",
      "Asperger syndrome",
      "Retts disorder",
      "ADHD / ADD (including hyperkinetic syndrome/disorder)/ Deficits in Attention, Motor Control and Perception",
      "Conduct disorder (including oppositional defiant disorder)",
      "Bedwetting (enuresis)",
      "Bowel Incontinence / Faecal soiling (encopresis)",
      "Cerebrovascular accident (stroke)",
      "Transient ischaemic attacks (TIAs)",
      "Cerebrovascular disease – Other",
      "Generalised seizures (without status epilepticus in last 12 months)",
      "Generalised seizures (with status epilepticus in last 12 months)",
      "Partial seizures (without status epilepticus in last 12 months)",
      "Partial seizures (with status epilepticus in last 12 months)",
      "Narcolepsy",
      "Cataplexy",
      "Seizures - unclassified",
      "Stokes Adams attacks (cardiovascular syncope)",
      "Syncope - Other",
      "Non epileptic Attack disorder (pseudoseizures)",
      "Drop attacks",
      "Disturbances of consciousness - Non-epileptic - Other",
      "Parkinson’s disease",
      "Parkinson's syndrome / Parkinsonism",
      "Essential tremor - benign",
      "Huntington’s disease",
      "Tourette’s syndrome",
      "Torticollis",
      "Blepharospasm",
      "Writer’s cramp",
      "Movement disorders - Other",
      "Multiple sclerosis",
      "Neurofibromatosis",
      "tumours - benign - Other",
      "Hydrocephalus",
      "Migraine",
      "Headache - Other",
      "Head injury - Cognitive impairment",
      "Head injury - Sensorimotor impairment",
      "Head injury - Cognitive and sensorimotor impairment",
      "Paraplegia (traumatic)",
      "Tetraplegia (traumatic)",
      "Syringomyelia / Syringobulbia",
      "Spinal cord compression - Other",
      "Motor neurone disease",
      "Cerebral palsy – Quadriplegia",
      "Degenerative neuronal diseases - Other",
      "Cerebral palsy - diplegia",
      "cerebral palsy - athetoid",
      "Cerebral palsy - causing hemiparesis",
      "cerebral palsy - ataxic",
      "Cerebral palsy - Other",
      "Spina bifida",
      "Ataxia - Friedrich’s",
      "Ataxias - Other",
      "Diabetic neuropathy",
      "Guillain Barre syndrome",
      "Charcot Marie Tooth disease",
      "Neuropathies - Other including peripheral",
      "Brachial plexus",
      "Peripheral nerve injury - Other",
      "Polymyositis",
      "Dermatomyositis",
      "Myasthenia gravis",
      "Dystrophia myotonica (Myotonic Dystrophy)",
      "Muscle - Other diseases ",
      "Muscular dystrophy - Duchenne",
      "Muscular dystrophy - Becker type",
      "Muscular dystrophy - limb girdle",
      "Facioscapulohumeral dystrophy",
      "Muscular dystrophy - Other",
      "Poliomyelitis and post polio syndrome",
      "Infections - Other",
      "Speech, Language & Phonological disorders",
      "Dizziness – cause not specified",
      "Neurological disorders - Other",
      "Scleritis",
      "Keratitis",
      "Corneal ulceration",
      "Herpes zoster - ophthalmic",
      "Keratoconus",
      "Orbital cellulitis",
      "Entropion",
      "Ptosis",
      "Conjunctiva, cornea, eyelids and lacrimal apparatus - Other diseases ",
      "Anterior Uveitis (iritis)",
      "Posterior (choroiditis)",
      "Chorioretinal disorders - Other ",
      "Glaucoma",
      "Eyes - Injuries to",
      "Posterior vitreous detachment",
      "Vitreous haemorrhage",
      "Vitreous disease - Other",
      "Retinal detachment",
      "Retinal artery occlusion",
      "Retinal vein occlusion",
      "Macular degeneration",
      "Diabetic retinopathy",
      "Hypertensive retinopathy",
      "Retinopathy - Other",
      "Optic neuritis",
      "Optic atrophy",
      "Retinitis Pigmentosa",
      "Retina and optic nerve - Other diseases ",
      "Cataract",
      "Myopia (short-sighted)",
      "Hypermetropia (long-sighted)",
      "Presbyopia",
      "Astigmatism",
      "Refractive errors - Other",
      "Strabismus (Squint)",
      "Nystagmus",
      "Eye movement - Other disorders",
      "Amblyopia",
      "Tunnel vision",
      "Scotoma",
      "Hemianopia",
      "Quadrantanopia",
      "Diplopia (double vision)",
      "Cortical blindness",
      "Visual field defects - Other",
      "Vision - Other diseases ",
      "Otitis externa - chronic",
      "Chronic suppurative otitis media",
      "Mastoiditis",
      "Chronic secretory otitis media",
      "Otosclerosis",
      "Conductive hearing loss due to Trauma",
      "Conductive hearing loss - Other",
      "Deafness - congenital",
      "Presbyacusis",
      "Labyrinthitis",
      "Menieres disease",
      "Sensorineural hearing loss due to Trauma",
      "Sensorineural hearing loss - Other",
      "Hearing loss - mixed",
      "Hearing - Disease affecting hearing & balance - Other",
      "Hypertension",
      "Angina",
      "Myocardial infarction",
      "Ischaemic heart disease - Other",
      "Pericarditis",
      "Aortic valve disease",
      "Pulmonary valve disease",
      "Mitral valve",
      "Tricuspid valve disease",
      "Malformations of the heart - Congenital - Other ",
      "Buerger’s disease",
      "Atherosclerosis (PVD / Claudication)",
      "Raynaud’s disease/phenomenon",
      "Arterial disease excluding coronary - Other",
      "Deep vein thrombosis",
      "Peripheral venous disease - Other ",
      "Cardiovascular disease - Other ",
      "Hiatus hernia / gastroesophageal reflux disease / reflux oesophagitis",
      "Oesophageal varices",
      "Peptic ulcer (gastric and duodenal)/gastritis",
      "Oesophagus, stomach and duodenum - Other diseases/disorders",
      "Coeliac disease",
      "Small bowel - Other diseases/disorders ",
      "Crohns disease",
      "Ulcerative colitis",
      "Constipation",
      "Diverticular disease / diverticulitis",
      "Colitis - Ischaemic",
      "Colon - Other diseases/disorders",
      "Anorectal abscess",
      "Haemorrhoids",
      "Rectal prolapse",
      "Fistula in anus",
      "Rectum/anus - Other diseases/disorders",
      "Irritable bowel syndrome (IBS)",
      "Mesenteric ischaemia",
      "Tumours of the gastrointestinal tract - benign",
      "Hernia",
      "Cleft lip",
      "Cleft palate/Cleft lip and cleft palate",
      "Gastrointestinal tract - Other diseases/disorders",
      "Autoimmune hepatitis",
      "Steatohepatitis - non-alcoholic",
      "Hepatitis - Chronic - Other ",
      "Cirrhosis - Alcohol induced",
      "Hepatitis B and D infection",
      "Hepatitis C infection",
      "Primary Biliary cirrhosis",
      "Cirrhosis - Autoimmune",
      "Haemochromatosis",
      "Wilson’s disease",
      "Cirrhosis - Other",
      "Ascites",
      "Hepatic encephalopathy",
      "Peritonitis",
      "Liver failure - Other",
      "Liver transplantation",
      "Gallstones",
      "Gallbladder and biliary tract - Other diseases",
      "Pancreatitis - chronic",
      "Pancreas – Other diseases",
      "Impetigo",
      "Cellulitis",
      "Infections - Other",
      "Eczema (dermatitis)",
      "Eczema - varicose",
      "Psoriasis",
      "Urticaria",
      "Acne vulgaris",
      "Rosacea",
      "Papulosquamous and inflammatory rashes - Other",
      "Pemphigus vulgaris",
      "Pemphigoid",
      "Dermatitis herpetiformis",
      "Epidemolysis bullosa",
      "Bullous disease - Other",
      "Leg ulcers (venous)",
      "Venous insufficiency - chronic",
      "Leg ulcers (arterial)",
      "Pressure sores",
      "Lymphoedema",
      "Blood vessels/lymphatics - Other diseases",
      "Ehlers Danlos syndrome",
      "Collagen and elastic tissue - Other diseases",
      "Burns",
      "Skin disease - Other",
      "Osteoarthritis of Hip",
      "Osteoarthritis of Knee",
      "Osteoarthritis of other single joint",
      "Generalised Osteoarthritis of 2 or more joints",
      "Fibromyalgia",
      "Chronic fatigue syndrome (CFS)",
      "Pain syndromes - Chronic - Other",
      "Rheumatoid arthritis",
      "Ankylosing spondylitis",
      "Arthritis - Psoriatic",
      "Arthritis - Reactive",
      "Juvenile Idiopathic Arthritis",
      "Inflammatory arthritis - Other",
      "Gout",
      "Pseudogout",
      "Crystal deposition disorders - Other",
      "Osteonecrosis",
      "Osteochondritis",
      "Rickets",
      "Osteomalacia",
      "Osteoporosis",
      "Paget’s disease",
      "Other metabolic and endocrine disorders of musculoskeletal system",
      "Hereditary multiple exostosis (diaphyseal aclasis)",
      "Achondroplasia (Restricted growth)",
      "Epiphyseal dysplasia - multiple",
      "Osteogenesis imperfecta",
      "Marfan’s syndrome",
      "Hypermobility syndrome",
      "Genetic disorders, dysplasias and malformations - Other",
      "Tumours of bone - benign",
      "Compartment syndrome (Volkmann’s ischaemia)",
      "Sudek’s atrophy",
      "Fracture complications - Other ",
      "Generalised musculoskeletal disease - Other",
      "Rotator cuff disorder",
      "Adhesive capsulitis (frozen shoulder)",
      "Shoulder instability",
      "Shoulder disorders - Other",
      "Tennis elbow (lateral epicondylitis)",
      "Golfers elbow (medial epicondylitis)",
      "Elbow disorders - Other",
      "Tenosynovitis",
      "Carpal tunnel syndrome",
      "Dupuytrens contracture",
      "Tendon lesions",
      "Wrist and hand disorders - Other",
      "Cervical disc lesion",
      "Cervical spondylosis",
      "Whiplash injury",
      "Neck disorders - Other",
      "Back pain - Non specific (mechanical)",
      "Scoliosis",
      "Kyphosis",
      "Schuermann’s disease",
      "Lumbar disc lesion",
      "Spinal stenosis",
      "Spondylolisthesis",
      "Lumbar spondylosis (OA spine)",
      "Back pain - Specific - Other",
      "Dislocation of the hip – congenital including developmental dysplasia of the hip",
      "Perthes disease",
      "Slipped upper (capital) femoral epiphysis",
      "Hip disorders - Other",
      "Meniscal lesions",
      "Ligamentous instability of knee",
      "Osgood schlatters disease",
      "Osteochondritis dissecans",
      "Patellar dislocation - Recurrent",
      "Chondromalacia patellae",
      "Bursitis",
      "Knee disorders - Other",
      "Club foot (talipes)",
      "Hallux valgus /rigidus",
      "Fore foot pain (Metatarsalgia)",
      "Ankle and foot disorders - Other",
      "Amputation - Upper limb(s)",
      "Amputation - Lower limb(s)",
      "Amputations - Upper & Lower limb/s",
      "Spine - Injury/Fracture/Dislocation",
      "Thorax - Injury/Fracture/Dislocation",
      "Pelvis - Injury/Fracture/Dislocation",
      "Upper limb - Injury/Fracture/Dislocation",
      "Multiple - Injury/Fracture/Dislocation",
      "Lower limb - Injury/Fracture/Dislocation",
      "Musculoskeletal disease - Regional / Localised - Other",
      "Systemic lupus erythematosus (SLE)",
      "Antiphospholipid syndrome",
      "Systemic sclerosis (scleroderma)",
      "Sjogren’s syndrome",
      "Polymyalgia rheumatica",
      "Temporal (giant cell) arteritis (Headache)",
      "Polyarteritis nodosa",
      "Behcet’s disease",
      "Vasculitis - Other",
      "Autoimmune disease - Other",
      "Incontinence - urge",
      "Incontinence - stress",
      "Urinary Overflow",
      "Incontinence (not Enuresis/Bedwetting) - Other ",
      "Glomerulonephritis",
      "Nephrotic syndrome",
      "Urinary tract infection",
      "Interstitial nephritis",
      "Renal calculi",
      "Hydronephrosis",
      "Kidney disease/disorder - Other",
      "Renal failure - acute",
      "Renal failure - chronic",
      "Renal transplantation",
      "Transplant rejection - renal",
      "Prostatic disease",
      "Bladder, urethra, testes and penis - Other diseases/disorders",
      "Ovarian cyst (benign)",
      "Pelvic inflammatory disease",
      "Endometriosis",
      "Fibroids",
      "Uterine prolapse",
      "Ovary, uterus, cervix, vagina and vulva - Other diseases/disorders",
      "Genitourinary disease/disorder - Other ",
      "Diabetes insipidus",
      "Growth hormone deficiency",
      "Hypothalamic and pituitary diseases - Other",
      "Diabetes mellitus Type 1 (insulin dependent)",
      "Diabetes mellitus Type 2 (insulin & non insulin dependent)",
      "Diabetes mellitus (category unknown)",
      "Hypothyroidism (myxoedema)",
      "Hyperthyroidism (thyrotoxicosis), including Graves disease",
      "Goitre",
      "Thyroid diseases - Other",
      "Addison’s disease",
      "Cushing’s syndrome",
      "Adrenal diseases - Other",
      "Hyperparathyroidism",
      "Hypoparathyroidism",
      "Parathyroid diseases - Other",
      "Endocrine diseases - Other",
      "Sleep apnoea - obstructive",
      "Diseases of the upper respiratory tract: Includes diseases of the nose and throat above the larynx - Other diseases",
      "Chronic obstructive pulmonary disease (COPD) chronic bronchitis/emphysema",
      "Bronchiectasis",
      "Cystic fibrosis",
      "Asthma",
      "Pneumonia",
      "Extrinsic allergic alveolitis",
      "Fibrosing alveolitis",
      "Pulmonary fibrosis - Other",
      "Pneumoconiosis - coalworkers lung",
      "Silicosis",
      "Asbestosis",
      "Pneumoconiosis - Other",
      "Sarcoidosis",
      "Granulomatous lung disease and pulmonary infiltration - Other",
      "Pleural effusion",
      "Pneumothorax",
      "Empyema",
      "Pleura - Other",
      "Lung transplantation",
      "Heart and lung transplantation",
      "Pulmonary embolus",
      "Diseases of the lower respiratory tract: Includes diseases of the lungs, trachea and larynx - Other diseases",
      "Complications of prematurity",
      "Faltering growth",
      "Chromosomal syndrome - Other",
      "Old age",
      "Allergy with a risk of anaphylaxis",
      "Allergy - risk of anaphylaxis unknown or not fully assessed",
      "Allergy - no risk of anaphylaxis",
      "Oral allergy syndrome",
      "Food intolerance",
      "Angiodema",
      "Hypersensitivity diseases - Other",
      "Immune system - Other diseases "
    ];

    accessibleAutocomplete({
      element: document.querySelector('#illness-disability-container'),
      id: 'illness-disability',
      name: 'illness-disability',
      source: illnesses
    })
  </script>

{% endblock %}

