{% from "./macros/check-answers-details-section.njk" import checkAnswersDetailsSection %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "v5-layouts/prototypeLayout.njk" %}


{% block form %}
<h1 class="govuk-heading-l">Check your answers</h1>

        {{ checkAnswersDetailsSection(data) }}

{{ govukButton({
  text: "Accept and continue"
}) }}
{% endblock %}

{% block formButton %}
{% endblock %}


{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

