{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "v5-layouts/prototypeLayout.njk" %}


{% block form %}

{% set allErrors  = ' govuk-input--error ' if data.validation['difficulties-start-date'].error.href === '#difficulties-start-date' %}
  {% set dayError   = ' govuk-input--error ' if data.validation['difficulties-start-date'].error.href === '#difficulties-start-date-day' %}
  {% set monthError = ' govuk-input--error ' if data.validation['difficulties-start-date'].error.href === '#difficulties-start-date-month' %}
  {% set yearError  = ' govuk-input--error ' if data.validation['difficulties-start-date'].error.href === '#difficulties-start-date-year' %}

{% set startDateHtml %}
    {{ govukDateInput({
      id: "difficulties-start-date",
      namePrefix: "difficulties-start-date",
      classes: "govuk-!-margin-bottom-2",
      fieldset: {
        legend: {
          classes: "govuk-body",
          text: "Approximate start date"
        }
      },
      hint: {
        text: "For example, 23 04 2021"
      },
      errorMessage: data.validation['difficulties-start-date'].error,
      items: [
        {
          classes: 'govuk-input--width-2' + allErrors + dayError,
          name: 'day',
          value: data['difficulties-start-date-day']
        },
        {
          classes: 'govuk-input--width-2' + allErrors + monthError,
          name: 'month',
          value: data['difficulties-start-date-month']
        },
        {
          classes: 'govuk-input--width-4' + allErrors + yearError,
          name: 'year',
          value: data['difficulties-start-date-year']
        }
      ]
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "start-date",
    name: "start-date",
    fieldset: {
      legend: {
        text: "How long have you had these difficulties?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['start-date'].error,
    items: [
      {
        value: "less-than-six-months",
        text: "Less than 6 months",
        checked: true if data["start-date"] === "less-than-six-months", 
        conditional: {
            html: startDateHtml
          }
      },
      {
        value: "more-than-six-months",
        text: "More than 6 months",
        checked: true if data["start-date"] === "more-than-six-months"
      }
    ]
  }) }}

  

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}