{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">What is your full name?</h1>

  {{ govukInput({
    label: {
      text: "What is your full name?",
      classes: "govuk-label",
      isPageHeading: true
    },
    errorMessage: data.validation['full-name'].error,
    id: "full-name",
    name: "full-name",
    value: data["full-name"]
  }) }}

  {{ govukInput({
    label: {
      text: "What is your full name?",
      classes: "govuk-label",
      isPageHeading: true
    },
    errorMessage: data.validation['full-name'].error,
    id: "full-name",
    name: "full-name",
    value: data["full-name"]
  }) }}

  {{ govukInput({
    label: {
      text: "What is your full name?",
      classes: "govuk-label",
      isPageHeading: true
    },
    errorMessage: data.validation['full-name'].error,
    id: "full-name",
    name: "full-name",
    value: data["full-name"]
  }) }}
  
{% endblock %}
