{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
 <span class="govuk-caption-l">Getting in and out of bed during the day</span>
   <h1 class="govuk-heading-l">
     You told us you have difficulty getting in or out of your bed
   </h1>
  {{ govukCheckboxes
    ({
      idPrefix: "bed-day",
      name: "bed-day",
      fieldset: {
        legend: {
          text: "What do you struggle with?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['bed-day'].error,
      items: [{
        value: "getting-into-bed",
        text: "Getting into bed",
        checked: true if data["bed-day"] and data["bed-day"].includes("getting-into-bed")
      },
      {
        value: "getting-out-bed",
        text: "Getting out of bed",
        checked: true if data["bed-day"] and data["bed-day"].includes("getting-out-bed")
      },
      {
        value: "motivation-bed",
        text: "Forgetting or lacking the motivation to get up in the morning or go to bed at night",
        checked: true if data["bed-day"] and data["bed-day"].includes("motivation-bed")
      },
      {
        value: "something-else-bed",
        text: "I struggle with something else",
        checked: true if data["bed-day"] and data["bed-day"].includes("something-else-bed"), 
        conditional: {
          html: conditionalSomethingElseBedHtml
        }
      },
      {
        divider: "or"
      },
      {
        value: "none",
        text: "I do not struggle getting in or out of bed",
        behaviour: "exclusive",
        checked: true if data["bed-day"] and data["bed-day"].includes("none")
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseBedHtml %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: true,
    label: {
      text: 'Tell us what you struggle with'
      },
    id: "something-else-explain-bed",
    name: "something-else-explain-bed",
    errorMessage: data.validation['something-else-explain-bed'].error,
    value: data['something-else-explain-bed']
    }) }}
{% endset %}