{% from "../macros/v5.11.0-components/service-navigation/macro.njk" import govukServiceNavigation %}
{%- set assetPath = '/govuk/assets' -%}

{% extends "./template.njk" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/govuk-frontend-5.11.0.min.css" />
  <script type="module" src="/govuk-frontend-5.11.0.min.js"></script>

{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype Kit - Apply for Attendance Allowance
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    rebrand: true
  }) }}

  {{ govukServiceNavigation({
  serviceName: "Apply for Attendance Allowance",
  serviceUrl: "/"
}) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      rebrand: true,
      meta: {
        items: [
          {
            href: "/survey",
            text: "Survey"
          }
        ]
      }
    }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
  {% block scripts %}
     <script type='module'>
      import { initAll } from '/govuk-frontend-5.11.0.min.js'

      initAll()
    </script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}