{% extends "v5.11.0-layouts/prototypeLayout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        Sorry, the service is unavailable
      </h1>

      <p class="govuk-body">
        You will be able to use the service later.
      </p>

      <p class="govuk-body">
        We have not saved your answers. When the service is available, you will have to start again.
      </p>

      <p class="govuk-body">
        Contact the Attendance Allowance helpline to speak to someone about your application.
      </p>

     <p class="govuk-body">
        Telephone:<br>
        <strong class="govuk-!-font-weight-bold">0800 731 0122</strong><br>
        Telephone (Northern Ireland only):<br>
        <strong class="govuk-!-font-weight-bold">0800 587 0912</strong><br>
      </p>

      <p class="govuk-body">
        Textphone:<br>
        <strong class="govuk-!-font-weight-bold">0800 731 0317</strong><br>
        Textphone (Northern Ireland only):<br>
         <strong class="govuk-!-font-weight-bold">0800 012 1574</strong>
      </p>

      <p class="govuk-body">
        <a href='https://www.relayuk.bt.com' class="govuk-link">Relay UK</a> (if you cannot hear or speak on the phone):<br>
        <strong class="govuk-!-font-weight-bold">18001</strong> then <strong class="govuk-!-font-weight-bold">0800 731 0122</strong>
      </p>

      <p class="govuk-body">
        <a href='https://connect.interpreterslive.co.uk/vrs?ilc=DWP' class="govuk-link">Video relay service</a> for British Sign Language (BSL) users<br>
        <a href='https://www.youtube.com/watch?v=oELNMfAvDxw' class="govuk-link">(Check you can use the video relay service)</a>
      </p>

      <p class="govuk-body">
        Opening times:<br>
        <strong class="govuk-!-font-weight-bold">Monday to Friday, 8am to 6pm</strong>
      </p>

      <p class="govuk-body">
        <a href='https://www.gov.uk/call-charges' class="govuk-link">
          Find out about call charges
        </a>
      </p>
    </div>
  </div>


   <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-margin-top-7">
        Mae'n ddrwg gennym, nid yw'r gwasanaeth ar gael
      </h1>

      <p class="govuk-body">
        Byddwch yn gallu defnyddio'r gwasanaeth yn nes ymlaen.
      </p>

      <p class="govuk-body">
        Nid ydym wedi arbed eich atebion. Pan fydd y gwasanaeth ar gael, bydd yn rhaid i chi ddechrau eto.
      </p>

      <p class="govuk-body">
        Cysylltwch â llinell gymorth Lwfans Gweini os oes gennych unrhyw gwestiynau.
      </p>

      <p class="govuk-body">
        Ffôn:<br>
        <strong class="govuk-!-font-weight-bold">0800 731 0122</strong>
      </p>

      <p class="govuk-body">
        Ffôn testun:<br>
        <strong class="govuk-!-font-weight-bold">0800 731 0317</strong>
      </p>

      <p class="govuk-body">
        <a href='https://www.relayuk.bt.com' class="govuk-link">Relay UK</a> (os na allwch glywed neu siarad dros y ffôn):<br>
        <strong class="govuk-!-font-weight-bold">18001</strong> yna <strong class="govuk-!-font-weight-bold">0800 731 0122</strong>
      </p>

      <p class="govuk-body">
        <a href='https://connect.interpreterslive.co.uk/vrs?ilc=DWP' class="govuk-link">Gwasanaeth 'video relay'</a> ar gyfer defnyddwyr Iaith Arwyddion Prydain (BSL)<br>
        <a href='https://www.youtube.com/watch?v=oELNMfAvDxw' class="govuk-link">(Gwiriwch y gallwch ddefnyddio'r gwasanaeth 'video relay')</a>
      </p>

      <p class="govuk-body">
        Amseroedd agor:<br>
        <strong class="govuk-!-font-weight-bold">Dydd Llun i ddydd Gwener, 8am i 6pm</strong>
      </p>

      <p class="govuk-body">
        <a href='https://www.gov.uk/call-charges' class="govuk-link">
          Darganfyddwch am gostau galwadau
        </a>
      </p>
    </div>
  </div>
{% endblock %}
