{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">You must be over State Pension age to apply for Attendance Allowance</h1>
  <h2 class="govuk-heading-m">If you think you are eligible</h2>
  <p class="govuk-body"><a href="birth-date" class="govuk-link">Check you have entered your correct date of birth.</a></p>
  <h2 class="govuk-heading-m">If you are under State Pension age</h2>
  <p class="govuk-body">You can <a href="https://www.gov.uk/pip" class="govuk-link">apply for Personal Independence Payment (PIP).</a></p>
  <p class="govuk-body">It can help with extra living costs if you have both:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>a long-term physical or mental health condition or disability</li>
    <li>difficulty doing certain everyday tasks or getting around</li>
  </ul>
  <p class="govuk-body">If you live in Scotland, you will need to <a href="https://www.mygov.scot/adult-disability-payment" class="govuk-link">apply for Adult Disability Payment (ADP).</a></p>
{% endblock %}

{% block formButton %}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}