{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
        <h1 class="govuk-heading-l">Based on your answers, you may not get Attendance Allowance</h1>
        <p class="govuk-body">You are not eligible for Attendance Allowance if you get any of these:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>Adult Disability Payment (ADP)</li>
          <li>Disability Living Allowance (DLA)</li>
          <li>Personal Independence Payment (PIP)</li>
        </ul>
      <div class="govuk-inset-text">
        If you continue to apply for Attendance Allowance, the decision maker may look at these other benefits as well as your Attendance Allowance claim, which may result in a change to what you currently receive.
      </div>
      <p class="govuk-body">You can <a href="nationality" class="govuk-link">continue to apply for Attendance Allowance</a> but you may not be entitled to it.</p>
{% endblock %}

{% block formButton %}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}
