{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <span class="govuk-caption-l">Kidney conditions</span>  

  {{ govukRadios({
    idPrefix: "renal-dialysis-where",
    name: "renal-dialysis-where",
    fieldset: {
      legend: {
        text: "Where do you have your dialysis?", 
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['renal-dialysis-where'].error,
    hint: {
      html: specialRulesBody
    },
    items: [
      {
        value: "home",
        text: "I'm receiving my treatment at home",
        checked: true if data["renal-dialysis-where"] === "home"
      },
      {
        value: "hospital",
        text: "I'm receiving my treatment at a hospital or health centre",
        checked: true if data["renal-dialysis-where"] === "hospital"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}