{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukRadios({
    idPrefix: "residence-country",
    name: "residence-country",
    fieldset: {
      legend: {
        text: "Where do you live?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['residence-country'].error,
    items: [
      {
        value: "england",
        text: "England",
        checked: true if data["residence-country"] === "england"
      },
      {
        value: "scotland",
        text: "Scotland",
        checked: true if data["residence-country"] === "scotland"
      },
      {
        value: "wales",
        text: "Wales",
        checked: true if data["residence-country"] === "wales"
      },
      {
        value: "northern-ireland",
        text: "Northern Ireland",
        checked: true if data["residence-country"] === "northern-ireland"
      },
      {
        divider: "or"
      },
      {
        value: "abroad",
        text: "Somewhere else",
        checked: true if data["residence-country"] === "abroad"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}