{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "v5.9.0-layouts/prototypeLayout.njk" %}


{% block form %}
  <span class="govuk-caption-l">About the DWP appointee</span>
  
  {{ govukInput({
    label: {
      text: "What is your telephone number?",
      classes: "govuk-label--l",
      isPageHeading: true
    },
    hint: {
      text: "For international numbers include the country code."
    },
    classes: "govuk-input--width-30",
    errorMessage: data.validation['representative-telephone-number'].error,
    id: "representative-telephone-number",
    name: "representative-telephone-number",
    value: data["representative-telephone-number"],
    autocomplete: "representative-telephone-number"
  }) }}

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}