{% extends "v5.9.0-layouts/prototypeLayout.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Apply for Attendance Allowance",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block form %}
  <h1 class="govuk-heading-l">Thank you for taking part in this testing</h1>
  <p class="govuk-body">You have completed all of the necessary questions.</p> 
  
  <p class="govuk-body">You should now close this website.</p>
  

{% endblock %}

{% block formButton %}
{% endblock %}

{% block postForm %}
{% endblock %}


{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
        ]
      }
    }) }}
  {% endblock %}


  {% block scripts %}
    {{ super() }}

 <script>dataLayer=[{'gtm.whitelist':['gaawc', 'gaawe', 'ua','cl','lcl','fsl','tl','jel','hl','v','c','ctv','e','dbg','d','f','j','smm','r','u','gas','remm','vis','evl','sdl']}]</script> 
  
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-MDFH6NT');</script>
  {% endblock %}
