{% extends "v5.9.0-layouts/prototypeLayout.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Apply for Attendance Allowance",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}
{% endblock %}

{% block form %}
  <h1 class="govuk-heading-l">You selected 'I am applying for myself'</h1>
  <p class="govuk-body">The next screen would usually only be shown to people who selected
   'I am applying for someone else' on the previous screen.</p>

   <p class="govuk-body"><div class="govuk-inset-text">For the purposes of this test, imagine that you are 
  helping the person that you support to apply for Attendance Allowance.</p></div>

   <p class="govuk-body">Please press continue and select an option from the list.</p>
  
{% endblock %}

{% block formButton %}
  <a href="best-describe" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Continue
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </a>
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
        ]
      }
    }) }}
  {% endblock %}


  {% block scripts %}
    {{ super() }}

   <script>dataLayer=[{'gtm.whitelist':['gaawc', 'gaawe', 'ua','cl','lcl','fsl','tl','jel','hl','v','c','ctv','e','dbg','d','f','j','smm','r','u','gas','remm','vis','evl','sdl']}]</script> 
  
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{ tagManagerId }}');</script>
  {% endblock %}
