{% extends "v5.9.0-layouts/prototypeLayout.njk" %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    serviceName: "Apply for Attendance Allowance",
    serviceUrl: "#",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}
{% endblock %}

{% block form %}
  <h1 class="govuk-heading-l">Oops</h1>
  <p class="govuk-body">Please read the instructions</p>
  
  <h2 class="govuk-heading-m">To proceed you need to:</h2>
  <ul class="govuk-list govuk-list--bullet">
    <li>be State Pension age or older</li>
    <li>be included in our testing cohort</li>
  </ul>

{% endblock %}

{% block formButton %}
  <a href="best-describe" role="button" draggable="false" class="govuk-button govuk-button--start" data-module="govuk-button">
    Apply now
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </a>
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}

{% block footer %}
    {{ govukFooter({
      meta: {
        items: [
        ]
      }
    }) }}
  {% endblock %}


  {% block scripts %}
    {{ super() }}

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6CW8322169"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'GTM-MDFH6NT');
    </script>
  {% endblock %}
