{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">
    Tell us more about your difficulties
  </h1>
  <p class="govuk-body">
    You told us you have difficulties with
  </p>
  -- dynamic list here --

  {{ govukCheckboxes
    ({
      idPrefix: "eat-drink-day-why",
      name: "eat-drink-day-why",
      fieldset: {
        legend: {
          text: "Why do you think you're having difficulties?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['eat-drink-day-why'].error,
      items: [{
        value: "hold",
        text: "I cannot hold cutlery and/or a cup",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("hold")
      },
      {
        value: "spill",
        text: "I spill food and drink",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("spill")
      },
      {
        value: "choke",
        text: "I choke when I eat",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("choke")
      },
      {
        value: "help",
        text: "Someone has to physically help me eat or drink",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("help")
      },
      {
        value: "safety",
        text: "I cannot eat or drink safely",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("safety")
      },
      {
        value: "confused",
        text: "I get confused when eating",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("confused")
      },
      {
        value: "tube",
        text: "I'm tube fed",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("tube")
      }]
    })
  }}
{% endblock %}