{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Using the toilet or managing incontinence in the daytime</span>
   <h1 class="govuk-heading-l">
     You told us you have difficulty with your toilet needs
   </h1>

  {{ govukCheckboxes
    ({
      idPrefix: "toilet-day",
      name: "toilet-day",
      fieldset: {
        legend: {
          text: "What do you struggle with?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Choose all that apply to you."
      },
      errorMessage: data.validation['toilet-day'].error,
      items: [{
        value: "toilet-getting-to",
        text: "Getting to the toilet or commode",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-getting-to")
      },
      {
        value: "toilet-urgent",
        text: "Needing the toilet urgently",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-urgent")
      },
      {
        value: "toilet-getting-on-off",
        text: "Getting on or off the toilet or commode",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-getting-on-off")
      },
      {
        value: "toilet-cleaning-myself",
        text: "Cleaning myself after using the toilet",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-cleaning-myself")
      },
      {
        value: "toilet-emptying",
        text: "Emptying and managing my stoma, catheter or similar",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-emptying")
      },
      {
        value: "toilet-remembering",
        text: "Remembering to use the toilet",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-remembering")
      },
      {
        value: "managing-incontinence",
        text: "Managing my incontinence",
        hint: {
          text: "For example, cleaning yourself, changing pads or changing clothes"
        },
        checked: true if data["toilet-day"] and data["toilet-day"].includes("managing-incontinence")
      },
      {
        value: "toilet-not-always",
        text: "I do not always use the toilet or commode",
        hint: {
          text: "For example, you use a catheter, stoma or bedpan instead of the toilet"
        },
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-not-always")
      },
      {
        value: "toilet-something-else",
        text: "I struggle with something else",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("toilet-something-else")
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "I do not struggle using the toilet or managing my incontinence",
        behaviour: "exclusive",
        checked: true if data["toilet-day"] and data["toilet-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}