{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
   <h1 class="govuk-heading-l">
     Tell us more about your difficulties
   </h1>

  {{ govukCheckboxes
    ({
      idPrefix: "toilet-day-why",
      name: "toilet-day-why",
      fieldset: {
        legend: {
          text: "Why do you think you're having difficulties?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "Choose all that apply to you."
      },
      errorMessage: data.validation['toilet-day-why'].error,
      items: [{
        value: "toilet-getting-to",
        text: "I need to lean on something such as the sink or radiator",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-getting-to")
      },
      {
        value: "toilet-urgent",
        text: "I can only use a toilet if it's raised",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-urgent")
      },
      {
        value: "toilet-getting-on-off",
        text: "It takes me several attempts to get on or off the toilet or commode",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-getting-on-off")
      },
      {
        value: "toilet-cleaning-myself",
        text: "I have accidents because I cannot get there in time",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-cleaning-myself")
      },
      {
        value: "toilet-emptying",
        text: "I cannot get on or off the toilet safely",
        hint: {
          text: "For example, you get dizzy or are unbalanced"
        },
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-emptying")
      },
      {
        value: "toilet-remembering",
        text: "Someone has to physically assist me",
        hint: {
          text: "This might be to get on or off the toilet, to clean or change your stoma bag, or to change clothes after an accident"
        },
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("toilet-remembering")
      },
      {
        value: "managing-incontinence",
        text: "I use a commode, catheter, stoma or bedpan instead of the toilet",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("managing-incontinence")
      },
      {
        divider: "or"
      },
      {
        value: "none-apply",
        text: "None of these apply to me",
        behaviour: "exclusive",
        checked: true if data["toilet-day-why"] and data["toilet-day-why"].includes("none-apply")
      }]
    })
  }}
{% endblock %}