{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  {{ govukRadios({
    idPrefix: "toilet-day-frequency",
    name: "toilet-day-frequency",
    fieldset: {
      legend: {
        text: "How often do you struggle with using the toilet or incontinence?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
      }
    },
    hint: {
      html: bodyToiletHtml
    }, 
    errorMessage: data.validation['toilet-day-frequency'].error,
    items: [
      {
        value: "less-than-one",
        text: "Less than once a day",
        checked: true if data["toilet-day-frequency"] === "less-than-one"
      },
      {
        value: "one-or-two",
        text: "1 or 2 times a day",
        checked: true if data["toilet-day-frequency"] === "one-or-two"
      },
      {
        value: "three-or-four",
        text: "3 or 4 times a day",
        checked: true if data["toilet-day-frequency"] === "three-or-four"
      }, 
      {
        value: "five-or-more",
        text: "5 or more times a day",
        checked: true if data["toilet-day-frequency"] === "five-or-more"
      }
    ]
  }) }}

{% endblock %}

{% set bodyToiletHtml %}
  <p class="govuk-body">
       Include any times when a partner or friend might help you currently.
    </p>
{% endset %}