{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Getting to or using the toilet during the night</span>
  <h1 class="govuk-heading-l">How often and for how long</h1>

  {{ govukRadios({
    id: "night-frequency-2-loo",
    name: "night-frequency-2-loo",
    fieldset: {
      legend: {
        text: "How many times a night do you have difficulties getting to or using the toilet?",
        isPageHeading: false,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation['night-frequency-2-loo'].error,
    items: [
      {
        value: "1",
        text: "1",
        checked: true if data["night-frequency-2-loo"] === "1"
      },
      {
        value: "2",
        text: "2",
        checked: true if data["night-frequency-2-loo"] === "2"
      },
      {
        value: "3+",
        text: "3 or more",
        checked: true if data["night-frequency-2-loo"] === "3+"
      }
    ]
  }) }}

  {{ govukInput({
    id: "night-length-2-loo",
    name: "night-length-2-loo",
    errorMessage: data.validation['night-length-2-loo'].error,
    label: {
      text: "Typically, how long do the occasions take when you need to get to or use the toilet?",
      classes: "govuk-label--m",
      isPageHeading: true
    },
    hint: {
      text: "For example,  approximately 20 minutes or 1 hour"
    }
  }) }}

{% endblock %}