{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <span class="govuk-caption-l">Someone to keep an eye on you</span>

  {{ govukRadios({
    idPrefix: "keep-eye-on-you-how-long",
    name: "keep-eye-on-you-how-long",
    fieldset: {
      legend: {
        text: "On a typical day how long can you safely be left alone?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['keep-eye-on-you-how-long'].error,
    hint: {
      html: specialRulesBody
    },
    items: [
      {
        value: "less-than-one-hour",
        text: "Less than an hour",
        checked: true if data["keep-eye-on-you-how-long"] === "less-than-one-hour"
      },
      {
        value: "more-than-one-hour",
        text: "More than an hour",
        checked: true if data["keep-eye-on-you-how-long"] === "more-than-one-hour"
      }, 
      {
        value: "cannot-left-alone",
        text: "I can't be left alone",
        checked: true if data["keep-eye-on-you-how-long"] === "cannot-left-alone"
      }
    ]
  }) }}
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}