{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <span class="govuk-caption-l">Toilet needs or managing incontinence during the night</span>

  <h1 class="govuk-heading-l">
   How do you manage your toilet needs during the night?
  </h1>

  {{ govukCheckboxes
    ({
      idPrefix: "toilet-night-why",
      name: "toilet-night-why",
      hint: {
        text: "Select all that apply."
      },
      errorMessage: data.validation['toilet-night-why'].error,
      items: [{
        value: "lean-on-sink-radiator",
        text: "I need to lean on something, for example, a sink or radiator",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("lean-on-sink-radiator")
      },
      {
        value: "toilet-raised",
        text: "I use a raised toilet seat",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("toilet-raised")
      },
      {
        value: "toilet-several-attempts",
        text: "It takes me several attempts to get on or off the toilet or commode",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("toilet-several-attempts")
      },
      {
        value: "toilet-accident",
        text: "I have accidents because I cannot get there in time",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("toilet-accident")
      },
      {
        value: "toilet-safely",
        text: "I am unable to get on or off the toilet on my own",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("toilet-safely")
      },
      {
        value: "toilet-physical-assist",
        text: "Someone has to physically assist me",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("toilet-physical-assist")
      },
      {
        value: "unable-to-manage",
        text: "I am unable to manage",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("unable-to-manage")
      },
      {
        value: "toilet-night-why-something-else",
        text: "Something else",
        checked: true if data["toilet-night-why"] and data["toilet-night-why"].includes("toilet-night-why-something-else"),
        conditional: {
          html: conditionalSomethingElseToiletNightWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseToiletNightWhy %}
 {{ govukTextarea({
    rows: "2",
    isPageHeading: false,
    label: {
      text: 'Tell us how you manage your toilet needs during the night'
    },
    id: "something-else-toilet-night-why-explain",
    name: "something-else-toilet-night-why-explain",
    errorMessage: data.validation['something-else-toilet-night-why-explain'].error,
    value: data['something-else-toilet-night-why-explain']
    })
 }}
{% endset %}

{% block postForm %}
  {% include './macros/assisted-digital-details.njk' %}
{% endblock %}