{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
 <span class="govuk-caption-l">Taking medication or receiving treatment during the day</span>

  {{ govukRadios({
    idPrefix: "medication-treatment-day-frequency",
    name: "medication-treatment-day-frequency",
    fieldset: {
      legend: {
        text: "On a typical day how many times do you have difficulties taking medication or receiving treatment?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
      }
    },
    errorMessage: data.validation['medication-treatment-day-frequency'].error,
    items: [
      {
        value: "1",
        text: "1",
        checked: true if data["medication-treatment-day-frequency"] === "1"
      },
      {
        value: "2",
        text: "2",
        checked: true if data["medication-treatment-day-frequency"] === "2"
      },
     {
        value: "3 or more",
        text: "3 or more",
        checked: true if data["medication-treatment-day-frequency"] === "3 or more"
      }
    ]
  }) }}

{% endblock %}