{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukRadios({
    idPrefix: "person-claiming",
    name: "person-claiming",
    fieldset: {
      legend: {
        text: "Who is applying?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['person-claiming'].error,
    items: [
      {
        value: "myself",
        text: "I’m applying for myself",
        checked: true if data["person-claiming"] === "myself"
      },
      {
        value: "helping-someone",
        text: "I'm helping someone else with their application",
        hint: {
          text: "I will answer the questions as if I were the applicant using information they give me."
        },
        checked: true if data["person-claiming"] === "helping-someone"
      },
      {
        value: "official-capacity",
        text: "I’m applying for someone else in an official capacity",
        hint: {
          text: "This means you have a lasting power of attorney in place for 
                property and finance for the person you are applying for.
                Or you’re the registered appointee, deputy or belong to a 
                Corporate Acting Body (CAB)."
        },
        checked: true if data["person-claiming"] === "official-capacity"
      },
      {
        value: "become-appointed",
        text: "I’m applying for someone else in an official capacity",
        hint: {
          text: "This is because they are either too ill or disabled to deal with their claim themselves, or they lack the mental capacity to manage their own affairs. Or I am in the process of becoming their legally appointed representative."
        },
        checked: true if data["person-claiming"] === "become-appointed"
      }
    ]
  }) }}
{% endblock %}