{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  {{ govukRadios({
    idPrefix: "person-claiming",
    name: "person-claiming",
    fieldset: {
      legend: {
        text: "Who is applying?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    errorMessage: data.validation['person-claiming'].error,
    items: [
      {
        value: "myself",
        text: "I’m applying for myself",
        checked: true if data["person-claiming"] and data["person-claiming"].includes("myself")
      },
      {
        value: "helping-someone",
        text: "I'm helping someone else with their application",
        hint: {
          text: "I will answer the questions as if I were the applicant using information they give me."
        },
        checked: true if data["person-claiming"] and data["person-claiming"].includes("helping-someone")
      },
      {
        value: "official-capacity",
        text: "I’m applying for someone else in an official capacity",
        hint: {
          text: "I’ve got lasting Power of Attorney for Property and Finance. Or I’m 
          the registered DWP appointee, deputy or belong to a Corporate Acting Body (CAB)."
        },
        checked: true if data["person-claiming"] and data["person-claiming"].includes("official-capacity")
      },
      {
        value: "become-appointed",
        text: "I wish to be appointed to deal with the applicant's benefits",
        hint: {
          text: "They are either too ill or disabled to deal with their application themselves, or they lack the mental capacity to manage their own affairs. Or I’m in the process of becoming their legally appointed representative."
        },
        checked: true if data["person-claiming"] and data["person-claiming"].includes("become-appointed")
      }]
  }) }}
{% endblock %}