{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      What is their telephone number?
    </h1>
  </legend>
  <p class="govuk-body">We will only phone you if we need to talk to you about your claim.</p>

  <div class="govuk-form-group">
    <div class="govuk-inset-text">
      Later you will have the opportunity to add contact details for someone else.
    </div> 
  </div>
  
  {{ govukInput({
    label: {
      text: "Their telephone number"
    },
    hint: {
    text: "Enter your main contact number. It can be a mobile or landline, and should include any dialling codes."
    },
    classes: "govuk-input--width-30",
    errorMessage: data.validation['main-contact-number'].error,
    id: "main-contact-number",
    name: "main-contact-number",
    value: data["main-contact-number"],
    autocomplete: "main-contact-number"
  }) }}

{% endblock %}