{% from "./change-link.njk" import changeLink %}
{% from "./reword-date.njk" import rewordDate %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro checkAnswersStartDateSection(data) %}

	<section class="Someone to keep you safe at home">
		<h2 class="govuk-heading-m">Someone to keep you safe at home</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row someone-to-keep-an-eye">
				<dt class="govuk-summary-list__key">
					Do you need someone with you to make sure you are safe at home?
				</dt>
				<dd class="govuk-summary-list__value">
					<ul class="govuk-list">
						{% if data['safe-day-night'] %}
							{% for item in data['safe-day-night'] %}
								<li>
									{{ item
									| replace("day", "Yes, during the day")
									| replace("night", "Yes, during the night")
									| replace("no", "No") }}
								</li>
							{% endfor %}
						{% endif %}
					</ul>
				</dd>
				<dd class="govuk-summary-list__actions">
					{{ changeLink('safe-day-night') }}
				</dd>
			</div>
			{% if data['safe-day-night'] and data['safe-day-night'].includes("day") %}
				<div class="govuk-summary-list__row safe-day-why">
					<dt class="govuk-summary-list__key">
						Tell us why you need someone to help you stay safe at home
					</dt>
					<dd class="govuk-summary-list__value">
						<ul class="govuk-list">
							{% for item in data['safe-day-why'] %}
								<li>
									{{ item
									| replace("prevent-danger", "To prevent danger to myself or others")
									| replace("wander", "I may wander or become disorientated")
									| replace("voices-or-intrusive-thoughts", "I can hear voices or experience intrustive thoughts")
									| replace("uncontrolled-seizures", "I have uncontrolled seizures, dizzy spells or blackouts")
									| replace("not-aware-hazards", "I am not aware of household hazards")
									| replace("falling", "I am at risk of hurting myself, for example by falling")
									| replace("self-harm", "I self harm")
									| replace("something-else", "Other")
									| replace("none", "None of these apply to me") }}
								</li>
							{% endfor %}
						</ul>
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('safe-day-why') }}
					</dd>
				</div>
				{% if  data['safe-day-night'] and data['safe-day-why-something-else'] %}
					<div class="govuk-summary-list__row safe-day-why">
						<dt class="govuk-summary-list__key">
							Explain why you need someone to help you stay safe at home
						</dt>
						<dd class="govuk-summary-list__value">
							{{ data['safe-day-why-something-else'] | capitalize }}
						</dd>
						<dd class="govuk-summary-list__actions">
							{{ changeLink('safe-day-why') }}
						</dd>
					</div>
				{% endif %}
				<div class="govuk-summary-list__row safe-day-length">
					<dt class="govuk-summary-list__key">
						How long can you be safely left alone during the day?
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['safe-day-length']
						| replace("cannot-be-alone", "I cannot be left alone")
						| replace("less-than-one-hour", "Less than 1 hour")
						| replace("one-or-four", "Between 1 to 4 hours")
						| replace("more-than-four", "More than 4 hours") }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('safe-day-length') }}
					</dd>
				</div>
			{% endif %}
			{% if  data['safe-day-night'] and data['safe-day-night'].includes("night") %}
				<div class="govuk-summary-list__row safe-night-frequency">
					<dt class="govuk-summary-list__key">
						Approximately, how many times is someone awake in the night to keep you safe?
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['safe-night-frequency']
						| replace("one", "1")
						| replace("two", "2")
						| replace("three-to-four", "3 to 4")
						| replace("more-than-four", "More than 4") }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('safe-night-frequency') }}
					</dd>
				</div>
				<div class="govuk-summary-list__row safe-night-length">
					<dt class="govuk-summary-list__key">
						Approximately, how long is someone awake in the night to keep you safe?
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['safe-night-length']
						| replace("less-than-one-hour", "Less than an hour")
						| replace("more-than-one-hour", "More than an hour")
						| replace("cannot-left-alone", "I can't be left alone") }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('safe-night-length') }}
					</dd>
				</div>
			{% endif %}
		</dl>
	</section>
	<section class="When your care needs started">
		<h2 class="govuk-heading-m">
			Adaptations, equipment or aids
		</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row aids-adaptations-question">
				<dt class="govuk-summary-list__key">
					Do you have any home adaptations, specialist equipment or aids?
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['aids-adaptations-question'] }}
				</dd>
				<dd class="govuk-summary-list__actions">
					{{ changeLink('aids-adaptations-question') }}
				</dd>
			</div>
		</dl>


			{% if data['aids-adaptations-question'] == "yes" %}

				<dl class="govuk-summary-list row no-border">
					<div class="govuk-summary-list__row no-border">
						<dt class="govuk-summary-list__key govuk-heading-m">Your adaptations, equipment or aids</dt>
						<dt class="govuk-summary-list__actions">
							{{ changeLink('aids-adaptations-added') }}						
						</dt>
					</div>
				</dl>
				<dl class="govuk-summary-list row no-border">
					<div class="govuk-summary-list__row no-border govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key ">{{ data['aids-adaptations'] }}</dt>
						<dt class="govuk-summary-list__value "></dt>
					</div>
					<div class="govuk-summary-list__row govuk-summary-list__row--no-actions govuk-summary-list__row--no-actions">
						<dt class="govuk-summary-list__key govuk-!-font-weight-regular">Difficulty using</dt>
						<dt class="govuk-summary-list__value ">{{ data['aids-adaptations-difficulty'] }}</dt>
					</div>
				</dl>
			{% endif %}


			{% if data['aids-adaptations-question'] == "no" %}
				<div class="govuk-summary-list__row aids-adaptations-reason">
					<dt class="govuk-summary-list__key">
						Tell us why you do not use any adaptations, equipment or aids
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['aids-adaptations-reason'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('aids-adaptations-reason') }}
					</dd>
				</div>
			{% endif %}
			{% if data['aids-adaptations-question'] == "no" and data['aids-adaptations-reason'] == "other" %}
				<div class="govuk-summary-list__row aids-adaptations-reason">
					<dt class="govuk-summary-list__key">
						Explain why you do not use any adaptations, equipment or aids
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['aids-adaptations-reason-other'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('aids-adaptations-reason') }}
					</dd>
				</div>
			{% endif %}
		</dl>
	</section>
	<section class="When your care needs started">
		<h2 class="govuk-heading-m">
			When you started to experience difficulties
		</h2>
		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row difficulties-start-date">
				<dt class="govuk-summary-list__key">
					How long have you had these difficulties?
				</dt>
				<dd class="govuk-summary-list__value">
				{{ data['start-date'] 
					| replace("less-than-six-months", "Less than 6 months")
					| replace("more-than-six-months", "More than 6 months")
				}}
				</dd>
				<dd class="govuk-summary-list__actions">
					{{ changeLink('difficulties-start-date') }}
				</dd>
			</div>
			{% if data['start-date'] == "less-than-six-months" %}
				<div class="govuk-summary-list__row difficulties-start-date">
					<dt class="govuk-summary-list__key">
						Start date of your difficulties
					</dt>
					<dd class="govuk-summary-list__value">
						{% if data['difficulties-start-date-day'] %}
							{{ rewordDate(data['difficulties-start-date-day'], data['difficulties-start-date-month'], data['difficulties-start-date-year']) }}
						{% endif %}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('difficulties-start-date') }}
					</dd>
				</div>
			{% endif %}
		</dl>
	</section>

{% endmacro %}
