{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <span class="govuk-caption-l">Dressing or undressing yourself during the day</span>

  <h1 class="govuk-heading-l">
    Do you need to change your clothes during the day?
  </h1>

  {{ govukRadios({
    idPrefix: "additional-dress-day",
    name: "additional-dress-day",
    hint: {
        text: "For example, if you spill something or have incontinence."
    },
    errorMessage: data.validation['additional-dress-day'].error,
    items: [
      {
        value: "yes",
        text: "Yes",
        checked: true if data["additional-dress-day"] === "yes",
        conditional: {
          html: frequencyDayHtml
        }
      },
      {
        value: "no",
        text: "No",
        checked: true if data["additional-dress-day"] === "no"
      }
    ]
  }) }}
{% endblock %}

{% set frequencyDayHtml %}
   {{ govukInput({
    classes: "govuk-input--width-4",
    isPageHeading: true,
    label: {
      text: 'On average, how many times do you change your clothes?'
    },
    id: "dress-frequency",
    name: "dress-frequency",
    errorMessage: data.validation['dress-frequency'].error,
    value: data['dress-frequency']
    }) }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}