{% from "./macros/check-answers-details-section.njk" import checkAnswersDetailsSection %}
{% from "./macros/check-answers-day-section.njk" import checkAnswersDaySection %}
{% from "./macros/check-answers-night-section.njk" import checkAnswersNightSection %}
{% from "./macros/check-answers-contact-details-section.njk" import checkAnswersContactDetailsSection %}
{% from "./macros/check-answers-start-date-section.njk" import checkAnswersStartDateSection %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <a href="evidence" class="govuk-back-link">Back</a>
  <h1 class="govuk-heading-l">Check your answers before sending your application</h1>
  <p class="govuk-body">If you want to keep a copy of your application, you can print this page once you’ve finished checking your answers.</p>
  <div class="govuk-!-padding-bottom-5"></div>
    
    {{ checkAnswersDetailsSection(data) }}
    {% if data['special-rules-declaration'] != 'yes' %}
    {{ checkAnswersDaySection(data) }}
    {{ checkAnswersNightSection(data) }}
    {{ checkAnswersStartDateSection(data) }}
    {% endif %}
    
    {{ checkAnswersContactDetailsSection(data) }}
          

      
  
{% endblock %}

{% block formButton %}
  <a href="claim-submission" class="govuk-button">
    Accept and continue
  </a>
  <a href="#">
            <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Print a copy
            </button>
          </a>
{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}