{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-2">You told us about the difficulties you experience</h1>

  <p class="govuk-body">Tell us how long you’ve had these difficulties. If you are given Attendance Allowance it will help us process what you're entitled to.</p>

  <p class="govuk-body">You can get Attendance Allowance if you have had difficulties for 6 months or more.</p>

{% set startDateHtml %}
    {{ govukDateInput({
      id: "difficulties-start-date",
      namePrefix: "difficulties-start-date",
      classes: "govuk-!-margin-bottom-2",
      fieldset: {
        legend: {
          classes: "govuk-hint",
          text: "Tell us when they started below. If you do not know the exact date give an approximate date."
        }
      },
      hint: {
        text: "For example, 23 04 2021."
      },
      errorMessage: data.validation['difficulties-start-date'].error,
      items: [
        {
          classes: 'govuk-input--width-2',
          name: 'day',
          value: data['difficulties-start-date-day']
        },
        {
          classes: 'govuk-input--width-2',
          name: 'month',
          value: data['difficulties-start-date-month']
        },
        {
          classes: 'govuk-input--width-4',
          name: 'year',
          value: data['difficulties-start-date-year']
        }
      ]
    }) }}
  {% endset -%}

  {{ govukRadios({
    idPrefix: "start-date",
    name: "start-date",
    fieldset: {
      legend: {
        text: "How long have you had these difficulties?",
        isPageHeading: true,
        classes: "govuk-fieldset__legend--m"
      }
    },
    errorMessage: data.validation['start-date'].error,
    items: [
      {
        value: "less-than-six-months",
        text: "Less than 6 months",
        checked: true if data["start-date"] === "less-than-six-months", 
        conditional: {
            html: startDateHtml
          }
      },
      {
        value: "more-than-six-months",
        text: "More than 6 months",
        checked: true if data["start-date"] === "more-than-six-months"
      }
    ]
  }) }}

  

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}