
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

  <h1 class="govuk-heading-xl">You told us you are helping someone to apply</h1>
  <p class="govuk-body">You can help someone apply if:</p>
 
  <ul class="govuk-list govuk-list--bullet">
    <li>the applicant is giving you the answers</li>
    <li>the applicant can be contacted about their claim</li>
  </ul>

  <p class="govuk-body">If not, you should <a href="https://www.gov.uk/become-appointee-for-someone-claiming-benefits" target="_blank" class="govuk-link">apply to become their appointee.</a>.</p>

  <p class="govuk-body">You should answer the questions as if you are the applicant.</p>


{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}