{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}

    <span class="govuk-caption-l">Washing or bathing during the day</span>
    <h1 class="govuk-heading-l">
      What do you find difficult when washing, having a bath or shower?  
    </h1>

  {{ govukCheckboxes
    ({
      idPrefix: "wash-day",
      name: "wash-day",
      hint: {
        text: 'Select all that apply.'
      },
      errorMessage: data.validation['wash-day'].error,
      items: [{
        value: "get-in-out-bath",
        text: "Getting in or out of a bath",
        checked: true if data["wash-day"] and data["wash-day"].includes("get-in-out-bath")
      },
      {
        value: "wash-drying-myself",
        text: "Washing or drying myself",
        checked: true if data["wash-day"] and data["wash-day"].includes("wash-drying-myself")
      },
      {
        value: "taking-shower",
        text: "Taking a shower",
        checked: true if data["wash-day"] and data["wash-day"].includes("taking-shower")
      },
      {
        value: "forgetting-lacking-motivation-wash",
        text: "Forgetting or lacking the motivation to wash, bathe or shower",
        checked: true if data["wash-day"] and data["wash-day"].includes("forgetting-lacking-motivation-wash")
      },
       {
        value: "something-else-washing",
        text: "Something else",
        checked: true if data["wash-day"] and data["wash-day"].includes("something-else-washing"), 
        conditional: {
          html: conditionalSomethingElseWashingHtml
          }
      },
      {
        divider: "or"
      },
      {
        value: "no-other-apply",
        text: "I do not have difficulty when washing, having a bath or shower",
        behaviour: "exclusive",
        checked: true if data["wash-day"] and data["wash-day"].includes("no-other-apply")
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseWashingHtml %}
   {{ govukTextarea({
    rows: "2",
    isPageHeading: true,
    label: {
      text: 'Tell us what you find difficult when washing or having a bath or shower'
    },
    id: "something-else-explain-washing",
    name: "something-else-explain-washing",
    errorMessage: data.validation['something-else-explain-washing'].error,
    value: data['something-else-explain-washing']
    }) }}
{% endset %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}