{% from "./change-link.njk" import changeLink %}
{% from "./reword-date.njk" import rewordDate %}
{% from "./reword-format.njk" import rewordFormat %}

{% macro checkAnswersContactDetailsSection(data) %}

	<section class="Your contact details">
		<h2 class="govuk-heading-m">
			Contact details
		</h2>

		<dl class="govuk-summary-list govuk-!-margin-bottom-9">
			<div class="govuk-summary-list__row telephone-number">
				<dt class="govuk-summary-list__key">
					Your telephone number
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['main-contact-number'] }}
				</dd>
				 <dd class="govuk-summary-list__actions">
					{{ changeLink('telephone-number') }}
				</dd>
			</div>

			<div class="govuk-summary-list__row add-contact-details">
        <dt class="govuk-summary-list__key">
          Do you want to add contact details for someone else?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['add-contact-details'] | replace("yes", "Yes") | replace("no", "No")| capitalize }}
        </dd>
        <dd class="govuk-summary-list__actions">
          {{ changeLink('add-contact-details') }}
        </dd>
      </div>
      {% if data['add-contact-details'] == 'yes' %}
        <div class="govuk-summary-list__row add-contact-details">
          <dt class="govuk-summary-list__key">
            Their name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['add-contact-details-name'] | capitalize }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('add-contact-details') }}
					</dd>
				</div>
				<div class="govuk-summary-list__row telephone-number-other">
					<dt class="govuk-summary-list__key">
						Their telephone number
					</dt>
					<dd class="govuk-summary-list__value">
					{{ data['main-contact-number-other'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('telephone-number-other') }}
					</dd>
				</div>
				<div class="govuk-summary-list__row preference-contact">
					<dt class="govuk-summary-list__key">
						Who should we contact first if we have questions?
					</dt>
					<dd class="govuk-summary-list__value">
					{{ data['preference-contact'] 
					| replace("prefer-claimant", "Call me first") 
					| replace("prefer-person-helping", "Call the person who’s helping me first")
					| replace("no-preference", "I don’t mind")
					}}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('preference-contact') }}
					</dd>
				</div>
			{% endif %}


			<div class="govuk-summary-list__row formats">
				<dt class="govuk-summary-list__key">
				Alternative Formats
				</dt>
				<dd class="govuk-summary-list__value">
				<ul class="govuk-list">
					{% for format in data['alternative-formats'] %}
					<li>
						{{ rewordFormat(format) }}
					</li>
					{% endfor %}
				</ul>
				</dd>
				<dd class="govuk-summary-list__actions">
				{{ changeLink('alternative-formats') }}
				</dd>
			</div>

			<div class="govuk-summary-list__row email-confirm">
				<dt class="govuk-summary-list__key">
					Would you like an email confirmation
				</dt>
				<dd class="govuk-summary-list__value">
					{{ data['email-confirm'] | capitalize }}
				</dd>
				<dd class="govuk-summary-list__actions">
					{{ changeLink('email-confirm') }}
				</dd>
			</div>

			{% if data['email-confirm']== "yes" %}
				<div class="govuk-summary-list__row email-confirm">
					<dt class="govuk-summary-list__key">
						Email address
					</dt>
					<dd class="govuk-summary-list__value">
						{{ data['contact-by-email'] }}
					</dd>
					<dd class="govuk-summary-list__actions">
						{{ changeLink('email-confirm') }}
					</dd>
				</div>
			{% endif %}
			</dl>
	</section>

{% endmacro %}
