{% macro phaseButton(value, customText) %}
  <button class="govuk-button" data-module="govuk-button">
    {% if customText %}
      {{ customText }}
    {% else %}
      {% if value['cya-destination'] %}
        Save changes
      {% else %}
        Continue
      {% endif %}
    {% endif %}
  </button>   
{% endmacro %}
