{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% extends "layouts/prototypeLayout.njk" %}

{% block form %}
  <h1 class="govuk-heading-l">
    Tell us more about your difficulties
  </h1>
  <p class="govuk-body">
    You told us you have difficulties with:
  </p>
  
  <ul class="govuk-list govuk-list--bullet">
    {% for item in data['eat-drink-day'] %}
      {% if item == 'eat-drink-something-else' %}
        <li>{{ data['something-else-eating-drinking-day-explain'] }}</li>
      {% endif %}
      {% if item != 'eat-drink-something-else' %}
        <li>
          {{ item 
          | replace("cutting-food", "cutting up the food on my plate")
          | replace("putting-food", "putting food or drink in my mouth") 
          | replace("chewing-swallowing", "chewing or swallowing food or drink")
          | replace("identifying-food", "identifying the food on my plate") 
          | replace("motivation-eat", "forgetting or lacking the motivation to eat") 
          | replace("motivation-drink", "forgetting or lacking the motivation to drink") }}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
							
  {{ govukCheckboxes
    ({
      idPrefix: "eat-drink-day-why",
      name: "eat-drink-day-why",
      fieldset: {
        legend: {
          text: "Why do you think you're having difficulties?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: 'Choose all that apply to you.'
      },
      errorMessage: data.validation['eat-drink-day-why'].error,
      items: [{
        value: "hold",
        text: "I cannot hold cutlery and/or a cup",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("hold")
      },
      {
        value: "spill",
        text: "I spill food and drink",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("spill")
      },
      {
        value: "choke",
        text: "I choke when I eat",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("choke")
      },
      {
        value: "help",
        text: "Someone has to physically help me eat or drink",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("help")
      },
      {
        value: "safety",
        text: "I cannot eat or drink safely",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("safety")
      },
      {
        value: "confused",
        text: "I get confused when eating",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("confused")
      },
      {
        value: "tube",
        text: "I'm tube fed",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("tube")
      }, 
      {
        divider: "or"
      }, 
      {
        value: "something-else",
        text: "I struggle with something else related to eating or drinking",
        checked: true if data["eat-drink-day-why"] and data["eat-drink-day-why"].includes("something-else"),
        conditional: {
          html: conditionalSomethingElseEatDrinkWhy
        }
      }]
    })
  }}
{% endblock %}

{% set conditionalSomethingElseEatDrinkWhy %}
   {{ govukInput({
    classes: "govuk-input--width-40",
    isPageHeading: false,
    label: {
      text: 'Tell us what you find difficult'
      },
    id: "something-else-eating-drinking-day-why-explain",
    name: "something-else-eating-drinking-day-why-explain",
    errorMessage: data.validation['something-else-eating-drinking-day-why-explain'].error,
    value: data['something-else-eating-drinking-day-why-explain']
    }) }}
{% endset %}