
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% extends "v5.9.0-layouts/prototypeLayout.njk" %}

{% block form %}
      <a class="govuk-back-link" href="home-address-postcode">Back</a>
      
      <h1 class="govuk-heading-l">You cannot apply for Attendance Allowance in your postcode area</h1>
      
      <p class="govuk-body">
        Attendance Allowance is being replaced by Pension Age Disability Payment (PADP) in Scotland.
      </p>

      <p class="govuk-body">
        The postcode you entered is in one of the pilot areas for this new benefit. You should apply for PADP instead.
      </p>

      <p class="govuk-body">
        Find out <a class="govuk-link govuk-link" href="https://www.mygov.scot/pension-age-disability-payment">
        how to claim PADP</a>.
      </p>
    
{% endblock %}

{% block formButton %}
{% endblock %}
       