
{% from "govuk/components/button/macro.njk" import govukButton %}

{% extends "v5.9.0-layouts/prototypeLayout.njk" %}


{% block form %}

  <h1 class="govuk-heading-l">
    Posting your supporting documents
  </h1>

  <p class="govuk-body">
    Include your National Insurance number with anything you send to us.
  </p>

  <p class="govuk-body">
    Send your supporting documents to:
  </p>

  <div class="govuk-inset-text">
    Freepost<br/>
    DWP Attendance Allowance
  </div>

  <p class="govuk-body">
    You do not need a postcode or a stamp.
  </p>
  
  <p class="govuk-body">
    Send copies as original documents cannot be sent back to you.
  </p>

{% endblock %}

{% block postForm %}
    {% include './macros/assisted-digital-details.njk' %}
{% endblock %}